[2019-10-07 07:33] stanislaw55 opened #310 "Unable to compile PyTango with boost 1.69 on CentOS 7.7"
Hello PyTango community,
recently I've been trying to compile PyTango on CentOS 7.7 with boost version 1.69 using Python 3.6. In CentOS, it is accessible under `boost169`, not `boost` in `/usr/lib64` or `/usr/include`. I had to make symbolic link in order to make it work.

Apart from that, there was wrong assumption of boost python library name. It looks for `libboost_python3`, but there's `libboo

[2019-10-07 08:11] woutdenolf commented on #309
The `connect_db` was just to provide a minimal working example to produce the message. I'm not using it. It actually happens on an [`add_TgClass` call](https://gitlab.esrf.fr/limagroup/Lima-tango-python/blob/master/LimaCCDs.py#L2756). The database is started using [from tango.databaseds.database import main as base_main](https://gitlab.esrf.fr/bliss/bliss/blob/master/bliss/tango/servers/databaseds

[2019-10-07 09:04] woutdenolf commented on #308
```ApiUtil.cleanup()``` does what I want. The use case is unit testing: I need a clean environment for each test (with a new tango db at random port) so I do not need to preserve existing proxies. Using the full tango url as you suggested is better of course, but I do not launch the device server myself or specify its url (this is all done in a subprocess launched by the Bliss library which my tes

[2019-10-07 09:04] #308 closed, assigned to nobody

[2019-10-07 13:07] stufisher opened #311 "Event issue with 9.3.1/2"
There seems to be some issue with eventing in 9.3.2. This worked ok in 9.2.5a.

If i build a test device using the high level `Device` server api events look to be emitted ok, however using `Device_4Impl` results is nothing being emitted.

Heres my test case:

HLAPI:
[code]

LLAPI:
[code]

and my test script:
[code]

With a device running the HLAPI, events are emitted every 1s as expected. With my

[2019-10-07 17:15] tiagocoutinho commented on #311
The example you show is flawless.
Could be a strange bug in the server.

I will have a look tomorrow. Thanks for reporting.

[2019-10-08 12:41] tiagocoutinho commented on #311
@stufisher,

@jairomoldes noticed that inheriting from Device_4Impl instead of Device_5Impl on (Py)Tango 9.3.x seems to be the cause for the problem.

The bug was reported in Tango C++ project (see [here](https://github.com/tango-controls/cppTango/issues/591))

There is a simple fix which is to inherit from `PyTango.LatestDeviceImpl` instead of `PyTango.Device_XImpl`.

The LatestDeviceImpl member

[2019-10-08 12:41] #311 closed, assigned to nobody

[2019-10-08 18:44] andygotz commented on #311
@jairomoldes thanks for noticing this!

[2019-10-09 01:18] ajoubertza opened #312 "How to create READ_WITH_WRITE attribute in high-level API"
As part of improvements to POGO PythonHL code generation, testing was done with the TangoTest device xmi file.  This includes READ_WITH_WRITE attributes ([example](https://github.com/tango-controls/TangoTest/blob/3d71754e8bc907f8a32bcf11805a79e45a13d9c3/TangoTest.xmi#L303)), which are not currently handled by POGO.  Is this possible with the high level API, and if so, how?

(@tiagocoutinho I'm hop

[2019-10-09 08:53] grm84 commented on #312
Hi @ajoubertza @tiagocoutinho I've just created a python version of TangoTest starting from the xmi file. Its not an exact replica and yes I had to remove READ_WITH_WRITE. I'm using it to test the pybind project but if you think it maybe useful I can commit it, initially to the pybind branch for your comments.

[2019-10-09 15:00] tiagocoutinho commented on #312
I am having trouble trying to create one attribute of this type.
In theory it should be something like:
[code]

but I am getting:
[code]

Isn't READ_WITH_WRITE deprecated in tango? Could you confirm @bourtemb?

[2019-10-10 03:49] mliszcz commented on #292
Thanks @bourtemb and @reszelaz for working on this today.

As promised, here is a summary of our findings:

1. Log with extra debugs:
[code]

subscribe_event is not finished yet but unsubscribe_event is called from Taurus. unsubscribe_event fails to acquire monitor (in DelayEvent). Both subscribe and unsubscribe are called from the same python Thread object. During subscribe, no omni_thread is con

[2019-10-10 14:52] reszelaz commented on #292
Thanks to you two for investigating this!

I just tried to run the `JobThread.run` method directly in the Start command (without starting a new thread) and the problem disappears. So, if subscribe/unsubscribe are called from the omniorb thread then everything works. I think it also discards the Hypothesis 2, cause if the finalizer `__del__` would be called from another thread it would need to cras

[2019-10-10 16:22] mliszcz commented on #292
@bourtemb
Yesterday we talked about adding `omni_orb::ensure_self es{}` in cppTango at the top of `subscribe_event()` and `unsubscribe_event()`. This will result in different omni thread ID assigned for the same physical thread during each call to one of those methods. The problem is that e.g. TangoMonitor relies on omni thread ID to detect re-entrant locking, so we may trigger some unexpected sid

[2019-10-10 18:30] mliszcz commented on #292
@bourtemb another option is to gradually remove dependency on omni_thread API, with C++11 threads or some Tango-specific class which will wrap the low-level threading interface. For instance replace `omni_thread::self()->id()` with:

[code]

[2019-10-10 22:52] ajoubertza commented on #312
@grm84 It would be useful.  I wonder whether it should be included in this repo, or in the https://github.com/tango-controls/TangoTest?  Keeping it in the TangoTest repo helps with maintainability (more likely to be updated when things change).  However, that repo is kind-of a C++ repo at the moment, and if someone cloned it, they wouldn't be able to run Python script until they installed the depe

[2019-10-14 11:05] bourtemb commented on #312
It is not advised to continue to use READ_WITH_WRITE attributes indeed.
They have never been officially fully deprecated even though we would like to.
@tiagocoutinho you need to associate another attribute when you define a READ_WITH_WRITE attribute.
I think the concept is understood by only very few Tango device servers programmers.
I don't think we should encourage people to use READ_WITH_WRITE

[2019-10-15 09:17] bourtemb commented on #292
I agree with you. I think we should not do that.

This thread_local feature might be very useful indeed in our use case.

I think it's a good idea. It might actually be enough to declare it at global scope and to initialize it there. It's maybe not needed to add this
`global_omni_thread_self;`
 line at the beginning of each method as long as the ensure_self object is created for the life time of t

[2019-10-15 09:19] bourtemb commented on #292
This works when using pthreads, but would this work with standard C++11 threads?

[2019-10-15 15:02] NexeyaSGara commented on #312
So maybe the solution is to remove it from the choices in Pogo ?
So advanced user can use it if they want

[2019-10-15 16:29] mliszcz commented on #292
global_omni_thread_self;
line at the beginning of each method as long as the ensure_self object is created for the life time of the current thread, I think it's fine and if you declare and initialize it at global scope, it might be ok...
Tests are needed to verify the behaviour.

According to this SO question:
https://stackoverflow.com/questions/24253584/when-is-a-thread-local-global-variable-init

[2019-10-15 17:58] mliszcz commented on #292
Let me answer myself:

[code]

Similar for NT threads.

So we need omni-thread friendly threads (ensure_self) probably only for ID access and thread local storage.

[2019-10-16 08:36] bourtemb commented on #312
Indeed. It's an idea.
READ_WITH_WRITE is actually documented as deprecated: https://tango-controls.readthedocs.io/en/latest/development/device-api/ds-guideline/device-server-guidelines.html#static-attribute-properties
The question is how do we deal with cases where a user wants to update an old class containing a READ_WITH_WRITE attribute with POGO?
Adding a warning message saying that this is dep

[2019-10-17 09:55] lorenzopivetta opened #313 "get_device_attribute_list and pipe methods missing from Database interface"
Seems that the method _get_device_attribute_list_ is missing from Database interface (db.py)

[2019-10-31 11:29] reszelaz opened #315 "DS hangs when concurrently subscribing to events and destructing DeviceProxy"
Hi PyTango experts,

I would like to report an issue in PyTango (or maybe cppTango?) which affects Sardana project and is actually a big show stopper for us.

In summary: while subscribing to events in one device and destroying DeviceProxy in another one in parallel the device server hangs forever.

I think that all the necessary information and the steps to reproduce it are in https://github.com/

[2019-11-06 14:10] adityadangeska commented on #271
Hello, I am facing the same error on Python 3.6.8. The attribute is string array.
Here is my tango version:

9.3.2

'9.3.3'
How this can be resolved?

[2019-11-07 20:38] ajoubertza commented on #313
@lorenzopivetta I think it will be easy for me to add it in.  Are there any other useful database methods you notice are missing?

Here are the C++ methods:  https://github.com/tango-controls/cppTango/blob/tango-9-lts/cppapi/client/Database.h

And the PyTango methods:  https://github.com/tango-controls/pytango/blob/develop/tango/db.py

[2019-11-08 07:52] lorenzopivetta commented on #313
@ajoubertza A quick search shows all the Pipe related methods are missing:
_get_device_pipe_list, get_device_pipe_property, put_device_pipe_property, delete_device_pipe_property, get_class_pipe_property, put_class_pipe_property, delete_class_pipe_property, get_class_pipe_list_
Not a short list... but would be useful to add.

[2019-11-08 09:10] grm84 commented on #313
@ajoubertza @lorenzopivetta I'll add all of these to the pybind branch.

[2019-11-16 05:08] #296 closed, assigned to nobody

[2019-11-20 07:11] ajoubertza commented on #271
@adityadangeska I assume you are referring to [this](https://gitlab.com/ska-telescope/lmc-base-classes/blob/17879d581f6c66cbc26df8d7dd604979302d275b/skabase/SKASubarray/test/SKASubarray_test.py#L360).  Using the version you've indicated above (PyTango 9.3.1 - there is no v9.3.2 of PyTango yet), the attribute I read back, using `tango_context.device.read_attribute('configuredCapabilities')`, does i

[2019-11-22 09:35] mliszcz commented on #315
@reszelaz
Hi Zibi. Last week I've tried to contact you via email but with no success.
My question is: have you tried to apply `ensure_self` workaround on Sardana (for both #292 and #315)?
Thanks!

[2019-11-22 12:40] tiagocoutinho commented on #307
Hi @AntoineDupre,

I can reproduce the problem with PERIODIC_EVENT and CHANGE_EVENT.
(tested with python 3.7 and PyTango 9.2.5 and libtango 9.2.5)

I also suspected this is coming from the tango C++ layer so I wrote a simple C++ client and I think I can reproduce the problem.
I attached it [here](https://github.com/tango-controls/pytango/files/3879504/test_dev_sub.cpp.tar.gz)

to compile it:
[code

[2019-11-22 12:57] bourtemb commented on #307
Hi @tiagocoutinho,
Thanks for the C++ example.
I tried it and the reason why it is not working is because it is using standard threads without using an omni_thread::ensure_self object.
The subscription is thread safe, but only if you are using omnithreads or using ensure_self objects during the life time of your threads.

If you apply the following patch it will work:

[code]

[2019-11-22 13:59] reszelaz commented on #315
Sorry Michal, I was on a training the whole week and must have missed your email. I will take a look on it next week. Again many thanks for your help!

[2019-11-23 12:05] mliszcz commented on #173
Probably got the same issue:
[code]

As a workaround I needed to decorate my methods:
[code]

Howeve it would be nice to have this handled by PyTango.

[2019-11-24 18:15] #313 closed, assigned to nobody

[2019-11-25 17:18] AntoineDupre commented on #307
Hi @tiagocoutinho , @bourtemb

Thanks for the answers, `omni_thread::ensure_self es;` fixes this issue.
Does it makes sense to had this in the boost layer
[code]

I tried this patch with PyTango unittest, with my example and with asyncio green mode (delegate subscription with python threads).

Can adding this `omni_thread::ensure_self es;` directly into boost can introduced some unpected behavior

[2019-11-26 20:21] ajoubertza commented on #307
I agree it will be nice to include something like this automatically in PyTango so that user doesn't have to worry.  One option is add it to the `AutoPythonAllowThreads` no GIL "guard" class we are using.  It seems to be used wherever we are doing network I/O (at least that is what the comment suggests), so included in DeviceProxy, DeviceAttribute,  Groups, and server initialisation.

Another opti

[2019-11-28 08:57] tiagocoutinho commented on #307
Tango C++ is supposed to be thread safe. There is no mention to `ensure_self` whatsoever in the Tango C++ documentation, so we don't know which calls to the Tango C++ layer need to be protected with `ensure_self`.

IMHO, Tango C++ should protect itself with `ensure_self` where it needs. Another benefit would be that any other library (ex: qtango) would profit from this improvement.

If not, then I

[2019-11-28 20:12] ajoubertza commented on #307
@tiagocoutinho I agree it would be ideal if cppTango could protect us.

I tried adding `ensure_self` to the `AutoPythonAllowThreads` class and it solves the problem in this issue, and also #292.    The unit tests still pass as well.

I don't know if instantiating `ensure_self` multiple times in the same thread would be a problem, nor if there will be a problem if we instantiate it in a thread that

[2019-11-29 06:45] tiagocoutinho commented on #307
Not an omniORB expert but I have the same opinion

I just thought I should mention that I think the proper place to fix this issue is the Tango C++ layer. If we can have a quick fix here I am not against it. At ALBA we are in urgent need of it :-). I agree that `AutoPythonAllowThreads` is probably the best place to put it.

Thanks for making the PR

[2019-11-29 07:58] andygotz commented on #307
I agree with @tiagocoutinho : it sounds logical that it be fixed in the C++ layer

[2019-11-29 18:02] bourtemb commented on #307
You're right. cppTango was originally developed at a time where C++ didn't have standard threads.
All the threads currently created in cppTango are omni threads, since this is what omniORB is using to create threads and since this implementation is available for free with omniORB.
Users used to create omni threads in the past so there was no issue.
Since C++11, C++ comes with an implementation of

[2019-12-02 19:42] ajoubertza commented on #307
Thanks for all the details @bourtemb.  From that it seems my idea of using `ensure_self` in `AutoPythonAllowThreads` is not a safe approach.   That leaves my earlier suggestion:

I don't see a nice way to extend `threading.Thread` that would do this and handle the setup and cleanup automatically.  Best we do is provide access to `ensure_self` as a context handler, then we could have code like this

[2019-12-03 10:44] delleceste opened #319 "AttributeError: module 'asyncio' has no attribute 'async'"
Hello.
Cloned and built PyTango

Python version 3.7

ensure_future = getattr(asyncio, 'ensure_future', getattr(asyncio, 'async'))

I get this

giacomo@woody~ $ python
Python 3.7.5 (default, Nov 15 2019, 13:43:34)
[GCC 9.2.1 20191115 gcc-9-branch@278291] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <

[2019-12-03 10:45] delleceste opened #320 "exception: No module named 'sphinx.ext.pngmath'"
Building PyTango from source, I get the exception in the subject.
It looks like pngmath has to be replaced with imgmath.

G.

[2019-12-03 11:04] delleceste opened #321 "PyTango documentation does not state which Python minor version is supported"
On Python 3.7 I am unable to import PyTango.
I get several exceptions concerning asyncio, concerning the removal of the async method.
Thanks for any update.
In the documentation there is no indication of the supported Python minor version.

[2019-12-03 19:41] ajoubertza commented on #320
Hi @delleceste.  Thanks for the report, but I don't see pngmath in the codebase, only imgmath:
https://github.com/tango-controls/pytango/blob/682dc950d871050eb9f8ab3684048171ae6510e2/doc/conf.py#L38

Are you using the latest code from the develop branch?  I'm also not sure why you would need to be building the docs locally - they are on [readthedocs](https://pytango.readthedocs.io).

[2019-12-03 19:47] ajoubertza commented on #319
Hi @delleceste.
Thanks for the stack trace.  The paths in that trace show "pytango-9.2.2.dev0", but the latest release is 9.3.1.  Did you clone the latest from the develop branch?  Did you pip install the source you built?

By the way, the recommended usage is now to `import tango` instead of `import PyTango`.  The old method is still available as an alias, but one day it may be removed.

[2019-12-03 19:50] ajoubertza commented on #321
Python 3.7 is supported - we do include the versions in setup.py, so they appear on [PyPI](https://pypi.org/project/pytango/).  As commented in issue #319 - I don't think the latest source is being used.

[2019-12-03 20:01] ajoubertza commented on #300
Thanks for the report @sk1p.  Sorry we haven't had a chance to look at it yet.  Looks like we'll need to add some more special cases or auto detection, as you suggest.
A similar issue is reported in #310.

[2019-12-03 20:14] ajoubertza commented on #310
Hi @stanislaw55.
Sorry for delay on this one.  OK, so you have manually installed a newer version of Boost (Centos 7 comes with 1.53).  That's a bit harder to handle than just the standard version for each major OS.

Yes, the logic for discovering the platform, libraries, etc. is in `setup.py`.  Using CMake could help, and yes we are using it for the Windows compilation, but the boost version is a

[2019-12-04 17:34] reszelaz commented on #292
Hi Michal,

I finally I could try your patch proposed in https://github.com/tango-controls/pytango/issues/292#issuecomment-540334032. I tried it in the Sardana code (this is where we originally found the issue) and not in the simplified example from the initial comment of this issue.

I tried it in two different places:
1. Placing this line:

[code]
in [taurus.core.util.threadpool.Worker](https://

[2019-12-05 08:55] reszelaz commented on #292
Just to complement the previous comment [here](https://github.com/reszelaz/sardana/tree/workaround_pytango292) is the branch on which I tried it. The last commit applies the workaround as explaind in point 2. The previous commit is the rever of our workaround.

[2019-12-05 16:08] AntoineDupre commented on #319
Hi @delleceste

As Anton mentioned it, you are not running a pytango version compatible with python3.7.

In python3.7 `async` and `await` are protected keyword, it is no longer possible to use them as user variable/method/attribute/... name. This as been fixed in PR #205

[2019-12-06 08:36] delleceste commented on #319
Thanks so much!
I will check it out!
I just git cloned the repo, maybe I should have payed more attention to the
existing branches.
Kind regards
Giacomo

El jue., 5 dic. 2019 a las 17:08, Antoine Dupré (<notifications@github.com>)
escribió:

--
Giacomo S.
http://www.giacomos.it

Sincrotrone Trieste S.C.p.A. di interesse nazionale
Strada Statale 14 - km 163,5 in AREA Science Park
34149 Basovizza, T

[2019-12-07 18:49] #321 closed, assigned to nobody

[2019-12-13 09:55] mliszcz commented on #292
Hi @reszelaz thanks for detailed information!

I'm trying to reproduce the issue using Sardana test suite but I do not see any crash or deadlock. I have: cppTango (tango-9-lts), pytango (v9.3.1 from git), itango (latest from pypi), taurus (latest from pypi), sardana (branch workaround_pytango292 from your fork), all running on Python 3. I have  started Pool (demo1), MacroServer (demo1), ran sar_de

[2019-12-13 10:14] reszelaz commented on #292
I will answer with more details on Monday (I'm out of office now). Similar problems happens with #318. I investigated a little bit and I suspect that the events stop to work at some point. I was even able to reproduce it without running the whole test suite. We may be hitting another bug..
But don't worry, I will keep you posted with something easier to reproduce (hopefully next week). And many th

[2019-12-18 12:01] mmphego opened #323 "PyTango slow installation [Improvements]"
Running `pip install pytango` usually takes over 10min depending on one's system as it tries to recompiles the c/c++ files. However, the installation speed can be improved by publishing pytango wheel as well as the tarball.

See: [python-wheel](https://pythonwheels.com/)

# To reproduce

[code]

By install pytango from wheel, this took just under 10 seconds.
![image](https://user-images.githubuser

[2019-12-18 14:27] ajoubertza commented on #323
I agree that the build time is slow.  It would be nice to use a wheel, but won't the resultant binary be tightly coupled to the version of the cppTango runtime and other dependencies installed on the build system (e.g. boost, omniorb and zeromq)?  I'm wondering if this wheel could be safely used on any version of Linux, where the source build could be done.  It would also need to work inside a Con

[2019-12-23 15:28] mguijarr opened #324 "File descriptors leak"
Hi,

`DeviceProxy` objects leave open file descriptors, even if the object is destroyed.

Here is a small snippet to get evidence of the problem (needs **psutil** Pyhon module):

[code]

It shows 1 file descriptor leaks in all cases, then there is an additional file descriptor left open per `DeviceProxy` object. Reconnecting to a previous device server does not increase the number of opened file d

[2019-12-24 08:45] mmphego commented on #323
Not sure if it's possible to generate multiple wheels that are dependent on specific runtimes.

Saw some examples here: https://python-packaging-tutorial.readthedocs.io/en/latest/binaries_dependencies.html#build-components-and-requirements

If that fails, I suppose we will need to compile pytango each time one installs it.

[2019-12-24 11:54] Val7 opened #325 "Problem with HLAPI v 9.3.1 pytango"
Hello! I tried examples (powersupply and clock) for High level server API, and have such type of mistake (on picture). I have 9.3.1 version of pytango, python 3.7.1, I also tried for python 3.4. Also, device servers with low level API  work good.
![2019-12-24_14-42-28](https://user-images.githubusercontent.com/20576174/71411951-69143480-265c-11ea-8f76-46ec88ff1b39.png)
![2019-12-24_14-50-04](https

[2020-01-04 19:46] ajoubertza commented on #325
Hi @Val7.

I'm not sure what the problem is - maybe it is related to your environment.  Here are a few commands that might help us.

1. What is the output of this command:
[code]
2.  Does this work (running without using a TANGO database)?  Execute it in the folder that contains `PowerSupply.py`:
[code]

Your screen shots don't show all the code, but I assume you are using the code from here: http

[2020-01-06 16:18] andygotz commented on #324
@mguijarr thanks for the bug report. I wonder if there is some cleanup routine which could be called and which is not being called. @bourtemb, @mliszcz do you have any idea how the file descriptor being left open can be prevented?

@mguijarr is this a problem only when running the tests or does it occur under operating conditions as well i.e. do you create and delete to device servers many times ?

[2020-01-06 16:54] bourtemb commented on #324
I think this is due to the way omniORB is handling the connections.
If you wait long enough, the file descriptors are actually closed. I confirmed that by adding some
`input("Press enter to continue")`
lines in the provided example and by monitoring the number of open file descriptors with
`watch -n 1 ls -l /proc/<pid>/fd`
I have been playing with a simple pure omniORB small program which is doing

[2020-01-06 17:37] bourtemb commented on #324
omniORB also reuses the already open connection if the program tries to access to another CORBA object managed by the same server.

You can play with `outConScanPeriod` omniORB parameter (default = 120 s), which is described in these sections of the omniORB documentation:
http://omniorb.sourceforge.net/omni42/omniORB/omniORB004.html#sec62
http://omniorb.sourceforge.net/omni42/omniORB/omniORB006.ht

[2020-01-07 12:16] mguijarr commented on #324
@andygotz this is a problem for the tests only

I confirm the workaround proposed by @taurel and @bourtemb (i.e to call `ApiUtil.cleanup()`) cleans the file descriptors when using normal Tango `DeviceProxy`.

When using Tango with gevent ("green" version), there are 2 more file descriptors left open. I guess this is due to the gevent threadpool. But this number of file descriptors do not increase

[2020-01-07 20:49] andygotz commented on #324
@mguijarr sounds good. If you agree can you close the issue? Thanks!

[2020-01-13 16:02] Val7 commented on #325
First command:
![2020-01-13_18-53-50](https://user-images.githubusercontent.com/20576174/72270381-18c63c00-3636-11ea-9c4f-e1e468febfcb.png)
Second command:
![image](https://user-images.githubusercontent.com/20576174/72270941-06003700-3637-11ea-8781-940a7340b89b.png)

[2020-01-15 13:25] ajoubertza commented on #325
@Val7

For the first command, I see there is a numpy warning and the compiled version is 0.0.0.  Did you compile PyTango from source yourself or install the Windows wheel from PyPI?

The second command should also be run in the conda environment, where you have PyTango installed.  So the same place as the first command.

[2020-01-29 11:13] reszelaz commented on #315
Hi @mliszcz,
As @ajoubertza says in #318 and #327 the ensure_self workaround does not solve this issue.

[2020-01-29 14:22] mliszcz commented on #315
Hi @reszelaz . Do you know how to reproduce the issue using Sardana test suite?

[2020-01-29 14:53] reszelaz commented on #315
We don't have an automatic test that triggers this issue. It was observed at the beamline and we were able to reproduce it manually. However the example from this issue [description](https://github.com/tango-controls/pytango/issues/315#issue-515357253) is enough to reproduce it.

[2020-01-31 13:19] stanislaw55 opened #328 "get_device_properties not executed during init_device"
Hello
I have encountered following bug
during execution of `init_device` in Python 2.7, method `get_device_properties` is executed.
However, when executing server using Python 3.6, this method is not executed.

Have someone encountered such bug? What may cause this?

[2020-02-03 20:28] ajoubertza commented on #328
@stanislaw55 I tried to reproduce that in the PyTango test suite, but it doesn't fail on any of the versions we test (2.7, 3.5, 3.6, 3.7).  See PR #329.
Test results here: https://travis-ci.org/tango-controls/pytango/builds/645635870.

Can you submit basic example code showing this problem?  And the output of:
`python -c "import tango; print(tango.utils.info())"`

[2020-02-03 20:29] ajoubertza commented on #325
No activity on this issue, so closing it.

[2020-02-03 20:29] #325 closed, assigned to nobody

[2020-02-03 20:30] ajoubertza commented on #324
No activity on this issue, so closing it.

[2020-02-03 20:30] #324 closed, assigned to nobody

[2020-02-04 06:59] stanislaw55 commented on #328
Hi @ajoubertza
thanks for exhaustive tests! This indicates that something is wrong with my setup. Below I attach output of command:
Python 2.7.5
[code]
(strangely, this does not find installed boost version - however, I've seen issue about that. I've checked and installed boost version is 1.53.0)

Python 3.6.8
[code]
(as above, in this case also version of installed boost is not listed, however it

[2020-02-04 11:45] ajoubertza commented on #328
OK, thanks @stanislaw55.  If your problem wasn't Python version specific, then I'd guess that your Device is overriding `init_device` and not calling the super class's version.  But since it works in Python 2, that may not be the case.

[2020-02-04 12:52] stanislaw55 commented on #328
Hi,
I managed to resolve issue. It was caused by wrong call to super class. For future references:
this is the form that works and should be used
[code]
In my case, there was some old parameter to `super` call left over by migration from Python2

[2020-02-04 12:52] #328 closed, assigned to nobody

[2020-02-04 13:33] ajoubertza commented on #328
Great - thanks for the feedback @stanislaw55

[2020-02-04 14:40] MikeFalowski opened #331 "fisallowed for command"
In High Level Server API,  instead of creating strict `is_<attr>_allowed`, there is possibility to define method in a `fisallowed` keyargument in the attribute and pipe decorator.

Unfortunately, I haven't found anything in documentation about that for commands. Is it not implemented? I think, it would be nice to have it too for commands.

[2020-02-04 18:47] ajoubertza commented on #331
Hi @MikeFalowski

I've never tried that before, but it seems to be possible.  I see `fisallowed` it mentioned in the `attribute` class docstring, which ends up as a table readthedocs here:  https://pytango.readthedocs.io/en/stable/server_api/server.html#tango.server.attribute

[code]

The parameter can be either a string or a reference to the function.

[2020-02-05 12:19] MikeFalowski commented on #331
Hi @ajoubertza,
I checked it and in attribute it looks like it's working. The only thing is that I missed earlier `req_type` argument. I think it would be nice to put example in the High level server API docs.

Unfortunately, when I try to use it in a command, I've got:

So I guess, it is a proposal for having keyargument `fisallowed` in command.

[2020-02-05 14:24] reszelaz commented on #292
Hi again,
Sorry for the long silence! I just checked the new PR #327 proposed by @ajoubertza and the behavior is exactly the same as with the initial workaround proposed by @mliszcz and #318 (now rejected in favor of #327). As I said previously I was able to reproduce it with just a subset of tests - the whole sardanatestsuite is not necessary. So, the said tests just hangs:

[code]

As we can see

[2020-02-05 20:42] ajoubertza commented on #292
Hi @reszelaz.  This is quite a difficult problem to solve!

The Taurus thread pool implementation looks correct.  I searched the Sardana code for "thread" and I do see a few other places where standard `threading.Thread` objects are created.  E.g., `PoolMonitor` and `DummyEventSource`.  Could any other threads (not using Taurus thread pool) be involved in the code being running in this test?  Mayb

[2020-02-06 18:28] ajoubertza commented on #331
@MikeFalowski Sorry, I completely misunderstood your question! You were asking about commands, not attributes.

It it not implemented for commands.  It should be possible to add `fisallowed ` on the Python layer, but would take some effort.  What is the use case for this?

Yes, it would.  Please contribute a pull request.  You could add it to the PowerSupply example in https://github.com/tango-con

[2020-02-07 15:37] reszelaz commented on #292
Thanks Anton for looking into it again! I have advanced a little bit with the debugging, let's see if the following information is helpful to you...

Actually the tests (client side) that I use to reproduce this issue don't use threads. The server (Pool) which is used in these tests uses threads but I suppose it does not matter. The `PoolMonitor` thread is started in the Pool but then it is immedi

[2020-02-07 18:08] reszelaz commented on #292
I have a vauge idea of what is happening. I think that three attributes are involved in this issue, let's call them attr1, attr2 and attr3. And the flow of actions is:
1. in main thread we successfully subscribe to attr1 (both conf and change)
2. in main thread we successfully subscribe to attr2 (both conf and change)
3. in main thread we write new value to attr2 which on the server will push chan

[2020-02-08 07:50] jkotan commented on #292
Hi Zibi,

have you tried to put
[code]
into the `__del__` method.
It is executed in a different thread.

[2020-02-08 09:40] reszelaz commented on #292
Hi Jan!
Thanks for the hint! I will check it on Monday. Initially I discarded this cause the thread that executes `push_event` comes from Tango and I was assuming it is an omni thread. I will keep you updated!
Cheers!

[2020-02-08 10:51] vallsv opened #332 "Deadlock when calling subscribe_event ATTR_CONF_EVENT"
Hi,

I am trying to solve a problem on an old library using PyTango with gevent and `ATTR_CONF_EVENT` subscribtion.

It was working before in 2014, and do not work since a port to a conda environment (then new pytango version, new tango version, new gevent, python 2.6 to python 2.7...)

It looks like, in my library context, the subscribtion to `ATTR_CONF_EVENT` locks while the one to `CHANGE_EVENT

[2020-02-08 11:32] vallsv commented on #332
Looks like there is no difference between `ATTR_CONF` and `CHANGE` events. Was just un/luck with the timing. Then i think the problem is not there.

[2020-02-08 14:13] vallsv commented on #332
It looks like the deadlock occur when i create the device proxy from a thread and when i call the subscription from a greenlet.

Is there a difference if i create a device proxy from a thread or from a greenlet?

[2020-02-08 14:49] vallsv commented on #332
Here is how to test.

Test 1 and 2 work well, test 3 deadlock.

Any idea if it is normal?
[code]

[2020-02-08 17:14] andygotz commented on #332
Mmm there is surely a difference between subscribing in a greenlet and a thread. But we need an expert in PyTango to give us some feedback here. Maybe @tiagocoutinho can provide some feedback.

Is there any possibility of upgrading to Python 3?

[2020-02-08 20:16] ajoubertza commented on #292
I was also thinking about which thread the `__del__` methods will be called in.  I wanted to modify your test script to include the thread name in the subscription and unsubscription print messages, but I couldn't get a Docker environment set up that ran tests at all.

Instead,  I made a simple test script (no Tango code involved) that creates objects with reference cycles from a number of threads

[2020-02-08 21:56] jkotan commented on #292
@ajoubertza, thanks for nice readings. It looks like the second article describes what is going on with Taurus/Sardana in a simple way. In py2 because of cyclic dependences the content of `__del__` is not called. Contrary to py2 the py3 with its gc can remove objects with cyclic dependences but it is done asynchronously (in a "random" thread). It would be nice to find and remove those cyclic depen

[2020-02-10 07:44] ajoubertza commented on #292
Another option is not to unsubscribe at all when your client objects are finalised - that is what was happening under Python 2, since `__del__` wasn't called.  Won't the device eventually give up sending the events if the device proxy that subscribed is no longer connected?

[2020-02-10 08:48] vallsv commented on #332
No. No way to switch to Python 3. But we found a workaround on our side. In our case, the thread was a poller (infinite loop), and the sleep was not gevent really. Fixing that fixing the deadlock.

But in my test example, it would be nice to warn, as you do when using 2 different threads, but that's maybe not an obvious test. Then feel tree to close the issue.

[2020-02-10 09:19] andygotz commented on #332
Good news. We will add a warning to the documentation.

[2020-02-10 09:19] #332 closed, assigned to nobody

[2020-02-10 10:04] vallsv commented on #332
I don't think any body read the docs

[2020-02-10 10:50] andygotz commented on #332
I cannot help giving some good advice here : **[RTFM](https://en.wikipedia.org/wiki/RTFM)** 8-)

[2020-02-10 17:55] reszelaz commented on #292
Hi all,

Thanks Jan and Anton for investigating this issue. I see that you advanced a lot!
I will try to answer in the chronological order:

I have tried to use `with tango.EnsureOmniThread()` in `__del__` but the result is exactly the same. Anyway Anton already discouraged its usage. Also I think it should not be necessary cause the event consumer thread should be already omni thread.

I've done

[2020-02-11 13:12] bourtemb commented on #292
In cppTango, when a DeviceProxy object is deleted, it unsubscribes to the events already subscribed via this DeviceProxy object.
This was added in 2016 by @taurel , probably for a very good reason(?!).
So do you suggest to modify cppTango in order to remove this unsubscription in DeviceProxy destructor?
~DeviceProxy is calling unsubscribe_all_events()  (https://github.com/tango-controls/cppTango/b

[2020-02-12 09:19] grm84 commented on #331
Hi @MikeFalowski,
Not sure if you explicitly want an fisallowed for commands but you can already do ```is_<command>_allowed```. The only downside here is you can't make a general method.
Another alternative would be to create your own ```@is_command_allowed``` decorator.

[code]

[2020-02-12 12:26] schooft commented on #292
This blog post seems to discuss a very similar problem in the MongoDB python driver:
https://emptysqua.re/blog/pypy-garbage-collection-and-a-deadlock/
Their solution is to use a background thread that periodically checks a list for cleanup tasks. The `__del__` method only appends tasks to that list. Here is a toy example:
https://github.com/ajdavis/what-to-expect-when-youre-expiring/blob/master/ex

[2020-02-12 17:27] reszelaz commented on #292
Thanks Reynald for the Tango C++ details! And Tim for joining this dicussion! Things are getting clearer in my mind now.

I think that Anton here referred to remove the unsubscribes from `taurus.Attribute.__del__` and not from `~DeviceProxy`?

Also about:

Actually I'm not sure if in Python2 these are were not called. I have a vauge memories that these were called but maybe not so often, and maybe

[2020-02-12 18:13] schooft commented on #292
I think that comment is wrong. It should deadlock when the `__del__` method is executed on the *same* thread that holds the lock. Here is a test for that:
[code]
Depending on the thread where `gc.collect` is called, this script deadlocks or not.

Edit:
The methods `subscribe_event` and `unsubscribe_event` of `PyTango.DeviceProxy` seem to acquire a `threading.Lock`. Thus, when the `__del__` method

[2020-02-12 21:39] kklmn commented on #248
Is there any workaround in PyTango? I try to restart (run delete_device() and then init_device()) when a USB camera (cv2.VideoCapture()) hangs. But get the subj.

[2020-02-13 09:37] bourtemb commented on #292
[~DeviceProxy() calls unsubscribe_all_events()](https://github.com/tango-controls/cppTango/blob/9.3.3/cppapi/client/devapi_base.cpp#L2641)

[unsubscribe_all_events() calls ZmqEventConsumer::get_subscribed_event_ids()](https://github.com/tango-controls/cppTango/blob/9.3.3/cppapi/client/devapi_base.cpp#L2678)

[ZmqEventConsumer::get_subscribed_event_ids() takes ZmqEventConsumer map_modification_lock

[2020-02-13 10:16] schooft commented on #292
To clarify, `PyTango.DeviceProxy` has an additional `threading.Lock` called `_subscribed_events_lock`:
https://github.com/tango-controls/pytango/blob/develop/tango/device_proxy.py#L1067
which is acquired during `subscribe_event` and `unsubscribe_event`, e.g.,:
https://github.com/tango-controls/pytango/blob/develop/tango/device_proxy.py#L1291

Calling one of these methods in a `__del__` method of a

[2020-02-13 13:20] ajoubertza commented on #292
Yes, @reszelaz I meant remove the Python calls to unsubscribe in `taurus.Attribute.__del__`.

Thanks for the great analysis, everyone!

Considering @schooft's suggestions:

1.  I don't think this lock is the only one giving problems.   Even when the Python call to unsubscribe was removed, we still got a deadlock:

2. Yes, this could work, although we would have to disable the GC, and it might be h

[2020-02-13 17:44] schooft commented on #292
I didn't mean to disable the GC but to not allocate any objects in the problematic code paths as done for MongoDB version 2. As far as I understand, the GC is only triggered when new python objects are allocated except for some special occasions like shutdown.

This makes sense. The GC only actually runs when allocations exceed certain thresholds. By running it regularly, the times when the alloca

[2020-02-14 16:24] schooft commented on #292
I got a backtrace myself for the PyTango test case (I am not sure if my system is setup correctly as I have a lot of boost error handling stuff in the full backtrace):
[code]
So while being in the print function in `PyTangoAttribute.push_event` the garbage collector is triggered and calls the `__del__` method of a `PyTangoAttribute` (the garbage collector only collects attributes with name "state"

[2020-02-14 16:33] schooft commented on #292
To trigger the above error reliably, just call `gc.collect` in `PyTangoAttribute.push_event`.

[2020-02-14 23:41] reszelaz commented on #292
Hi all,

Tim, sorry that I did not sent you the backtrace before but this morning I rebooted my PC and afterwards the Sardana tests that I used to run started to behave differently. At the beginning I was getting crazy but now I think it helped me to advance a little bit...
So, after the reboot, the earlier mentioned test module was reproducibly hanging at the very first test. It was very aligned

[2020-02-15 13:55] ajoubertza commented on #292
I tried the [example](https://github.com/reszelaz/test-tango-unsub), and get almost identical result (only differences in the API_EventTimeout text).   My test environment is Docker + Conda + Python 3.7.5 + cppTango 9.3.2 + your pytango [branch](https://github.com/reszelaz/pytango/tree/issue-307-context-handler).

[code]

[2020-02-15 15:42] schooft commented on #292
@reszelaz Thank you for this great example case!

On my machine I get the same error. I also implemented the same client in C++ and the error occurs there as well.

See https://github.com/reszelaz/test-tango-unsub/pull/1

[2020-02-15 21:03] reszelaz commented on #292
Thanks for the tests! WIth Tim's example in C++ I already reported it https://github.com/tango-controls/cppTango/issues/686.

[2020-02-17 15:06] stanislaw55 commented on #173
Hi
I just hit this issue. Is there any chance that it will be fixed any time soon?

[2020-02-18 07:23] stanislaw55 opened #333 "Server green mode"
Hi,
According to docs, TANGO server GreenMode is currently in beta version. Is there any plan to provide stable version of TANGO Device Server GreenMode?

[2020-02-19 07:26] ajoubertza commented on #333
Hi @stanislaw55.
No immediate plans, sorry.  Do you know of features that are missing or functionality that is broken (other than #173)?  If we did any further work, I propose that the `Asyncio` mode is prioritised `Gevent`.

[2020-02-19 07:59] andygotz commented on #333
Hi @stanislaw55,
the Green mode is used heavily at the ESRF (we have a number of gevent based applications) and is in production. I do not know why the documentation still says it is in beta. The asyncio mode is also used in production by some sites e.g. MAXIV. Maybe @tiagocoutinho and @vxgmichel can say something about what the status of the Green mode is.
Have you noticed something missing?
Who

[2020-02-19 10:59] vxgmichel commented on #333
This addition to the docs was made 3 years ago (https://github.com/tango-controls/pytango/commit/ef62a236a366144f38d7305a3da0341f056e4ff5), it may be time to get rid of it :)

The one point that comes to mind is @tiagocoutinho telling me about race conditions in tango when the monitor lock is disabled. If those haven't been fixed, I guess it would justify calling server green mode "experimental" (

[2020-02-19 12:42] ajoubertza commented on #173
Hi @stanislaw55

I wasn't planning on working on this.  Would you consider helping by submitting a pull request?

[2020-02-19 19:21] ajoubertza commented on #333
Hi @vxgmichel :)

Thanks for the details (and the long memory).  I've made a draft PR in the meantime.  I'd appreciate if you'd have a look to see if I understand you correctly.

The removal of the "experimental" tag is pending @tiagocoutinho's response on the race conditions.

[2020-02-19 19:33] ajoubertza commented on #307
I've merged the code with the new context handler, so closing this.

[2020-02-19 19:33] #307 closed, assigned to nobody

[2020-02-21 07:31] stanislaw55 commented on #333
Hi @ajoubertza,
I had no idea that docs are outdated. It's good to see PR with an update ;)

Hi @andygotz
Great to here that Server GreenMode is used at production at ESRF. That makes me think there was just something broken with my setup. I will investigate further in #173.

When #334 is merged, I think this issue can be closed.

[2020-02-21 07:34] stanislaw55 commented on #173
Hi @ajoubertza
Actually, I would like to make time for contribution but the fix proposed by @mliszcz did not worked for me for some reason. I did not investigated in depth since docs mentioned experimental state of server GreenMode. However, now I will come back to this issue and try to generate more detailed bug report.

My setup:
pytango 9.2.5
Libtango 9.2.5
Python 3.6.8

I did not tested this f

[2020-02-21 07:57] stanislaw55 commented on #173
Okay, that was quick one

The fix that worker for me
[code]
(mind that now in `execute` call there's `fn`, not `wrapper`)

[2020-02-21 12:06] ajoubertza commented on #173
@stanislaw55 Well spotted - the `fn` makes more sense than a recursive call!

If you're working on a PR, I suggest starting by adding one or more failing tests at the end of https://github.com/tango-controls/pytango/blob/develop/tests/test_server.py.  I see there are actually no tests for is_allowed!

You could base them on something like the one below.  The `typed_values` fixture will repeat the

[2020-02-24 17:51] reszelaz commented on #307
Just to complement this issue, in the case of the Sardana project I was not able to reproduce the problem when subscribing to events within the device server process - Sardana single device server.
My test was executing two macros (two `threading.Thread`) in parallel on two different Door devices. Each of these macros was constantly subscribing and unsubscribing to events of attributes proceeding

[2020-02-25 07:16] stanislaw55 commented on #173
Thanks for detailed instrution on test, @ajoubertza!

I'll try to make some time for PR in days to come

[2020-02-29 05:11] #333 closed, assigned to nobody

[2020-03-01 07:57] ajoubertza commented on #300
@sk1p Would you mind testing the branch from the linked PR, please?

[2020-03-01 08:00] ajoubertza commented on #310
@stanislaw55  Would you mind testing the branch from the linked PR, please?

Also note that if you have a custom boost installation, the `BOOST_ROOT` and newly added `BOOST_LIB` environment variables may need to be set when running `python setup.py build`.

[2020-03-01 11:53] sk1p commented on #300
Worked fine with `libboost-python1.67.0` :+1: will now test with 1.71

[2020-03-01 12:06] sk1p commented on #300
1.71 works, too.

[2020-03-02 06:54] ajoubertza commented on #300
Great.  Thanks @sk1p.

[2020-03-02 08:49] stanislaw55 opened #336 "Green mode plugin system"
Hi,
I was thinking about Green Modes i PyTango. It is big amount of work to keep all already present green mode working with changes added to PyTango main library.

What do you guys think about making them plugins? They could use namespace packages or any other mechanism. There's nice documentation in [Python docs](https://packaging.python.org/guides/creating-and-discovering-plugins/). PyTango lib

[2020-03-02 14:55] stanislaw55 opened #338 "Attribute decorators"
Hi,
according to docs, it's currently possible to have syntax like this
[code]

what about extending attribute class to have syntax like this

[code]

[2020-03-03 13:49] ghost opened #339 "Compiling error on raspberry pi"
When I try to pip install pytango on my Raspberry pi 3 device I get the following error:
[code]
All installation requirements should be fulfilled.
This has been bothering me for 3 days now, and makes me big sad.
Does anyone have similiar experiences / solutions?

[2020-03-03 13:49] ajoubertza commented on #338
Hi @stanislaw55

Maybe, but can you provide some detailed motivation?   What is the benefit, and/or what problems with the current implementation options does this solve?

[2020-03-03 14:03] stanislaw55 commented on #338
Hi @ajoubertza
There are no problems with current implementation. However, I think that example I provided above would make syntax of DeviceServers more Pythonic by extending already existing mechanism of decorators

[2020-03-03 14:27] ajoubertza commented on #339
Hi @oli506

The lines like `Package omniORB4 was not found in the pkg-config search path.` are problem, as is the fact that it cannot find the `tango.h` header file.   Not sure what OS you're running on your board, but  have you apt installed at least `tango-common` (more notes [here](https://tango-controls.readthedocs.io/en/latest/installation/tango-on-raspberry-pi.html))?  That should give you t

[2020-03-03 14:44] ghost commented on #339
Hey @ajoubertza, thanks for the fast reply!
My OS is the Linux raspberrypi 4.19.75-v7+, and I have installed tango common:
[code]
So I should have all dependencies. When I use the pkg-config command I get the following Output:
[code]
I haven't found a specific solution to this issue. I'm sure a more experienced programmer would know what to do there.
P.S: Thanks for being Patient with a noob like

[2020-03-03 14:55] ajoubertza commented on #336
Hi @stanislaw55

I'm not sure that's the case.  There has been hardly any maintenance required on these for the last year.

Plugins are an interesting idea, although getting that set up is some effort initially.  And then people would ask the plugin authors if they think the plugins are production ready.  Wouldn't having separate plugin developers/repos also fragment the development community?  I'

[2020-03-03 15:16] bourtemb commented on #339
Hi,

I think you need to install some development Debian packages:

It looks like tango.pc file is provided as part of libtango-dev Debian package.
omniORB4.pc is provided as part of libomniORB4-dev Debian package
libzmq.pc is provided as part of libzmq3-dev Debian package.

So, please try to install libtango-dev, libomniORB4-dev and libzmq3-dev Debian packages.

To find libzmq.pc file in the avai

[2020-03-03 15:35] ghost commented on #339
Hi,
I followed this guide and installed all the dependencies: https://pypi.org/project/pytango/.
I thought this would be sufficient, but I'll try to install these packages.
Thanks a lot @bourtemb

[2020-03-03 16:03] reszelaz opened #340 "raise...from info missing in DevFailed"
I would like that the exception chain is propagated to the client.

I have the following device server:

[code]

I run it in the following way:

[code]

In itango3 I get:

[code]

As you can see in PyTango the info about the original exception is lost.

[2020-03-04 10:19] ajoubertza commented on #339
Hi @oli506

Our installation instructions seem to be very lacking.  Here are some that worked on a debian:buster-slim docker image:
[code]

The symbolic link change is something that won't be necessary in future releases, but you'll need it for PyTango 9.2.5.

[2020-03-05 08:47] #340 closed, assigned to tiagocoutinho

[2020-03-05 10:06] ajoubertza opened #342 "New release planned: v9.3.2"
This is to inform the community that a new release is being prepared.

- [x] Read steps in the how-to-contribute docs for making a release
- [x] Pull request to update changelog and bump version
- [x] Merge PR (this is the last PR for the release)
- [x] Merge develop into stable
- [x] Make sure Travis and Appveyor are OK on stable branch
- [x] Make sure the documentation is updated for stable (rea

[2020-03-06 07:06] ajoubertza commented on #339
I was reminded that there is a Debian package for PyTango, so the very easy way:
[code]
(it hasn't been updated recently, so still at v9.2.5)

[2020-03-08 19:51] ajoubertza commented on #315
Hi @reszelaz.

I was looking at this again, because I want to make a new release, and if there is a possible fix it would be good to include it.

**TL;DR** I don't think there is anything to fix in PyTango.

I can prevent the deadlock in the example by using a shared `threading.Lock` to protect the two read attribute functions in the different devices.

I guess the reason for the deadlock is simil

[2020-03-09 12:01] jairomoldes commented on #315
I think that the problem is actually with python GIL, so this would mean a problem with pytango.

Looks like there is a deadlock between 2 threads trying to do the following:
- Thread 1 called from DeviceProxy destructor is trying to "unsubscribe_all_events" and hence tries to acquire the cpp ReaderWriterLock. Unfortunately this thread also owns the GIL while trying to get the cpp Lock, which is h

[2020-03-09 12:36] andygotz commented on #315
Hi @jairomoldes + @tiagocoutinho  , thanks for this update and help on this issue and with the release! It is highly appreciated!

[2020-03-09 19:56] #300 closed, assigned to nobody

[2020-03-09 19:58] ajoubertza commented on #310
Fixed in PR #335.

[2020-03-09 19:58] #310 closed, assigned to nobody

[2020-03-09 20:44] ajoubertza commented on #315
@jairomoldes + @tiagocoutinho  Well spotted.  That's very interesting.  I see how the two locks are causing this now that you have pointed it out 🙂

Sure, we can wait on the release (#342).  But I hope it can be done this week.

If I understand correctly, the Python code is exiting the `read_attr2` method, so the reference count on the Python DeviceProxy object goes to zero.  Then Python interpret

[2020-03-27 15:56] kif opened #346 "Conda package with support for Python3.8"
Hi,
I tried to do a conda-install of PyTango and apparently there is no build of it ...
Do you confirm ? Is there a bug or is it just a lack of packaging ?

Cheers & take care.

Jerome

[2020-03-27 16:46] ajoubertza commented on #346
Hi @kif

I confirm it is due to a missing Conda packages.  We haven't made any for Python 3.8 yet.

There's WIP PR #344 to get PyTango tested against 3.8 - I don't expect any changes to be required, but yet to be confirmed, due to the Conda issue with the cppTango and dependent packages (we use Conda for the CI).

We are also moving the Conda builds to Github, but that is also still in progress.
h

[2020-04-22 08:29] #319 closed, assigned to nobody

[2020-04-29 06:41] ajoubertza commented on #56
Fixed in linked PR.

[2020-04-29 06:41] #56 closed

[2020-05-01 10:44] ajoubertza commented on #315
Note that ALBA agreed not to delay the v9.3.2 release any longer for this issue.

[2020-05-01 11:03] ajoubertza commented on #342
@bourtemb Can you please ask someone at the ESRF to build and upload a new PyTango conda package for v9.3.2?  I think @tiagocoutinho did it previously.

[2020-05-05 15:48] reszelaz opened #351 "Intersphinx mapping stopped working"
I don't know if this is an issue with RTD or PyTango, but I realized that the intersphinx mapping to PyTango documentation that we use in Sardana gives errors in the last days:

[code]

[2020-05-05 19:54] ajoubertza commented on #351
Hi @reszelaz

What is that file for?

Anyway, I didn't change anything on TRD other than new release (so stable branch updated).  I notice that using HTTPS results in a reasonable file, while just HTTP does not.  Maybe RTD changed their security policy?

[code]

I also tried with earlier versions in the URL and it is the same - only HTTPS gives the large file.

[2020-05-05 23:04] reszelaz commented on #351
Hi Anton,
Thanks for investigating it!
My first idea was also the https, but I tested it and it fails the same way.
Our intersphinx mapping is defined in [`conf.py`](https://github.com/sardana-org/sardana/blob/d866e4c7fe169aa8271970f87fa5719368b63793/doc/source/conf.py#L291).
Good to know that there were no changes in the last release. Now I tested it in a venv with the latest sphinx from pip and

[2020-05-05 23:04] #351 closed, assigned to nobody

[2020-05-07 16:54] dschick opened #353 "no database -nodb option"
Hi,

I am currently developing a DS on a raspi and would like to test it without the need for a connection to a Tango-DB on a remote host.
I found the `-nodb` option in the [TANGO documentation](https://tango-controls.readthedocs.io/en/latest/administration/deployment/without-sql-db.html).
But when I start my DS with the following command:
`./plasma-debris-protector.py raspi -nodb -dlist id12/moto

[2020-05-07 20:31] dschick commented on #353
okay, found the answer to my own question.
It was obviously not a pytango but a tango issue.
The documenation was a bit thin at that point.
By adding ` -ORBendPoint giop:tcp::10000` to the command for starting the DS it is working.

[2020-05-07 20:31] #353 closed, assigned to nobody

[2020-05-07 20:57] ajoubertza commented on #353
Hi @dschick

Glad you got it sorted out.  Another convenient method to do this is the using the [`DeviceTestContext`](https://github.com/tango-controls/pytango/blob/70ef4df598b0309213112991be950e9613be8256/tango/test_context.py#L438), which we normally use to launch device servers during automated tests.   It can be used from the command line, something like this:

[code]

A full example [here](ht

[2020-05-07 21:09] dschick commented on #353
great, that is even more convinient.
Maybe it it worth putting this a bit more prominant into the docs?

many thanks!

[2020-05-08 07:38] andygotz opened #354 "add simple option for specifying host and port for orbendpoint"
Users (new and old) often get stuck by the non-obvious syntax for specifying the port on which the device server should listen on when the port number needs to be fixed (e.g. running without a database) and the host ip address on which to listen in the case there are multiple network cards.

The syntax used it the omniORB syntax which is documented in the omniORB document. It looks like this:

-OR

[2020-05-08 07:40] andygotz commented on #353
I agree this should be made visible in the documentation. I have also created an issue #354 to improve the command line options and help

[2020-05-11 13:49] reszelaz opened #355 "Windows: DLL load fail with 9.3.2 64bit wheel"
When trying the latest release on Windows I found the following problem:

[code]

[2020-05-11 21:03] ajoubertza commented on #355
@NexeyaSGara Could you please have a look at this?  The wheels came from this [AppVeyor build](https://ci.appveyor.com/project/tiagocoutinho/pytango/builds/32567594).

@andygotz Does it work on your version of Windows?

[2020-05-11 21:12] dschick commented on #353
great! I guess this will help many users.

Many thanks for the prompt replies

[2020-05-12 11:15] TNoga0 opened #356 "Dynamic attributes with write methods"
Hello,

I'm wondering if there is a simple way to implement a writing method for dynamically generated attribute that takes the value as argument (or allows for user input).

So far I've been using Attr's get_write_value() method - example below:
[code]
...but the docs say it's deprecated, so I'm looking for another solution.

I'd be grateful for any help.

[2020-05-13 09:04] ajoubertza commented on #356
Hi @TNoga0

I'm not sure.  Can you provide a link to where it says it is deprecated?

I recently added [a test](https://github.com/tango-controls/pytango/blob/70ef4df598b0309213112991be950e9613be8256/tests/test_server.py#L278-L304) that uses that method too...

[2020-05-15 07:18] ajoubertza commented on #356
OK, I have found the deprecation note:
https://github.com/tango-controls/pytango/blob/70ef4df598b0309213112991be950e9613be8256/tango/device_server.py#L1984-L1986

Note that there are two versions of the function, only the first one is deprecated.

Basically it says **DON'T** do it this way:
[code]

[2020-05-15 15:00] reszelaz commented on #355
Just to complement this report... It actually was dicovered in [tango-controls.org Forum](https://www.tango-controls.org/community/forum/c/general/installation/sardana-283-build-on-windows-10-problem/?page=1#post-4326).
I install PyTango with pip (python 2) on a freshly system wide installed python with `pip install PyTango`.

[2020-05-16 08:31] ajoubertza commented on #356
@TNoga0 Does this answer your question?

[2020-05-21 02:31] DrewDevereux opened #357 "How to connect DeviceProxy to device launched via MultiDeviceTestContext"
Tests that use `MultiDeviceTestContext` will sometimes pass, sometimes error out with a message objecting that environment variable `TANGO_HOST` is not defined.

If you set that environment variable, `MultiDeviceTestContext` will try to connect to a database at that location. And if you stand up a database there, it will talk to that database!

I can see in the code that the tango database is supp

[2020-05-21 12:20] ajoubertza commented on #357
@DrewDevereux Thanks for the bug report.  I think the `TANGO_HOST` should only be needed if a `DeviceProxy` (or similar) object is instantiated with a Tango name that doesn't include `#dbase=no`.  If you could post some example code or a link to yours, that would help with the investigation.

[2020-05-21 14:58] ldoyle commented on #355
I can confirm this bug on my Windows 10 system running Anaconda3.
It seems to be related to a missing Pthreads DLL.

Steps: Create a new virtual environment with python=2.7
conda install numpy
pip install PyTango
python> import tango -> DLL load failed

Using Visual Studio command line tool I ran `dumpbin /imports _tango.pyd` to confirm the imported DLLs, of which only `pthreadVC2.dll` seemed unus

[2020-05-21 15:05] ldoyle commented on #355
Same problem and same solution goes for `pip install PyTango` on python 3.7 (will get PyTango 9.3.2),
however in this case I am unsure whether it is wise to copy the DLL from `pthreads-win32-2.9.1_x64-msvc15`, since python shows `MSC v.1916 64 bit`. Is there a more recent version of pthreads or is this difference fine?

PyTango version 9.3.1 from conda-forge for Py3.7,amd64 did not have this depen

[2020-05-22 02:19] DrewDevereux commented on #357
See for example the four tests in https://gitlab.com/ska-telescope/lfaa-lmc-prototype/-/blob/master/tests/test_integration.py, all currently skipped. If run, they might succeed, but far more likely they will error out with something like the following. It is the unpredictability that makes me think it is a race condition -- for example I have had tests passing locally, so I push, and then they all

[2020-05-22 09:02] ajoubertza commented on #357
Thanks, I think I see what is happening.  The [code that fails](https://gitlab.com/ska-telescope/lfaa-lmc-prototype/-/blob/28f0e407/src/ska/mccs/master.py#L285) is instantiating a `DeviceProxy`, but the FQDN it is using is the short form, `low/elt/subarray_1`.  If we use the short form, then the DeviceProxy has to connect to a Tango database to find the hostname and port connection details for the

[2020-05-22 10:10] vxgmichel commented on #357
@ajoubertza Interesting!

Another alternative would be to support `#dbase=no` in the `TANGO_HOST` variable.

For instance, `TANGO_HOST=172.17.0.3:48493#dbase=no` would resolve `low/elt/subarray_1` to `tango://172.17.0.3:48493/low/elt/subarray_1#dbase=no`. Then the `DeviceTestContext` could set the proper tango host through `os.environ["TANGO_HOST"]` for the duration of the test context.

Also note

[2020-05-23 19:44] ajoubertza commented on #357
Thanks @vxgmichel - that's a cool idea!  It would make testing a lot simpler.

What would the `is_resolved` and `resolve` methods do?  I'm guessing `resolve` is just sanitising user input to build up the FQDN reliably.  I'm not sure why we would need an `is_resolved` check.

[2020-05-23 20:52] ajoubertza commented on #355
@ldoyle Thanks for the updates.
The requirement for pythread was only added in 9.3.2.  See commit 017f72b649887.  It also shows which versions of pthread we download for the AppVeyor compilation on different platforms.

If you have any ideas how to fix it, that would be appreciated.  Maybe a change is in needed in [appveyor.yml](https://github.com/tango-controls/pytango/blob/develop/appveyor.yml)

[2020-05-25 00:50] bourtemb commented on #307
FYI, the [C++ example](https://github.com/tango-controls/pytango/files/3879504/test_dev_sub.cpp.tar.gz) provided by @tiagocoutinho in a comment above seems to work as expected when using a cppTango version containing the patch provided by tango-controls/cppTango#699 PR.

[2020-05-25 02:10] DrewDevereux commented on #357
Thanks very much @ajoubertza for this code. I confirm that I can get my tests to pass this way. I am uncertain whether this is intended as a workaround until the code is "fixed", or instructions for how to correctly use `MultiDeviceTestContext`. If the latter, I think an update to the class autodoc is needed, because the autodoc example makes it look very much more straightforward than this.

Re "

[2020-05-25 10:47] vxgmichel commented on #357
@ajoubertza

This is roughly what I had in mind:
[code]
Although I suspect the actual implementation is going to be a bit trickier than that :)

[2020-05-26 00:16] DrewDevereux commented on #357
Things got very messy for me trying to implement this solution into a system where device A passes device B the FQDNs of devices that device B should be talking to... until I realised that I only need the long form (so far) when creating a DeviceProxy.

So I created a pytest fixture in `conftest.py` that monkey-patches `tango.DeviceProxy`:
[code]

and now my tests are lovely and clean again!

I wa

[2020-05-26 08:47] ajoubertza commented on #357
Thanks for the further updates @DrewDevereux.  For now, it is a workaround, but yes, the docstring can be improved.  Your mocking approach is nice.  You could submit something like that as an example in this repo (see the [examples](https://github.com/tango-controls/pytango/tree/develop/examples) folder).  That would make it even clearer than we can do in a docstring.

In future, I'd would like it

[2020-05-26 11:51] ldoyle commented on #355
Hi Anton,
as you can see in the PR #358 I tried static linking to avoid the DLL altogether, but this fails for various reasons and I am not proficient enough in the static/dynamic link area to fix this. Instead, as mentioned, it would probably be easier to copy the DLL to the wheel/ package destination by minor changes to `setup.py` and `appveyor.yml`.

Once the DLL is copied by AppVeyor to the bu

[2020-05-29 07:45] DrewDevereux commented on #357
Hi @ajoubertza. As suggested, I have made a pull request with a `MultiDeviceTestContext` pytest fixture, and an example of its use in testing.

[2020-06-03 09:24] dschick opened #361 "Device.get_attribute_config() requires byte-string"
Hi,

I encountered a Segmentation Fault when trying to call the `get_attribute_config()` method within a Device Class using native Py3 unicode strings.
See more details here: https://www.tango-controls.org/community/forum/c/development/python/get_attribute_config/
The workaround is to hand a byte-string instead of a native Py3 unicode string to the method, so
`get_attribute_config(b"attribute_name

[2020-06-03 09:32] ajoubertza commented on #361
Thanks @dschick.  I made a fix for this in the linked PR.

[2020-06-03 11:50] #361 closed, assigned to nobody

[2020-06-09 15:06] limonkufu opened #362 "Documentation for tango attributes with readthedocs"
Hi, I don't know if this is the place to ask this question but I am having trouble documenting tango attributes with autodoc on readthedocs.

I have `autodoc_mock_imports = ['Pytango', 'tango', 'tango.server' ,...]` but this just produces "Used by autodoc_mock_imports." for the attributes with default readthedocs build (sphinx version 1.8.5). Since I can't `import tango` I am not sure how to do th

[2020-06-09 16:06] ajoubertza commented on #362
Maybe @reszelaz or @cpascual can comment?  I see this PR, https://github.com/taurus-org/taurus/pull/724, where they moved away from RTD, mentioning the burden of maintaining mocks.  Similar work done in [Sardana](https://github.com/sardana-org/sardana).

[2020-06-10 08:17] cpascual commented on #362
First, regarding the problem of mocking in RTD: we did that the beginning and managed to build reasonable docs, but it was too much effort and needed continuous maintainance. In short: I would not recommend doing it if you want to use autodoc (it is fine if you do not autodoc the classes, but if you autodoc something that inherits from a mocked class you need to do too much custom work on the mock

[2020-06-10 09:11] limonkufu commented on #362
Thanks for your help @ajoubertza @cpascual very much.

I will try the conda environment for now and I was already generating gitlab pages as part of my pipeline(since it was easy to do :)) but didn't change the DNS settings to point it to my domain. I will experiment with it.

[2020-06-10 09:53] limonkufu commented on #362
Just to let you know, using conda env seems to work with attributes without mocking. I followed https://taurus-scada.org/users/getting_started.html#installing-in-a-conda-environment-platform-independent this to install pytango to my project.

[2020-06-11 13:42] andygotz commented on #355
Hi @piogor ,
I have assigned this to you as the first task for the PyTango support. Can you assign this to the right person? I hope s/he knows Windows 8-).
You can ask @ajoubertza for technical details about this issue.
Thanks in advance!

[2020-06-11 15:30] ldoyle commented on #355
I added some comments about what I think might be going wrong in my (so far failing) PR #358. Should this information rather be moved here in case my PR gets closed/cancelled?

[2020-06-11 18:15] ajoubertza commented on #362
@Limonkufu That's good news.  I'm closing this as it sounds like your issue has been resolved.

[2020-06-11 18:15] #362 closed, assigned to nobody

[2020-06-12 04:58] ajoubertza commented on #355
No, in the PR is fine.  Even if we close it, the history will remain in Github.

[2020-06-13 20:44] woutdenolf opened #364 "DeviceProxy AttributeError: cause is lost"
When a device is not running, trying to get an attribute raises `AttributeError` while losing the cause of this error. Why not use `raise AttributeError() from cause`?

[code]

[2020-06-14 11:14] woutdenolf opened #366 "DeviceProxy in green mode: wait for ..."
Is there a better way of doing this without the two while loops? (Maybe something with threadpool and AsyncResult.wait?)

[code]

[2020-06-14 15:18] tiagocoutinho commented on #366
To wait for a device to be online, one trick would be to subscribe to the state attribute configuration changed event:
[code]

So this would get rid of your first while loop.

[2020-06-14 15:30] tiagocoutinho commented on #366
If you **are sure** your device state attribute fires events you can catch two birds with one stone
by comparing the state event value with the one you are interested:

[code]

[2020-06-14 18:12] ajoubertza commented on #364
@woutdenolf That sounds like a good idea.  Thanks.

[2020-06-15 07:12] wkitka commented on #355
Hi @ajoubertza  ,
I investigate it.

[2020-06-15 11:53] mguijarr commented on #366
I had the information from @bourtemb that the ADMIN device is always instantiated last - so, we should also ping or do the state query on this one in case a server has multiple devices and we want to know when they are all "ready"/"online".

This is the case for Lima servers, for example.

[2020-06-19 14:22] wkitka commented on #355
Hi @ajoubertza ,
I added pthread .dll files in #367

[2020-06-22 15:56] Ingvord opened #368 "Access violation - no RTTI data!"
Dear PyTango Gurus,

Playing with PyTango on Windows (... shame on me) I have encountered the following error when starting my test Tango server (PowerSupply from the docs)

[code]

[code]

Any ideas? Thanks!

[2020-06-23 13:57] ajoubertza commented on #368
Hi @Ingvord

(not too much shame!)

Might that problem be related to the general failure of 9.3.2 on Windows?  See #355.
Does 9.3.1 work?

[2020-06-25 12:29] wkitka opened #369 "PyTango test suite CI for Windows"
Run PyTango test suite in AppVeyor to quickly find up Windows-related bugs.

[2020-06-25 14:57] Ingvord commented on #368
@ajoubertza

You are totally right. With 9.3.1 (`pip install pytango==9.3.1`) it works!

[2020-06-25 14:57] #368 closed, assigned to nobody

[2020-06-25 20:15] ajoubertza commented on #369
It is probably easier to make a small change to the AppVeyor scripts to do this.  However, GitHub Actions are another option if we find some limitation using AppVeyor.

[2020-07-07 11:32] ajoubertza commented on #342
Conda packages updated:  https://github.com/tango-controls/pytango-conda-recipes/pull/1
Available here:  https://anaconda.org/tango-controls/pytango/files

[2020-07-07 11:32] #342 closed, assigned to ajoubertza

[2020-07-08 15:55] cpascual opened #371 "Event-subscribed client segfaults if events cannot reach it"
I found this while investigating crashes in taurus GUIs when a tango DS was restarted (see  taurus-org/taurus#1118).

I managed to reproduce this using conda environments with both py2 and py3, and with pytango v 9.3.0 till 9.3.4-rc6 (pytango 9.2.x did not seem to be affected)

To reproduce, follow these steps

(**UPDATE: 2020-07-09**: all this was done with the tangotest DS running on a separate

[2020-07-08 15:57] cpascual commented on #371
Here is the backtrace when running it with gdb:

[code]

[2020-07-08 20:22] ajoubertza commented on #371
Hi @cpascual.

Thanks for the detailed example.  I'm struggling to reproduce the problem.  I've tried in various Docker containers, but don't get a segfault.  Is your TangoTest running in the same environment, so same version of cppTango?

Details of the versions tested after the example printout below.

[code]

Versions tested:
- PyTango 9.3.2 + cppTango 9.3.4rc6 + tango-test 3.0 (used for log sh

[2020-07-09 08:16] weninc opened #372 "Event subscription lost when destroying different DeviceProxy instance"
Hi,
I have some issues trying to understand the behavior of  subscribe_event.
Here is a simple piece of code that just wraps a DeviceProxy and subscribes to the state with change_event.
If I instantiate this object twice I don't receive any events. (this re-instantiation happens all the time when rerunning a script in ipython with the %run magic).
If I explicitly call del on the object before recr

[2020-07-09 10:29] ajoubertza commented on #372
Hi @weninc

Yes, that is a little surprising.  I can reproduce it running python 3.7 / cpptango 9.3.4-rc6 / pytango 9.3.2.
I'm not sure if the problem is PyTango or cppTango, or just a "feature".  I'll investigate some more.

A couple of scenarios are shown below, which provide some more clues.

[code]

The error message in the final exception is from cppTango, but I don't know if the PyTango clie

[2020-07-09 11:14] weninc commented on #372
Great thanks for looking into it.
I have seen these problems with del as well and was reading the thread you mentioned (lots of interesting details). It makes it quite tricky to properly cleanup and unsubscribe from events.
I have tried to remove the unsubscibe_event call in __del__ but that doesn't change the behavior I see.

[2020-07-09 12:11] cpascual commented on #371
Hi @ajoubertza , thanks for having a look at it!

I am running my server on a separate container, using SKA's tango images. More specifically, my tests were using
`nexus.engageska-portugal.pt/ska-docker/tango-java:9.3.3` for the tangotest container, and `nexus.engageska-portugal.pt/ska-docker/tango-cpp:9.3.4-rc4` for the databaseds, and I started, stopped them using SKA's makefile (although I modi

[2020-07-09 13:22] ajoubertza commented on #372
OK.  The cppTango DeviceProxy [destructor](https://github.com/tango-controls/cppTango/blob/51359b241d10e10f16278c4f5388e2e9671d7e8c/cppapi/client/devapi_base.cpp#L2577) does unsubscribe from all events as well.  There is some more info in another PyTango issue [here](https://github.com/tango-controls/pytango/issues/315#issuecomment-596485807) - although that's more about issues with multiple threa

[2020-07-09 14:07] ajoubertza commented on #372
@bourtemb or @mliszcz Could one of you please try this as a pure C++ example?

Scenario 1:
- Create two DeviceProxy instances (proxy1, proxy2), subscribe to same attribute
- Expect 2 callbacks.
- Delete proxy**1**.
  - In PyTango we are seeing 0 callbacks after that.
  - In C++ (if we have a PyTango bug) then you will still get callbacks from proxy2.
- Delete proxy2.
  - In PyTango we get an excep

[2020-07-09 15:25] bourtemb commented on #372
@ajoubertza , it looks like this is due to a bug in cpptango: https://github.com/tango-controls/cppTango/issues/353
Maybe we could raise the priority of this cpptango issue which seems to have been forgotten since a while?

[2020-07-09 17:09] cpascual commented on #371
It looks like that's it: I've tested running without docker containers (the DB running in the host, from the tango-db debian package) and the tangotestds running both from the tango-test_9.2.5a+dfsg1-2+b2 debian package and from conda (tango-test=3.0,  cpptango=9.3.4rc6). In both cases the issue is not reproduced.

Also I notice something that supports the hypothesis of event blocking cause: when

[2020-07-09 19:14] ajoubertza commented on #372
Thanks for confirming @bourtemb.  Yes, please raise the priority on that cpptango issue.

[2020-07-10 08:30] #346 closed, assigned to piogor

[2020-07-10 13:42] bourtemb commented on #346
@kif, pytango 9.3.2 conda package for python 3.8 is now available on tango-controls conda channel.

[2020-07-10 16:56] cpascual commented on #371
I am updating the title of the issue according to the last findings

[2020-08-05 20:05] mliszcz commented on #372
Hi @ajoubertza, sorry it took so long, but I just tested the two scenarios you mentioned above. With pure-c++ client we have exactly the same results as you described (in both cases). This needs to be fixed in cppTango. In that other ticket I proposed possible solution.

[2020-08-05 20:15] ajoubertza commented on #372
@mliszcz No problem.  Thanks for investigating in detail.

[2020-08-17 09:40] stanislaw55 opened #373 "Take attribute and property type from type hint"
Hi,
I wanted to share an idea. Right now, when addint attribute (or property) in device class, one need to specify it in constructor like this:

[code]

when adding type hint support (for mypy, in example), one has to duplicate the type definition like this

[code]

It would be cool to just define attribute like this

[code]

So type is taken from Python's type hint. It would be super nice if it w

[2020-08-24 21:06] ajoubertza commented on #373
@stanislaw55 Thanks for sharing an interesting idea - I can see how the duplication is undesirable.  I have some comments:
- What is the benefit of a type hint for `attr` in the examples above?  In a device it would only ever be assigned to once, so it doesn't provide any type safety.  We also wouldn't typically access the attribute object, `self.attr`, within a device.
- Type hints may be useful

[2020-08-25 06:31] stanislaw55 commented on #373
Hi @ajoubertza
I'll answer in the same order as you asked

* Indeed, accessing attributes is rare but it would be nice to have coherent syntax with properties.
* Verbosity is not a problem. Repetition and possible slight changes in future may cause problems. I.e. changing property type from int to float or the other way around would require change in two places rather than one.
* That's good quest

[2020-08-25 07:55] woutdenolf opened #374 "[question] Tango is not initialised"
When we get the message `Tango is not initialised !!! Exiting` in stderr what does this mean? Looking at the code this seems to occur when the `Util` singleton object is not instantiated. What are the possible causes?

We do use `ApiUtil.cleanup()` in our test suite after every test (to prevent fd leaks, see issue #324). Is this the reason? And if it is, why doesn't it occur systematically (only o

[2020-08-25 08:34] AntoineDupre commented on #373
Hi @stanislaw55

I don't think that `mypy` will work because `attr` is not a `DevState` but it is a `tango.server.attribute`.
It's the same for properties, they are in the class level defined as: `tango.server.device_property`.

It can look like a good idea if we consider only the tango context (attributes are statically typed) but it is lying  from a python point of view.

Moreover, i think it ca

[2020-08-25 08:36] woutdenolf opened #375 "[question] reconnection delay"
When I see the exception `The connection request was delayed. Last connection request was done less than 1000 ms ago`
1. is my only option to sleep 1 second and try again? It doesn't seem like creating a new `DeviceProxy`helps.
2. Is the reconnection delay process wide, device specific or proxy specific? In the cpp code it seems to be related to a `Connection` but I don't know what that means.
3.

[2020-08-25 13:04] ajoubertza commented on #374
@woutdenolf Sorry, I don't have any ideas about the cause.

Looking at the cppTango code, `ApiUtil` is for [clients](https://github.com/tango-controls/cppTango/blob/4d2ad6555fd6bc6e6603406ea83b6ed0ed797eb3/cppapi/client/ApiUtil.h#L40-L46), while `Util` is for [servers](https://github.com/tango-controls/cppTango/blob/4d2ad6555fd6bc6e6603406ea83b6ed0ed797eb3/cppapi/server/utils.h#L124-L137).  So I'm

[2020-08-25 15:05] woutdenolf commented on #374
Thanks for the quick reply! This is the version info:

[code]

The tango servers (and the database) are run as subprocesses for the tests (so we don't use DeviceTestContext). So then `ApiUtil.cleanup()` should have nothing to do with it.

[2020-08-25 15:06] woutdenolf commented on #374
Thanks for the quick reply! This is the version info:

[code]

The tango servers (and the database) are run as subprocesses for the tests.

[2020-08-25 20:28] ajoubertza commented on #374
I'm not sure if you mean that because you are not using `DeviceTestContext` that implies that `ApiUtil.cleanup()` is not the cause?  `DeviceTestContext` can also run the devices in a subprocess.

PR #260 might give you some more clues (see PR comments and doc updates), even though it was focused on the `ApiUtil.cleanup()`.  It reminds us that subprocess inherit from their parents:

i.e. open file

[2020-08-25 21:43] ajoubertza commented on #375
Here's some speculation from a non-cppTango developer:

_1 and 2._ Looking at cppTango code, `DeviceProxy` inherits from `Connection`.  The timeout variables look like they are per `Connection` instance, so I would expect a new `DeviceProxy` to have its own timeout lifecycle.  If the device still isn't up when a new `DeviceProxy` is created, it will likely experience a similar issue.

_3._  There

[2020-08-26 08:26] woutdenolf commented on #374
Sorry I wasn't clear. If I understand well `ApiUtil` (client side) and `Util` (server side: subprocess in our case) are two different things (I wasn't aware). But maybe assuming that `ApiUtil.cleanup()` does not affect `Util` in a subprocess was jumping to conclusions.

In that case I should investigate (I wasn't aware of this). We use pytest fixtures for the different devices. Can we use multiple

[2020-08-26 09:20] bourtemb commented on #374
The Tango::Util::instance is normally created when Tango::Util::init(int argc, char ** argv[]) is invoked.
So, I would say that the probable cause is that Tango::Util::init(int argc, char ** argv[]) was not invoked.

I don't think this is linked. ApiUtil is a different class. Its instance is different than the one from Tango::Util

From what I see from the code, it seems to be Tango::Util::init(in

[2020-08-26 09:48] bourtemb commented on #374
The Doxygen documentation confirms what I was writing:

https://tango-controls.github.io/cppTango-docs/classTango_1_1Util.html#a577119e32b43b1344d6f9ef37f587472

[2020-08-26 12:29] woutdenolf commented on #375
Hard to reproduce but it seems I can sometimes instantiate a DeviceProxy and get a `The connection request was delayed` exception when I `ping` immediately after. So this means DeviceProxy tries to connect on construction but does not raise an exception when this connection attempt failed. So DeviceProxy gets instantiated with its `prev_failed_t0` time set.

PS: this situation occurs when the devi

[2020-08-26 12:57] bourtemb commented on #375
Indeed the DeviceProxy construction will not raise an exception if the connection attempt occurring during the construction failed.
You could get an exception if the device is not defined in the Database though.

And you actually get an error when really trying to use the DeviceProxy object to execute a command, read/write an attribute or a pipe on this device since there was already a failed atte

[2020-08-26 13:05] woutdenolf commented on #375
Ok that explains the behavior I'm observing. Thanks!

[2020-08-26 13:05] #375 closed, assigned to nobody

[2020-08-26 19:19] #364 closed, assigned to nobody

[2020-08-26 19:53] ajoubertza commented on #372
@weninc This issue is being fixed in cppTango - see https://github.com/tango-controls/cppTango/pull/746.  Note that it will only be available from the first 9.4.x cppTango release - no backport to 9.3.x.

Can we close this ticket now?

[2020-08-26 20:30] ajoubertza commented on #374
This happens in the PyTango extension code [here](https://github.com/tango-controls/pytango/blob/03c46a9aced7a725774ac8c60636f889f2dae47f/ext/server/tango_util.cpp#L90).  That should be called automatically.  Normally happening if `tango.server.Device.run_server` is used, as mentioned in an earlier comment.

[2020-08-27 10:16] weninc commented on #372
thanks, I am following the progress of https://github.com/tango-controls/cppTango/pull/746.
Can we wait to close this issue until the fix gets merged?

[2020-08-27 10:51] ajoubertza commented on #372
Yes, we can wait until it merged.

[2020-08-28 07:21] woutdenolf commented on #374
I can confirm it happens when calling `tango.Util(args)` on the server side (done in a subprocess of a test suite). We wait for the database to be online before starting the subprocess. "Online" means: pingeable, state=ON and we can get the list of exported devices from `sys/database/2`. Still can't find a way to reproduce it outside of our context.

Edit: for reference if the database is not runn

[2020-08-28 09:17] woutdenolf commented on #374
Are `PyTango.Util.init(args)` and `PyTango.Util(args)` equivalent?

[2020-08-28 13:36] ajoubertza commented on #374
From that comment, it sounds like the parent process that is checking the database will already have an instance of `Util` and be "doing TANGO stuff" before the subprocess is launched.  The subprocess would inherit the parent process's context, which would include the TANGO and the CORBA state.  As noted earlier in this discussion, that could cause unpredictable results.

Is it possible to change

[2020-08-28 13:52] woutdenolf commented on #374
We have one subprocess which runs the database and several other subprocesses which run the device servers.

The tests will need to use the tango devices (`DeviceProxy`) but we don't run any server in the main process.

1. What do you mean with `TANGO/CORBA state` actually?

2. How can I check where this `TANGO/CORBA state` is being instantiated? What instantiates it? Calling `Database()` or `Devi

[2020-08-28 17:49] woutdenolf commented on #309
Has nothing to do with different tango versions.

This could be because we use db_access to implement our own database. Maybe `DbGetDataForServerCache` returns the wrong type?

This is where the exception is raised: https://github.com/tango-controls/cppTango/blob/81286b2eab1ec27686f9428f3efa03681f5a3164/cppapi/server/utils.cpp#L1249

[2020-08-28 18:12] woutdenolf commented on #309
This makes the message go away:

[code]

This works because DevFailed is captured and silently ignored:

https://github.com/tango-controls/cppTango/blob/81286b2eab1ec27686f9428f3efa03681f5a3164/cppapi/server/utils.cpp#L1241

Call that raises the DevFailed when `DbGetDataForServerCache` raises `NotImplementedError `:

https://github.com/tango-controls/cppTango/blob/81286b2eab1ec27686f9428f3efa03681

[2020-08-28 20:26] ajoubertza commented on #374
1. It isn't that clear to me either, but see this [comment](https://github.com/tango-controls/pytango/issues/259#issuecomment-463729156), and also cppTango issue linked in that same discussion thread.  That is where I got it from.
2. I don't know how to check it.  From the linked discussion threads, calling `DeviceProxy(...)` or `Database()` would do it.  From the cppTango code, not only do they a

[2020-09-04 08:21] hayg25 opened #379 "[Question] HL DS synchronized with another DS"
Dear All,
I would like to create a DS (DS1) with 2 attributes (Att11, Att12).
This DS should be build from another existing DS (DS0) with 2 Attributes (Att01, Att02)
like : `
- Att11 = K1*Att01
- Att12 = K2*Att02
K1 and K2 are some scaling factors in this case but the arithmetic operation for Att11, Att12, could be more complicated (polynomial, ... etc)
I would like to do it for each event.

Do yo

[2020-09-04 08:41] andygotz commented on #379
@hayg25 this looks very close to what has been implemented in the Facade device at MaxIV. Vincent Michel, one of the authors, gave a great talk on this topic at ICALEPCS 2017: https://accelconf.web.cern.ch/icalepcs2017/talks/mobpl06_talk.pdf

There are links in there to the code. Hopefully someone from MaxIV can help you try it out.

Cheers

[2020-09-04 10:14] vxgmichel commented on #379
Exactly! :)

Here's a link to the documentation:
https://tango-facadedevice.readthedocs.io/en/latest/

[2020-09-08 17:10] hayg25 commented on #379
Dear @andygotz, dear @vxgmichel ,
thanks a lot for the solution, that's exactly what I need.
I tried using a DS I created for testing :

[code]

and I modified the example you gave :

[code]

so I set the properties for the new DS_REC.
And when I start the device,

1.  It stays in Unknown state
2. none of the value is updated ...

Thanks

[2020-09-08 21:07] AntoineDupre commented on #379
Hello @hayg25

It missing `self` in `Sum` arguments:
[code]

The two attributes `Width` and else `Height` are bind to the attribute defined in the properties:
`WidthAttribute`
`WidthAttribute`

This attribute can be set a tango attribute like `domain/family/member/attribute` (The tango attribute change/periodic event channel has to be enabled) or to a raw value.

The device state has to be managed

[2020-09-09 13:19] hayg25 commented on #379
Hi @AntoineDupre ,
thanks for your help, indeed I missed the self argument !
It Works now. But still the DS status is in **unknown mode** : any idea ?

[2020-09-14 09:26] woutdenolf commented on #374
In the end the issue may have been the same as:

https://www.tango-controls.org/community/forum/c/platforms/gnu-linux/device-server-gets-stuck-then-works-as-expected/

In our case we had CI in docker containers on virtual machines and there was not enough entropy. I have no idea what this has to do with TANGO or CORBA but it seems affected by it. The solution:

[code]

[2020-09-14 09:28] #374 closed, assigned to nobody

[2020-09-14 21:14] ldoyle commented on #379
The device state and status are not changed to ON automatically, UNKNOWN will stay until you change it.
In normal Tango devices, I just use `self.set_state()` and `self.set_status()` in the appropriate places (e.g. at the end of `init_device()` or after some action failed inside a command). Remember to always update both (*) to keep them in sync.
I'm not familiar with this `facadedevice`, but the

[2020-09-15 07:47] AntoineDupre commented on #379
Hi @hayg25

As Idoyle mention, the state needs to be managed manually. It can be set in the `safe_init_device` function (function called after facade initialization):
More documentation there: https://tango-facadedevice.readthedocs.io/en/latest/tutorial.html#adding-extra-logic-at-initialization

[2020-09-18 10:38] Ingvord opened #380 "PyTango mandatory device property with default value"
https://github.com/tango-controls/pytango/blob/d467c1be41ab0ff888a5a6cd7041a9780ff40468/tango/server.py#L1214

Does not that mean that there is no way to define a mandatory property with a default value, does it?

[2020-09-18 10:41] Ingvord commented on #380
Removing mandatory requirement does prevent exception, but the default value is not set...

[2020-09-18 11:55] bourtemb commented on #380
As far as I understood, a mandatory property is a property which shall be defined in the Tango Database so it does not make sense to have a default value for such properties.

[2020-09-23 14:49] woutdenolf opened #381 "[question] log message format"
Is there a way to change the tango logger message format?

I think it is done here: [log4tango/src/PatternLayout.cpp](https://github.com/tango-controls/cppTango/blob/81286b2eab1ec27686f9428f3efa03681f5a3164/log4tango/src/PatternLayout.cpp)

Currently I have

[code]

but I would want to change it to

[code]

[2020-09-23 17:11] EmCeBeh opened #382 "Change x-axis for spectrum attribute"
Hi,

I created a device server with the attribute:

[code]

And in the `read_pressure` function I return an array / a spectrum
[code]
I can access the device server via e.g. `Jive`, which gives me a nice graph of all 60 values of that attribute.
Is there a way to return x-axis  values along with the `pressure` values?

This would be useful if the `pressure` values are not equidistant on the x-axis

[2020-09-23 17:34] EmCeBeh opened #383 "Polling period does not update / how to do proper polling"
Hi,
as far as I understand, I would do polling like this:

I created a device server with the attribute `value` and a variable `_internalValue

[code]

The extra function I create, because later the value will of course not be random but come from a device with a serial port and a very slow connection. The value should update every two seconds. And all the clients can access the last internally st

[2020-09-23 18:50] AntoineDupre commented on #383
Hi @EmCeBeh

For your information, you can directly put some polling on the attribute itself.
[code]

Internally the polling thread will execute every 2 seconds the read method and feed a cache for this attribute. Clients will now get the cached value when then do a read query.

About your second question. The `polling_period` argument value is used only if there is no polling period defined in th

[2020-09-23 19:03] #379 closed, assigned to nobody

[2020-09-24 08:53] EmCeBeh commented on #383
Thanks a lot! Also for clarification this is equivalent to
[code]
right?

[2020-09-24 09:14] AntoineDupre commented on #383
Yes it is equivalent

[2020-09-24 10:57] #383 closed, assigned to nobody

[2020-10-05 08:08] ajoubertza commented on #382
Hi @EmCeBeh

Tango spectrum attributes, like you have in your example, are strictly one dimensional arrays.  If you want to store both the X and Y coordinates, you will need a 2-D array.  This can be done with Tango image attributes.  As the name suggests, this typically used for plotting images, so you probably won't get a 2-D scatter plot in Jive.

Here's an _untested_ example - in this case I'v

[2020-10-07 20:11] ajoubertza commented on #380
Thanks @bourtemb.  I agree.

@Ingvord Can we close this issue?

[2020-10-08 08:30] Ingvord commented on #380
Well, the error message is misleading anyway. Should we open another one for that?

[2020-10-08 10:55] ajoubertza commented on #380
Oh, I see.  We can discuss the misleading message here.

The current message is:

How about:

I see another message related to mandatory - is this one OK as is?
https://github.com/tango-controls/pytango/blob/d467c1be41ab0ff888a5a6cd7041a9780ff40468/tango/server.py#L624

[2020-10-09 16:14] Ingvord commented on #380
Well, taking into account the fact that `default_value` is basically ignored in favor to `mandatory`, I would say:

`mandatory device property (=True) must be defined in the Tango Database. default_value is ignored in this case.`

If there is access to name field of course that can be enhanced using `format`

[2020-10-11 13:19] ajoubertza commented on #380
@Ingvord OK, I've made a PR with a new message, combining some of your's and some of mine.

I don't want to change the behaviour, so I'm not ignoring the default - still raising the exception, so the developer can fix the error.

The name of the field is not available, because the error happens before completing the assignment to the field.  However, the location of the problem is obvious from the

[2020-10-12 11:57] Ingvord commented on #380
@ajoubertza

yeah I meant raising an exception when `default_value` is set effectively ignores it, as, usually, `default_value`s are in use when no other values are provided.

Perfect! Thanks!

[2020-10-13 14:21] #380 closed, assigned to nobody

[2020-10-22 12:02] vallsv commented on #298
Hi, we have the exact same problem with `str(proxy)`. Would be nice reach inside the problem.

`__str__`, and `__repr__` are basically used everywhere when you debug suffs. Used by ipython output, loggers... It makes the problem really really difficult to solve.

[2020-10-23 14:11] andygotz commented on #299
This issue recently caused us crashes on a beamline. It would be good to re-discuss how it can be fixed.

[2020-10-25 19:48] ajoubertza commented on #299
Hi @birkenfeld @andygotz

I've looked at this one, but don't see anything obvious I can fix to make the methods GC-aware.  These bound methods (e.g., `write_attribute`, `command_inout`, `read_attribute`) are something provided by the Boost layer.  Assigning a new bound method, like `proxy.write_attribute = proxy.write_attribute`, keeps a reference to `__self__` for the original bound method alive.

[2020-10-25 19:49] ajoubertza commented on #299
@birkenfeld I'm still curious to see a code snippet that shows how you "wrap" these methods.   The original post with
`proxy.write_attribute = proxy.write_attribute` causes a memory leak, but does not look useful in practice.

[2020-10-25 20:23] birkenfeld commented on #299
Sure, that was just simplified as much as possible since I found that an actual wrapper function is not required to produce the leak :)

The actual wrapping code can be found here: https://github.com/mlz-ictrl/nicos/blob/master/nicos/devices/tango.py#L286

In general, it would astonish me if Boost-Python can't be made to work without the leaks, they would certainly have been found and reported in

[2020-10-29 09:10] tiagocoutinho commented on #315
Hi,
We (me and @jairomoldes), have tried a few options without any success.
We are out of ideas. it anyone is willing, please feel free to try any solutions.

[2020-10-29 11:17] bourtemb commented on #315
[DeviceProxy::subscribe_event documentation](https://tango-controls.github.io/cppTango-docs/classDeviceProxy.html#ae70b05018febd1f5da7d03c5583663d4) says the following:

This means the DeviceProxy object must stay alive as long as we want to receive events. As soon as the DeviceProxy object is destroyed, the events which have been subscribed will be unsubscribed.
It does not make sense to create a

[2020-10-29 11:32] bourtemb commented on #315
Please also note that @mliszcz has done some work on the topic to avoid unintended unsubscriptions when using several proxies pointing to the same device:
https://github.com/tango-controls/cppTango/pull/746 which should fix https://github.com/tango-controls/cppTango/issues/353
Please feel free to test it and give some feedback.

[2020-10-29 16:21] jairomoldes commented on #315
I tried this but the problem is still there.

[2020-10-31 12:24] #298 closed, assigned to nobody

[2020-11-04 11:37] spirit1317 commented on #369
First problem was that in tango/test_context.py calling:
handle, db = mkstemp()
os.unlink(db)

without previously closing the handle would result in an error.
It was solved in this commit: 7d63b8ea8e8510c35009a4cc281d764615d08391

[2020-11-04 11:55] spirit1317 commented on #369
Running more than one test using DeviceTestContext would result in Segmentation Fault occuring in the second test, as mentioned here: https://github.com/tango-controls/pytango/pull/387#issuecomment-719776294

Two workarounds:
1) We can first gather all test without running using --collect-only and -q options. And then use a .bat script to run all the tests one by one with all parameters separately

[2020-11-06 19:26] ajoubertza commented on #369
@spirit1317 Thanks for the feedback.  Nice work, figuring this out!

I prefer the batch file execution of the tests under Windows, ca4f8a0.   I have the following comments:
- I was wondering about the `pytest_empty_config.txt` file.  I see we have to use that instead of `setup.cfg` so that it doesn't try to use the `--boxed` option and run all the tests in the `test` directory.
- When I was trying

[2020-11-10 22:13] reszelaz commented on #315
Thanks @tiagocoutinho, @bourtemb and @jairomoldes for investigating this issue!

I understand that the above example does look not very realistic when one think about programming with PyTango. In case of using disposable Taurus attributes it is however a very probable scenario - Taurus subscribes to the configuration events when constructing an attribute.

I explain you another scenario which we a

[2020-11-13 21:48] reszelaz commented on #292
Hi all, I was just reviewing old issues and I think that this one can be closed already. We are happy with the fix with cppTango.

[2020-11-14 19:25] #292 closed, assigned to nobody

[2020-11-15 12:36] ajoubertza commented on #299
@birkenfeld

Yes, it is probably possible (and most of PyTango does work without leaks!).  Maybe we are just using it wrong?  There is a workaround, so I don't intend to investigate any further.  You are welcome to propose a PR, if you can find a general fix.

Alternatively, can we close this ticket?

I recently noticed that the standard library's weakref module already includes [`WeakMethod`](htt

[2020-11-15 13:10] ajoubertza commented on #366
@woutdenolf Can we close this ticket?

[2020-11-15 13:15] ajoubertza commented on #356
No response, so closing old ticket.

[2020-11-15 13:15] #356 closed, assigned to nobody

[2020-11-15 13:56] birkenfeld commented on #299
Thanks for the suggestion! I will try that next week and let you know here.

[2020-11-16 08:56] #366 closed, assigned to nobody

[2020-11-17 10:05] dmiego opened #390 "Windows GUI app crash on exit (Successful WSASTARTUP not yet performed)"
Hello.

We create GUI applications using Pytango and PyQt/PySide and use events to receive data.
When the program is closed via X (close) button, Windows show popup with "unknown software exception" and "_Assertion failed: Successful WSASTARTUP not yet performed (..\..\..\src\signaler.cpp:377)_" error in the terminal, even with unsubscribing from events before accepting close signal.

![image](htt

[2020-11-17 10:11] spirit1317 commented on #355
Hello,

I started working on this ticket, continuing from ba65e3899227c149175a1089b8bfb2278a0b9131. I discovered two additional problems with pytango 9.3.2 on Winows:

problem 1:
[code]

If TANGO_HOST is not set, on tango 9.3.1 it throws exception, but on 9.3.2 python ends abruptly without any warning.

problem 2:
[code]

It crases without any error in `__DeviceClass__device_factory` in `device_cl

[2020-11-20 09:53] abdomit opened #392 "typo in get_server_info documentation"
There is a typo in the documentation of `get_server_info` defined in `tango/db.py:1572`

the doc says:
`name of the server to be unexported with format: <server name>/<instance>`

it should be:
`name of the server with format: <server name>/<instance>`

[2020-11-20 10:04] ajoubertza commented on #392
Thanks for the note, @abdomit.  Would you mind submitting a pull request with a fix?

[2020-11-20 10:15] abdomit commented on #392
No problem: #393

[2020-11-20 13:14] abdomit commented on #392
Thanks for the merge

[2020-11-20 13:14] #392 closed, assigned to nobody

[2020-11-24 08:39] weninc commented on #372
fixed in cppTango 9.4.x

[2020-11-24 08:39] #372 closed, assigned to nobody

[2020-11-25 17:01] reszelaz opened #394 "Events stops to work after a while"
Hi all,

I have found a strange bug, not sure if it comes fron PyTango or from cppTango, for the moment I create it here.

Short description:

The architecture is as following. We have one DS called `DeviceLostEvent` which exports one device of the `DeviceLostEvent` class. This device has one command `cmd` which when executed change's device state to MOVING and pushes the state event. Just after t

[2020-11-25 17:07] bourtemb commented on #394
Hi @reszelaz ,
Could you tell us what versions of cppTango, PyTango and ZMQ you are using?

[2020-11-25 17:07] reszelaz commented on #394
The issue is not reproducible using the latest packages of cppTango and PyTango.
Sorry for the spam.

[2020-11-25 17:07] #394 closed, assigned to nobody

[2020-11-25 17:11] bourtemb commented on #394
@reszelaz, you probably faced this bug: https://github.com/tango-controls/cppTango/issues/444

[2020-11-25 17:27] reszelaz commented on #315
I have just realized that in this example I was not using the `tango.EnsureOmniThread()` context manager. Now I have added it in https://github.com/reszelaz/test-tango/commit/c12320775963614fec0142aaa0ddc8a7f0c763ed but the problem persist.

[2020-11-25 17:54] reszelaz commented on #394
Yeap, it must be this one. I fell into the same trap as 2 years ago:)
I was continuing investigation on #315. I'm not 100% sure if what we experience at our beamlines is #315 or another bug - the backtraces that I collect at the beamline and using the example are not exactly the same. I will keep trying to get some more information.

[2020-11-26 15:15] ajoubertza commented on #315
Thanks, I was wondering if that would make a difference.  I will investigate further.

[2020-11-30 19:19] ajoubertza commented on #315
I tried adding a function to be called when the C++ DeviceProxy object is to be released by the Boost extension.  In that new function, `destroy_proxy`, I release the GIL before deleting (so calling `Tango::DeviceProxy::~DeviceProxy`).  I still get a deadlock, but I'm not sure of the cause now.  It doesn't look like GIL + map_modification_lock ReadersWritersLock.   More like Tango::TangoMonitor +

[2020-11-30 19:19] ajoubertza commented on #315
@jairomoldes and @tiagocoutinho It would be useful to know what you have already tried, so that we don't repeat those efforts.

[2020-12-01 14:40] tiagocoutinho commented on #315
We tried to intercept the DeviceProxy destructor. In this hook we release the GIL and try to unsubscribe from all events.

Fortunately @jairomoldes kept the reference to our tests.
You can find it here: https://github.com/jairomoldes/pytango/tree/315

[2020-12-03 07:39] spirit1317 commented on #369
@ajoubertza Thanks for your remarks.
Like you suggested I added check for 'nt' in os.name, and repaired an old bug connected to os.unlink(). Also I found out that we need to pip install some packages for python 27. test_clinet.py was using TangoTest so I hosted this file [on my repo](https://github.com/spirit1317/tango-test-exe/raw/main/TangoTest.exe). Maybe you will know a bettter alternative.
25

[2020-12-03 07:40] spirit1317 commented on #355
Hi,

I think I might find the solution.

- Like mentioned in my prievious comment, `<omnithread.h> `needs `__WIN32__` macro to be defined on windows.

- Normally when using CppTango, `__WIN32__` macro is defined inside `tango_conf.h` (imported from `<tango.h>`), but in PyTango Boost extension we have file `ext/pyutils.py` importing `<omnithread.h>` without importing `<tango.h>`

- Error described

[2020-12-03 09:29] ajoubertza commented on #355
Nice work, @spirit1317.  That is some good debugging!

I think solution 1 is the better option.  Although, we do not need to add `<tango.h>` to any extension files.  Files that already have it keep (fixing the include order).  Files that don't have it, don't need it.  If we make a mistake with the order in future, the Windows compilation will fail again because of the missing `pthread.h` (then we

[2020-12-03 09:50] spirit1317 commented on #355
Hi, thanks for your reply,

_`Although, we do not need to add <tango.h> to any extension files.`_

When I tried compiling PyTango without added `tango.h` import to `pyutils.h` it complained, so I think it might be required to add it.

[2020-12-03 11:48] ajoubertza commented on #355
Sorry, I wasn't clear in my comment.  I'm sure the file is important, and the extension files that already include it must continue to do so.  So yes, `pyutils.h` must still include `tango.h`.

[2020-12-03 12:05] ajoubertza commented on #369
Adding a summary is a good idea.

I'm not sure about the TangoTest Windows binary.  Using your personal repo is not a good solution.  I've asked about it on kernel dev Slack channel.

~Which Python packages are missing?  Or are you referring to the TangoTest executable?  I don't see any additional Python packages mentioned in 25012e9.~. Update:  I see them now.

[2020-12-03 14:30] birkenfeld commented on #355
Please only close this once a fixed version is posted to pypi. The current state is quite bad, with pip installing the broken package.

[2020-12-03 19:42] spirit1317 commented on #369
I found on appveyor docs [here](https://www.appveyor.com/docs/build-worker-api/#add-tests), describing how to use appveyor REST API to send json file with a tests summary. So now we can see in appveyor tab how many tests were successful. cb9b202e6451b744e2a1847c1ae49b213e521fc1

I created a pull request, but I don't know if it's ok:
https://github.com/tango-controls/pytango/pull/395

[2020-12-10 08:49] sergirubio opened #396 "Are DynamicCommands not suported in python / pythonHL? (Pogo says so)"
Hi,

I am not sure whether it is a PyTango or a Pogo issue.

When generating a Python device server with Dynamic Commands in Pogo, this message appears:

      "Dynamic Commands are not supported in python"

If PythonHL is selected instead then no warning appears, but commands are not added to the generated source.

Sergi

[2020-12-11 05:03] ajoubertza commented on #396
Hi @sergirubio

They are supported.  See a PyTango example [here](https://github.com/tango-controls/pytango/blob/3f5e3ec8440267fb72f501d777d48c28f35b13ba/examples/interfacechangeEvents/IfchangeServer.py#L52-L57) for high level API.  In that example, I notice the `from tango.server import DispLevel` must be changed to `from tango import DispLevel`.

Another place we used it is in [tango-simlib](htt

[2020-12-11 09:00] sergirubio commented on #396
Hi Anton,

So, it seems that is not a PyTango bug but a Pogo bug  instead; it should generate dynamic commands templates for PythonHL

You can close the ticket and I'll open a new one in Pogo queue,

Sergi

[2020-12-11 09:59] #396 closed, assigned to nobody

[2020-12-14 11:42] sergirubio commented on #396
Just for tracking: I added the issue in Pogo queue

https://github.com/tango-controls/pogo/issues/103

[2020-12-14 19:58] #369 closed, assigned to wkitka, spirit1317

[2020-12-14 20:24] ajoubertza commented on #355
Re-opening, as new release still has to be made.

[2020-12-16 20:50] ajoubertza commented on #390
@Diego91RA @reszelaz

PyTango doesn't have a direct hook to the ZMQ context in the cppTango library.  From what I can see, the singleton classes `ApiUtil` (clients/device proxies) and `Util` (servers) own the ZMQ contexts.  The `ApiUtil` has an event consumer, and the `Util` has an event supplier.

If your application is doing client access to Tango devices, then it might help to call [`tango.ApiU

[2020-12-16 21:31] reszelaz commented on #390
Hi @ajoubertza,
Many thanks for these advices. We will certainly test it during the Jan21 (before end of January) release processes of Taurus and Sardana. These are the times we usually test on Windows. I will do my best to find some extra time earlier but I can not promise.

[2020-12-17 20:34] dmiego commented on #390
Hi @ajoubertza

I've tried to add `tango.ApiUtil.cleanup()` to the PyQt `closeEvent()` function in my client application and now it's just stuck on exit, without responding or showing error popup dialogs, like it was previously.

[2020-12-18 08:29] ajoubertza commented on #390
Thanks for trying it out, @Diego91RA.  Maybe there is a different place to call it (fr example, using the Python `atexit` module)?  Or maybe you have to somehow cleanup all your PyTango clients before the doing the `tango.ApiUtil.cleanup()`?   You might even need to force a `gc.collect()` step as part of the cleanup.

Other than that, you would need to attach a debugger to see what is happening.

[2020-12-18 09:47] sdebionne opened #398 "Test suit hangs after a couple of test_async"
I am trying to build pyTango for IBM Power9 using the Conda recipes. The `setup.py` runs fine but the test suit hangs forever after a couple of async tests.

[code]

Here is the test env:

[code]

@ajoubertza Any chance that this rings a bell? I would be surprised that this is a platform specific issue...

[2020-12-18 12:23] ajoubertza commented on #398
Hi @sdebionne

No, sorry that doesn't ring a bell.   You'll have to try debugging.  Do other tests pass (e.g., if you skip/remove the `test_async.py` file)?

[2020-12-18 16:52] bourtemb opened #399 "Travis CI migration to Gitlab CI"
pytango repository is using Travis CI.

At the beginning of January 2021, CI using Travis CI projects still on travis-ci.org will no longer work.
To avoid migrating to travis-ci.com which is less friendly with Open Source projects like tango-controls, the Tango Steering Committee decided to migrate the tango-controls git repositories to gitlab.com and to use Gitlab CI for the Continuous Integratio

[2020-12-18 17:18] bourtemb opened #400 "Gitlab Migration: Please log into GL with your GH account ASAP"
Dear pytango participant (via commits, comments on issue or pull requests, issue creator),

If you have contributed in any way (commit, issue or Pull Request creation or comment) to pytango, please log into Gitlab.com using your Github account **ASAP**.
See https://github.com/tango-controls/TangoTickets/issues/47 for details.

Please click on the following link and add your github account name to

[2020-12-20 19:53] ajoubertza opened #402 "New release planned: v9.3.3"
This is to inform the community that a new release is being prepared.

- [x] Read steps in the how-to-contribute docs for making a release
- [x] Pull request to update changelog and bump version
- [x] Merge PR (this is the last PR for the release)
- [x] Merge develop into stable
- [x] Make sure Travis and Appveyor are OK on stable branch
- [x] Make sure the documentation is updated for stable (rea

[2020-12-21 09:04] dmiego commented on #390
Hi @ajoubertza

I think PyQt doesn't implement Python `atexit`, it has its own on-close triggers, inherited from C++ Qt, such as `closeEvent` or `QApplication.aboutToQuit`.
I've tried different combinations of them and `gc.collect()` worked fine (and has no effect), but `tango.ApiUtil.cleanup()` was stuck anyway.

After that I've decided to comment line that switches my application to PUSH_CALLBAC

[2020-12-21 09:28] sdebionne commented on #398
I debugged a little bit and found out that it is actually the `tests/test_client.py` that hangs (the ones running after `tests/test_async.py`).

It looks like it's a timing issue: as soon as I add a breakpoint in `start_server()` and run some code step by step, the test pass. If I resume the normal executions (with `continue`), it hangs. Sorry, this is not giving you much info and the issue could

[2020-12-30 22:01] Ingvord commented on #368
Furthermore it is advised to use Anaconda to set up Python 3.6 as with newer Python versions PyTango seems to be in a non-great relationship

[2021-01-05 17:34] bourtemb commented on #402
I uploaded some pytango 9.3.3 conda packages on tango-controls conda channel.
Please report issues related to these pytango conda packages on https://github.com/tango-controls/pytango-conda-recipes git repository.

[2021-01-06 07:47] ajoubertza commented on #402
Thanks for the Linux conda packages, @bourtemb.

[2021-01-06 07:50] #402 closed, assigned to nobody

[2021-01-06 12:02] andygotz commented on #402
Hi @bourtemb , thanks a lot! Do you know what needs to be done to do the same for Windows?

[2021-01-06 12:47] ajoubertza commented on #402
There is a repo related to that, although it isn't set up to do any automated building.  @andygotz  I suggest this discussion moves to an issue there, as this ticket is closed.
https://github.com/tango-controls/pytango-windows-conda-recipes

[2021-01-07 19:45] ajoubertza commented on #355
A new release, 9.3.3, is available on [PyPI](https://pypi.org/project/pytango/9.3.3/) and should work with Windows now.  Closing this issue.  If there are any problems with the new version, please create a new issue.

[2021-01-07 19:45] #355 closed, assigned to piogor, wkitka, spirit1317

[2021-01-07 20:08] ajoubertza commented on #390
@Diego91RA I haven't used that ApiUtil method, but from the docs and code, I think the `set_asynch_cb_sub_model` only applies to commands, not events.
cppTango details about commands:  https://tango-controls.readthedocs.io/en/latest/development/client-api/cpp-client-programmers-guide.html#asynchronous-model
cppTango details about events:  https://tango-controls.readthedocs.io/en/latest/development

[2021-01-08 08:47] ajoubertza commented on #398
Hi @sdebionne

Thanks.  My guess is that it is picking the wrong port to connect to the TangoTest device server, and that makes it "hang".  There is [this](https://github.com/tango-controls/pytango/blob/b0ebb51eca9b4cd526a6ee6500419577a5b33824/tests/test_client.py#L120-L129) simple auto detection function to find the port, but on your Power9 platform it is quite possible that the ports are listed

[2021-01-12 12:31] dmiego commented on #390
Hi @ajoubertza.
I've checked my old projects and found that I started using push/pull model switch in 2016, pytango 9.2.0 I think.
Maybe there was a bug, but that code followed me from one project to another since that.

Anyway, we've figured out `tango.ApiUtil.cleanup()` on exit fix the crash problem in my case.
@reszelaz can you check it in your developments?

Also, can we do it in Pytango itsel

[2021-01-12 13:34] spirit1317 opened #407 "Replace Boost Python extension with PyBind11"
PyTango is using Boost Python to create extension from CppTango. This implementation is compromising readability. It can be replaced with PyBind11.

[2021-01-14 10:37] reszelaz commented on #390
Sure, we will try it soon. This month we plan to make release tests on Windows and will take a profit of these tests to try this solution.

[2021-01-15 19:09] ajoubertza commented on #400
The PyTango gitlab migration is planned for Thursday 28 January 2021, so last chance to do the steps above is 27 January 2021.

[2021-01-21 10:16] sdebionne commented on #398
Hi @ajoubertza

Thanks for the feedback. I try setting `ports[1]` in `wait_for_proxy` but without success, the test suit still hangs at `tests/test_client.py`.

Running `pdb`, I can tell that 2 ports are detected:

[code]

while

[code]

[2021-01-21 10:35] ajoubertza commented on #398
Thanks for the feedback, @sdebionne.

From the `netstat` output it looks like two instances of TangoTest are running.  I don't think that is an issue.  That could be due to some test clean not yet done. I see at the end of the CI, we have [something](https://github.com/tango-controls/pytango/blob/345980972b5cd999a6cb8ed29c7fe745a545d326/.travis.yml#L69-L70) to kill any left over processes like tha

[2022-04-06 17:01] #283 closed, assigned to nobody

[2022-04-06 17:01] #299 closed, assigned to nobody

[2022-04-06 17:01] #302 closed, assigned to nobody

[2022-04-06 17:01] #303 closed, assigned to nobody

[2022-04-06 17:01] #305 closed, assigned to nobody

[2022-04-06 17:01] #306 closed, assigned to nobody

[2022-04-06 17:01] #309 closed, assigned to nobody

[2022-04-06 17:01] #312 closed, assigned to nobody

[2022-04-06 17:01] #315 closed, assigned to nobody

[2022-04-06 17:01] #320 closed, assigned to nobody

[2022-04-06 17:01] #323 closed, assigned to nobody

[2022-04-06 17:01] #331 closed, assigned to nobody

[2022-04-06 17:01] #336 closed, assigned to nobody

[2022-04-06 17:01] #338 closed, assigned to nobody

[2022-04-06 17:01] #339 closed, assigned to nobody

[2022-04-06 17:01] #354 closed, assigned to nobody

[2022-04-06 17:01] #357 closed, assigned to nobody

[2022-04-06 17:01] #371 closed, assigned to nobody

[2022-04-06 17:01] #373 closed, assigned to nobody

[2022-04-06 17:01] #382 closed, assigned to nobody

[2022-04-06 17:02] #390 closed, assigned to nobody

[2022-04-06 17:02] #398 closed, assigned to nobody

[2022-04-06 17:02] #399 closed, assigned to nobody

[2022-04-06 17:02] #400 closed, assigned to nobody

[2022-04-06 17:02] #407 closed, assigned to nobody

[2022-04-06 17:02] #141 closed, assigned to nobody

[2022-04-06 17:02] #145 closed, assigned to nobody

[2022-04-06 17:02] #147 closed, assigned to nobody

[2022-04-06 17:02] #151 closed, assigned to nobody

[2022-04-06 17:02] #164 closed, assigned to nobody

[2022-04-06 17:02] #166 closed, assigned to nobody

[2022-04-06 17:02] #167 closed, assigned to nobody

[2022-04-06 17:02] #172 closed, assigned to nobody

[2022-04-06 17:02] #173 closed, assigned to nobody

[2022-04-06 17:02] #174 closed, assigned to nobody

[2022-04-06 17:02] #185 closed, assigned to nobody

[2022-04-06 17:02] #190 closed, assigned to nobody

[2022-04-06 17:02] #200 closed, assigned to nobody

[2022-04-06 17:02] #217 closed, assigned to nobody

[2022-04-06 17:02] #218 closed, assigned to nobody

[2022-04-06 17:02] #222 closed, assigned to nobody

[2022-04-06 17:02] #228 closed, assigned to nobody

[2022-04-06 17:02] #229 closed, assigned to nobody

[2022-04-06 17:02] #230 closed, assigned to nobody

[2022-04-06 17:02] #231 closed, assigned to nobody

[2022-04-06 17:02] #234 closed, assigned to nobody

[2022-04-06 17:02] #241 closed, assigned to nobody

[2022-04-06 17:02] #244 closed, assigned to nobody

[2022-04-06 17:02] #264 closed, assigned to nobody

[2022-04-06 17:02] #268 closed, assigned to nobody

[2022-04-06 17:02] #53 closed

[2022-04-06 17:02] #72 closed

[2022-04-06 17:02] #119 closed, assigned to nobody

[2022-04-06 17:02] #123 closed, assigned to nobody

[2022-04-06 17:02] #126 closed, assigned to nobody

[2022-04-06 17:02] #132 closed, assigned to nobody

[2022-04-06 17:02] #140 closed, assigned to nobody