[2016-02-05 14:09] tiagocoutinho opened #5 "Server in gevent mode might fail with multiple clients"
In a gevent enabled device server, if multiple clients are connected the server gets blocked eventually.

The problem can be reproduced with intensive multiple clients accessing to the same attribute.

[2016-02-05 14:12] tiagocoutinho commented on #5
This was detected with PyTango 8.1.8, libtango 8.1.4.

The explanation is:
In, gevent mode, PyTango sets the tango serialization mode to NO_SYNC to be able to process all requests in the gevent thread. After searching with the libtango author (Emmanuel Taurel), we found that the problem is in an internal attribute lock which is taken at the wrong moment. If there are two concurrent accesses, chanc

[2016-02-26 13:02] tiagocoutinho opened #7 "Forwarded attributes API"
I propose to implement the new forward attributes feature in Tango 9 like this:

[code]

`forward` keyword is `False` by default. When `forward=True` it should only accept `label` keyword. All other keywords should throw exception.

I am open to any comments/suggestions/proposals ?

[2016-02-26 13:17] tiagocoutinho opened #8 "Pipe API"
### background

Pipes require different data types. You can think of them as a structured type.

A pipe transports data which is called a *blob*. A *blob* consists of name and a list of fields. Each field is called *data element*. Each *data element* consists of a name and a value. *Data element* names must be unique in the same blob.

The value can be of any of the SCALAR or SPECTRUM tango data t

[2016-02-26 13:38] tiagocoutinho opened #9 "Pipe write (client & server)"
Implement client & server writable pipes (tango9)

[2016-02-26 13:40] tiagocoutinho opened #10 "Forwarded attributes (tango9)"
Implement forwarded attributes in PyTango 9

[2016-02-26 13:41] #10 closed

[2016-02-26 13:42] tiagocoutinho opened #11 "Device interface change event (tango9)"
Implement Device interface change event on client and server for PyTango 9.

[2016-02-26 13:43] tiagocoutinho opened #12 "Dynamic commands (tango9)"
Implement dynamic commands (server side) for PyTango 9.

[2016-02-26 13:44] tiagocoutinho opened #13 "Pipe events (tango9)"
Implement pipe events (client and server) for PyTango 9

[2016-03-02 16:02] NexeyaSGara commented on #7
Hi,
Just some questions:
If the label is not correctly formatted or the attribute is not accessible, what will be the default behaviour ?
 - Attribute not added ?
 - Device in Fault ?

Another though:
In Pogo, the forwarded attributes are a new category and not a specific attribute.
So I'm thinking maybe making :
energy = fw_attribute(label="Energy")
will be more pratical.

[2016-03-03 08:33] tiagocoutinho commented on #7
Hi,

Since PyTango binds to C++, in case of error, the behavior would be the same as the C++ level.
I think it it good question. I could not find any reference in the C++ doc concerning error behavior on forward attributes. In the [Tango controls system handbook](http://ftp.esrf.fr/pub/cs/tango/tango_91.pdf), chapter *7.8 Forwarded attribute* you can find some information.

Concerning the API, hon

[2016-03-03 16:50] #5 closed

[2016-03-04 09:14] johanfforsberg commented on #7
I don't have a strong opinion either, but I tend towards keeping the API simple to understand. Having different sets of allowed arguments depending on the value of one argument seems potentially confusing, so I think using a different function for forwarded attributes makes some sense.

However I'm also a fan of explicit and obvious naming, so in that case I would prefer e.g. "forwarded_attribute"

[2016-04-13 07:12] tiagocoutinho opened #16 "Missing SVN tags/branches in project"
After migration from SF SVN, PyTango tags and branches are missing.

[2016-04-19 12:03] vxgmichel opened #17 "AutoTangoMonitor crash"
I tried the new `AutoTangoMonitor` feature with the following code:

[code]

Unfortunately it crashes when the lock is being released:

[code]

Am I doing it wrong?

[2016-04-21 09:58] vxgmichel commented on #17
By the way, I also realized that that the GIL is not released when [the TangoMonitor is being acquired](https://github.com/tango-cs/PyTango/blob/develop/src/boost/cpp/server/auto_monitor.cpp#L25). You said in a [previous thread](https://github.com/tango-cs/PyTango/blob/develop/src/boost/cpp/server/auto_monitor.cpp#L25) that this could create a deadlock, right?

[2016-04-29 15:01] vxgmichel commented on #7
@johanfforsberg  +1

[2016-06-03 07:43] #17 closed

[2016-06-06 08:27] tiagocoutinho opened #19 "Defining new members in DeviceProxy has side effects"
Defining new members in DeviceProxy (ex: by inheriting from DeviceProxy) causes DeviceProxy to define State and Status as properties instead of methods:

[code]

This problem occurs only in PyTango 9.x.
Thanks to Laurent Farvacque (ESRF) for reporting the problem

[2016-06-08 10:28] gnyiri opened #21 "Group usage from PyTango"
Using State() method on a DeviceProxy returned from get_device of a Group instance throws an exception. The same method works fine when the DeviceProxy instance was created directly.
See example below:

[code]

Output:

direct access sys/tg_test/1 -> RUNNING
Exception caught: _green_mode

Associated C++ version works fine:

[code]

The issue was originally reported at tango-controls forum:

http:/

[2016-06-13 10:50] roger11 opened #22 "Monitor timeout due to random lags in State command"
Hi to everyone,

let me introduce you to a problem we have encountered at ALBA synchrotron

**Error**
We have recently stumbled in the following error on our system:
[code]

**Problem description**
It happens when we are executing DATA_READY events on an acquisition thread on the server side and, meanwhile, a client executes a command on the server.

**Isolate _scenario_**
As our setup was quite c

[2016-06-22 15:35] brickZA commented on #11
I'm interested in this feature, and would not mind trying to implement it. Could you point me in the right direction for getting started? I can't even seem to find a C++ example of subscribing to the device interface change event, all the methods mentioned in the tango docs indicate the use of an "attribute" parameter. However, as I understand it, this event is not tied to a specific attribute?

[2016-06-29 14:15] jkotan opened #24 "dev_status and dangling pointer"
Hi,

When I override `dev_status` in PyTango 8 as

[code]

and I call on the client side

[code]

I get

[code]

However, the following code

[code]

works OK.

Is there any reference counting problem?

Bests,
Jan

[2016-07-01 09:55] vxgmichel opened #25 "Error when building pytango 9.2.0 without numpy"
I got the following error while trying to build pytango 9.2.0 with python3 and without numpy:

[code]

[2016-07-06 13:58] vxgmichel commented on #24
Thanks for your report! It definitely look like a reference counting issue.
Is anyone willing to work on it?

[2016-07-08 14:27] NexeyaSGara commented on #25
I have the same error on windows (PY34)

[2016-07-12 07:42] jairomoldes commented on #22
I can have a look at this. Did anyone already solve it or I go on?

[2016-07-12 07:48] vxgmichel commented on #22
No I don't think so, so you can go ahead. You can assign me to the PR if you want me to review it.

[2016-07-12 07:49] jairomoldes commented on #22
Fine. Thanks.

On Tuesday 12 July 2016 00:48:11 Vincent Michel wrote:

[2016-07-15 13:50] #22 closed

[2016-07-18 09:13] NexeyaSGara commented on #25
It seems that adding
#include "tgutils.h" to constant.cpp fixes it.
I don't really know why we don't have this issue with python2.

[2016-07-18 11:34] vxgmichel commented on #25
I actually haven't tried to reproduce this issue with python 2. Did you?

[2016-07-18 13:10] NexeyaSGara commented on #25
In fact, I have the same error with python2. Strange....

[2016-07-18 14:14] vxgmichel commented on #25
Actually it makes more sense: `tango_numpy.h` seems to include `tgutils.h` if `DISABLE_TANGO_NUMPY` is not defined, so the error has nothing to do with the python version. Your fix seems acceptable, could you make a PR and assign me? Thanks ;)

[2016-07-19 12:35] #25 closed

[2016-07-20 05:36] picca opened #29 "the new tango module name is already in used by another project..."
Hello guyes,if you look at pypi you will see that the tango module name spaces,is already used.

https://pypi.python.org/pypi/Tango/0.2.7

from tango.factory.app import build_app
app = build_app('sitename')

I do not know the pypi policy about module namespace, ownership.

but htis is a real problem...

cheers

Frederic

[2016-07-20 06:01] birkenfeld commented on #29
As far as I know, there's no PyPI policy about what's in the distributions and who "owns" a namespace (I assume that the distribution of PyTango wouldn't be renamed, just the module/Python package inside).

Of course there would be a file conflict between the packages, but that's more an issue of policy in Linux distributions that provide packages for both Tango and PyTango. The Tango package is p

[2016-07-20 11:01] vxgmichel commented on #29
Exactly. The idea is to mimic the naming convention of other binding projects such as PyZMQ:
- Project: PyTango
- Repo: pytango
- PyPI: pytango
- Python module: tango

This change has been discussed with Tiago and Jairo during the last pytango meeting.
Do you see any issue with that (apart from this other unrelated tango package)?

[2016-07-20 11:43] picca commented on #29
Here the information relatives to the python module namespaces

http://legacy.python.org/dev/peps/pep-0423/#top-level-namespace-relates-to-code-ownership

[2016-07-20 16:13] birkenfeld commented on #29
Note that PEP 423 is not implemented, but deferred, as such it is just a proposal by its author.

Also, the wording "As an example, don't use "apache" as top-level namespace: "Apache" is the name of an existing project (in the case of "Apache", it is also a trademark)." seems to favor PyTango belonging to Tango, which is much older than the web framework.

[2016-07-29 12:01] tiagocoutinho opened #30 "Support pogo's *mandatory property* feature in PyTango and PyTango pogo plugin"
Pogo has a new feature for each property called _mandatory_ property.
If set, it generates code that puts the device is some state if the property is not set in the database.

PyTango and the pogo plugin for PyTango don't support this feature yet. It would be nice to have it.

Thanks to Jens Meyer for reporting this.

[2016-07-29 12:17] tiagocoutinho commented on #30
I propose to had a new keyword argument to `device_property(mandatory=False)` that will trigger the same behavior in PyTango.

For old style PyTango servers, I propose:
`device_property_list = { '<prop_name>': [<type>, <desc>, <default>[, <mandatory>]]`

Pogo plugins for PyTango (both old and new) need to be modified to support this as well

[2016-08-03 15:51] NexeyaSGara commented on #30
I can add this to the templates, once we are sure of the syntaxe.

[2016-08-08 13:51] johanfforsberg commented on #21
I have reproduced this bug. In fact, neither of "read_attribute()" or "command_inout()" methods work on the proxy obtained from the group.

[2016-08-08 20:02] vxgmichel commented on #21
@johanfforsberg Yes, that's because such proxy objects never get their `__init__` method called since they're created on the C++ side.

[2016-08-09 07:29] tiagocoutinho opened #33 "Server command parameter documentation not well generated"
PyTango servers don´t get their documentation well generated.
Generated sphinx comes with lots of artifacts

[2016-08-11 06:44] tiagocoutinho commented on #29
I followed the Pypi tango project web page (http://willowtreeapps.com/). It seems to be a commercial company and the project seems to be abandoned since they have no mention of it in their web page and the last release is from 2012. It is a shame that Pypi is filled with these dead projects.

Pypi trusts project owners to keep their project up to date (including removal if they are not supported a

[2016-08-11 06:51] tiagocoutinho commented on #24
I have to apologize for this behavior. It was intentional to save an strdup and to avoid having to store the last status internally in PyTango Device class.
The problem has already been discussed in the Tango mailing list and at the time I advise to follow the exact same recipe as @jkotan has in his second example.
I guess this is not expected behavior so I agree that it should be fixed.
I could w

[2016-08-11 07:39] tiagocoutinho opened #36 "tango9 branch does not compile on windows"
Reported by @NexeyaSGara:

If I understood correctly, this line generates a compilation error.
When you comment it, the compilation is fine.
But at runtime it won't work, right?
Could you send me the compilation error? Thanks in advance

[2016-08-11 08:12] tiagocoutinho opened #37 "Support command options feature in PyTango HL and pogo plugin"
In PyTango HL, `command` decorator should support *display_level* and *polling_period*.
Valid for both PyTango 8 and 9.

[2016-08-11 08:14] vxgmichel commented on #37
I can take care of that. Do we need to backport it to pytango8?

[2016-08-11 08:48] tiagocoutinho commented on #11
Hi @brickZA, thanks for the offer to help.
You are right: the event is *global* to the device and is not tied to an attribute.

On the **client** side your need to implement:
* the new [DeviceProxy.subscribe_event(EventType, ...)](http://www.esrf.eu/computing/cs/tango/tango_doc/kernel_doc/cpp_doc/classTango_1_1DeviceProxy.html#af1b71ba4bd5427c2effd7321d53a7af4).
* the new [Callback.push_event(DevI

[2016-08-11 08:59] meguiraun opened #38 "when using gevent event callback is never triggered"
hi,
In the following code the event callback function is never triggered when using DeviceProxy through gevent.
[code]

Changing to ```from PyTango import DeviceProxy``` works.
This behaviour appears in 8.1.8 and 9.2.0, it does not appear in 8.1.6.
Let me know if you need any more info, and thanks in advance.

[2016-08-11 09:35] NexeyaSGara commented on #37
I will do the pogo templates.

[2016-08-11 09:37] NexeyaSGara commented on #36
Hi,
The fix seems ok on my side, no more error on the link (tested only with Visual 2008), but since I had the same errors with the others visual versions, normally, I think we are ok.

[2016-08-11 09:45] vxgmichel commented on #21
This fix will appear in the pytango 9.2.0 release.
@gnyiri Let me know if you need it backported to tango8.

[2016-08-11 09:45] #21 closed

[2016-08-11 11:03] meguiraun commented on #38
thanks to @vxgmichel  we discover that something is wrong with my app. Closing this issue, sorry!

[2016-08-11 11:03] #38 closed

[2016-08-11 15:30] vxgmichel commented on #33
Thanks!

[2016-08-11 15:30] #33 closed

[2016-08-12 11:52] NexeyaSGara commented on #37
Are we ok with that generation for PyTango HL

    @command(
    display_level=DispLevel.EXPERT,
    )
    @DebugIt()
    def CrashFromOmniThread(self):
        # PROTECTED REGION ID(TangoTest.CrashFromOmniThread) ENABLED START #
        pass
        # PROTECTED REGION END #    //  TangoTest.CrashFromOmniThread

    @command(dtype_in='bool',
    doc_in="Any boolean value",
    dtype_out='bool',

[2016-08-12 12:07] NexeyaSGara commented on #30
Since there is no comment on the syntaxe, I will use what you proposed

[2016-08-12 13:04] vxgmichel commented on #37
Yep, but you missed a comma at the end of the `doc_out` lines:

display_level=DispLevel.EXPERT,

[2016-08-12 13:22] NexeyaSGara commented on #37
Ok, I can put a coma in every case, even if there is nothing after right ?

[2016-08-12 13:26] vxgmichel commented on #37
@NexeyaSGara yes that's fine

[2016-08-12 13:27] NexeyaSGara commented on #37
Done, will be available in the next Pogo release

[2016-08-15 11:54] vxgmichel commented on #19
Can we close this issue?

[2016-08-15 12:24] #36 closed

[2016-08-15 12:24] #37 closed

[2016-08-17 07:21] tiagocoutinho commented on #19
Yes, I will close it. Thanks

[2016-08-17 07:21] #19 closed

[2016-08-17 07:35] tiagocoutinho commented on #8
Ok, since there seems to be no objections I use this as a reference API to continue the work

[2016-08-17 07:35] #8 closed

[2016-08-17 07:40] tiagocoutinho commented on #29
Can we consider that the name clash is not a show stopper and close this issue?

[2016-08-17 07:50] tiagocoutinho commented on #30
I am not sure I understand what you mean. My apologies because I mixed BNF with python syntax in the example for old style PyTango servers. Here is a more clear explanation:
[code]
Is this what you had in mind?

[2016-08-17 07:52] NexeyaSGara commented on #30
Exactly :)

I will imlement it for the next Pogo version

[2016-08-17 07:54] tiagocoutinho commented on #7
Ok, `forwarded_attribute` it will be!
Thanks for the input.

[2016-08-17 07:56] NexeyaSGara commented on #7
I will implement it for next Pogo version

[2016-08-17 07:59] vxgmichel commented on #29
Agreed!

[2016-08-17 07:59] #29 closed

[2016-08-17 13:01] NexeyaSGara commented on #30
Here is an example :

'Test':
            [PyTango.DevString,
            "Desc Test",
            mandatory=True,
            [] ],

[2016-08-18 15:06] vxgmichel opened #49 "PyPI registration: new lowercase package name conflicts with the old one"
I just realized PyPI won't let me release `pytango-9.2.0`, because the new package name conflicts with the old one (`PyTango`):

[code]

I'm opening a ticket on [PyPI support requests](https://sourceforge.net/p/pypi/support-requests/) (this has been done before for other projects, e.g. [pafy](https://github.com/mps-youtube/pafy/issues/56)).

[2016-08-18 15:10] vxgmichel commented on #49
Reported, [see ticket 660](https://sourceforge.net/p/pypi/support-requests/660/).

[2016-08-23 07:26] picca commented on #29
Hello

came back from holidays :))

If the module is now tango -> python-tango

so Yes the binary package should be renamed.

[2016-08-25 15:09] Athanaseus commented on #12
@tiagocoutinho is the feature already been added for PyTango_9.2.0?

[2016-08-30 09:49] tiagocoutinho commented on #12
@Athanaseus no it has not. It is now marked for milestone 9.2.1. Would you like to help :-) ?

[2016-08-30 12:01] Athanaseus commented on #12
Hi @tiagocoutinho yes I'm interested in this feature, and would not mind trying to implement it. Maybe you can direct me along the right course for getting started?

[2016-09-05 05:48] picca opened #51 "could you add this platform 'gnukfreebsd9'"
This is in order to build pytango on the kfreebsd port of debian.

'gnukfreebsd9'

Usually for each new version of the kfreebsd kenel the number is increased, so maybe the best solution is to check only for gnukfreebsd.

thanks

[2016-09-05 05:50] picca commented on #51
another platform is hurd.

'gnu0'

[2016-09-05 15:09] vxgmichel commented on #51
For the record, here's the list of the tests we perform in `setup.py`:
[code]
I suggest we replace `linux` with `posix` and use `platform.platform()` instead of `platform.linux_distribution()` since it will be deprecated in python 3.6:
[code]
What do you think @tiagocoutinho ?

[2016-09-06 06:07] tiagocoutinho commented on #51
Ok with me. Thanks for the cleanup.

@picca, can you make a PR or would you prefer one of us adds the _gnukfreebsd_ and _gnu0_ support?

[2016-09-06 07:07] picca commented on #51
Hello, no thanks I prefer to let @vxgmichel do the job. I am more confident that he would do the right thing ;)

[2016-09-06 12:09] tiagocoutinho commented on #7
Hi guys, sorry to come back again but I need to come back again to this API issue.

I think that applying a classifier (in this case `forwarded_` prefix) is not consistent with the current API.
If we apply this principle, this means that, for example, to declare an integer scalar attribute, the user would have to write something like `scalar_integer_attribute`.

So I changed my mind and now I do h

[2016-09-06 12:16] NexeyaSGara commented on #7
Hi,

For me, I think that Johan comment describes what I feel, but I don't think there is a lot of people reading this conversation. Maybe we need to ask this on the forum or the mailing list.

I don't have a strong opinion either, but I tend towards keeping the API simple to understand. Having different sets of allowed arguments depending on the value of one argument seems potentially confusing,

[2016-09-06 12:54] vxgmichel commented on #7
I think `attribute(forwarded=True)` looks neat and explicit. As long as we don't use `fw` I'm fine with it.

[2016-09-07 08:31] NexeyaSGara commented on #7
I changed it for the next POGO release

[2016-09-08 07:26] jairomoldes commented on #7
I think that "attribute(forwarded=True)" is the best option, but I don't have a strong opinion against the other option.

[2016-09-08 13:03] tiagocoutinho opened #53 "Server declared with python 3 typing"
It would be great if we could take advantage of python 3 `typing` hints to write PyTango servers.
Here is a concrete example:

[code]

[2016-09-14 07:43] jairomoldes commented on #7
Anyone working on this? I can have a look.

[2016-09-14 07:51] NexeyaSGara commented on #7
Pascal Verdier produced a new Pogo version with the API like this :
attribute(forwarded=True)

[2016-09-14 16:36] jairomoldes commented on #7
Could you please tell me where I can find it? I've been able to run both pogo 9.4.0 and 9.4.1 from a checkout of svn, but when it comes to generate pyhon code I get this error:
"Forwarded attributes are not supported in Python !"

If I select "PythonHL" then the code is generated, but there is no reference at all to "forwarded" attributes.

[2016-09-18 07:37] johanfforsberg commented on #53
This would be really cool!

As a bonus we might be able to statically type check the code using MyPy, to catch bugs before runtime. I wonder how much of pytango would need to be type hinted for that to be useful...

[2016-09-20 14:28] tiagocoutinho opened #55 "Move to tango-controls group"
Hi,
We just finished a tango 10 workshop at ESRF with people from Alba, Soleil, and Elettra.

One of the decisions taken was that the official tango organization on github should be _tango-controls_.

They have asked that pytango moves to this organization.

[2016-09-20 19:03] johanfforsberg opened #56 "Dynamically creating enum attributes"
I can't manage to dynamically create a DevEnum attribute in pytango 9. Statically defined enum attributes appear to work, but as far as I've been able to figure out, I should be able to do something like:

[code]

The attribute gets added, but it does not have any labels configured.

[2016-09-21 07:55] tiagocoutinho commented on #55
I can do it if nobody disagrees
FYI: the old link to this project will still work. It will just become an alias to the new one

[2016-09-21 08:06] vxgmichel commented on #55
No problem! We'll also have to transfer the members to the new organization.

[2016-09-21 11:58] tiagocoutinho opened #57 "dev_state/status are not gevent safe"
If server is running in gevent mode the dev_state and dev_status methods are not protected.
I guess this also applies to the asyncio mode

[2016-09-21 12:01] tiagocoutinho opened #58 "Server gevent mode internal calls hang"
In gevent mode, calling a command/attribute from inside a command/attribute will hang.
This is because the method call will be queued to be executed and the callee is waiting for it to finish. However the queue will not advance until the callee is finished

[2016-09-21 12:09] tiagocoutinho commented on #55
Agree. I think there is no way to do it atomically so I propose to do it today 21-09, 17h CEST in two steps:
* move project
* invite people

Hopefully it will not disturb anyone

[2016-09-21 15:25] tiagocoutinho commented on #57
Also applies to `read_attr_hardware` and `always_executed_hook`

[2016-09-22 11:23] #58 closed

[2016-09-26 15:35] vxgmichel opened #64 "AttributeProxy.__dev_proxy is not initialized with python internals"
`AttributeProxy.__dev_proxy` is not initialized with python internals.

One side effect of this issue is that the attribute list of the device is refreshed whenever the attribute is read, because of [this line](https://github.com/tango-cs/pytango/blob/master/tango/green.py#L215):

    executors = getattr(obj, "_executors", {})

The PR is coming up.

[2016-09-27 05:38] #57 closed

[2016-09-27 09:16] tiagocoutinho commented on #24
It seems it is not fixed by #60.
It need some more work. A new PR will come soon

[2016-09-28 07:16] johanfforsberg commented on #55
I have no objections.

[2016-09-28 12:09] #64 closed

[2016-09-28 12:10] #51 closed

[2016-09-28 12:54] vxgmichel opened #67 "Following PEP 440 for versioning"
[PEP 440](https://www.python.org/dev/peps/pep-0440/) provides a specification for version identification.

We already comply with it, but we could take advantage of it. For instance:
- After `X.Y.Z` is released, we could bump to `X.Y.[Z+1].dev0` in `develop`. This way, it is easier to know in which version a commit belongs.
- Anyone should be able to make a pre-release by bumping `N` in  `X.Y.ZaN`

[2016-09-29 08:35] jairomoldes commented on #67
Sounds good.

[2016-09-30 13:23] vxgmichel opened #69 "Remove unused directories"
Can we remove `/images`, `/tests` and `/ci` from the main branches? Those directories haven't been updated in 3 years, and they can be found in the `tango8` branch if needed.

Also I'm planning to use the `/tests` directory for unit-testing.

[2016-10-11 08:10] vxgmichel opened #71 "No-numpy builds"
Out of curiosity, what is the point in supporting no-numpy builds?

[2016-10-12 13:52] johanfforsberg opened #72 "Segfault with certain unicode characters in status string"
While playing with http://hypothesis.works/ i found that putting certain unicode characters in a Status string will cause the device to crash. E.g.

[code]

This is in python 2, and pytango 9.2.0.

Some quick gdb:ing leads me to suspect that this is a pytango issue:

[code]

[2016-10-17 14:43] vxgmichel opened #73 "DeviceTestContext might fail to bind to the port"
Occasionally , the unit-tests might fail with the following error:

[code]

That's because the random port is selected using:
[code]
An alternative would be to run the server without specifying a port (`-ORBendPoint giop:tcp::`). But how could we get the affected port once the server is running?

[2016-10-17 15:09] vxgmichel opened #74 "Asynchronous server hang when the tango server fails to start"
If an asynchronous device server fails to start (because an exception has been raised in `init_device` for instance), the program hangs. This could be fixed by replacing the following code in `__server_run`:

[code]

with:

[code]

@tiagocoutinho This fix should work for asyncio mode, but what about gevent?

[2016-10-18 15:34] #73 closed

[2016-11-04 09:49] #24 closed

[2016-11-14 12:56] #69 closed

[2016-12-01 07:39] tiagocoutinho commented on #55
Ok, after a lot of delays I have done it. The team was recreated and members invited.
Fortunately the old github links point to the new project so +1 for github!

[2016-12-01 07:39] #55 closed

[2016-12-14 13:58] vxgmichel opened #82 "Attribute completion is broken for device proxies since IPython 4.0.0"
This issue follows up on tango-controls/itango#11.

 The solution is to rename the `DeviceProxy._getAttributeNames()` method as `DeviceProxy.__dir__`. I'll make a PR soon.

[2016-12-15 13:04] #82 closed

[2016-12-20 06:46] tiagocoutinho commented on #71
It comes from a long time ago (in a galaxy far, far way) when numpy was not easily available on all platforms.
We considered that people might not want to have to build and install numpy on windows for example in some strange python versions.

Also numpy adds quite a few megabytes of private memory (~15Mb per process), so if you want to run scalable servers (or clients) in an embeded system (raspe

[2016-12-20 06:50] tiagocoutinho commented on #56
I believe this issue is coming from C++ tango. I will get back to you when I have a confirmation

[2016-12-20 07:11] tiagocoutinho commented on #72
Does this happen only on `set_status` or also for other string attributes (just want to know if you tried)?

[2016-12-20 07:16] tiagocoutinho commented on #49
There has been some time since this issue is open in PyPi and no action has been taken on their side.
It would be nice to close this. It kind of blocks us from making new releases.

I think we can live with the original name PyTango. What do you think?

[2016-12-20 09:31] vxgmichel commented on #49
Yes, it seems the person who took care of this kind of renaming for other projects is not working on PyPI any more... I think we can live with a camel case `PyTango` on PyPI, but I'd like to keep `pytango` as package name in `setup.py`. I'll run some tests to see it that causes any problem. Is that OK with you?

[2016-12-20 09:48] vxgmichel commented on #71
Understood. I guess there is no reason to remove it for now, but it's something we can think about if it ever gets in our way. Thanks!

[2016-12-20 09:48] #71 closed

[2016-12-20 11:53] johanfforsberg commented on #72
Interesting, i created a device that only has a string attribute, and writing the unicode string mentioned above to it did not crash the server, but it did crash the itango client :P

Then I tried writing the same character encoded to utf-8 `u"\u0131".encode("utf-8")` and that works fine, both for the attribute and the status. So I guess that is the correct way of doing this. But still, segfaultin

[2016-12-20 13:49] vxgmichel commented on #49
I'm confused... I just uploaded `pytango-9.2.0` to PyPI and it worked, no `Server response (403)` this time.
Well, I guess it's good news! I also uploaded the windows binaries @NexeyaSGara sent me.

I'll merge PR #78. Maybe it's time to release `pytango-9.2.1`?

[2016-12-24 19:36] #49 closed

[2017-01-10 15:11] AntoineDupre opened #84 "Gevent ThreadPool exception swallowed"
Before gevent-1.1.0, the gevent ThreadPool does not raise exception with AsyncResult after a DeviceProxy.read_attribute command:

[code]

The exception is swallowed by the ThreadPool and it is not propagated to the AsyncResult.

----------------------------
In ```tango_gevent.py``` the ```def spawn(fn, *args, **kwargs):```method has been deployed as a fix to wrap the ThreadPool.spawn result and re

[2017-01-13 09:13] vxgmichel opened #86 "Release version 9.2.1"
After PR #85 is merged, I'd like to release pytango-9.2.1, and change the milestone for the pending issues to 9.2.2. Is it OK with everyone?

For the record, the release procedure includes:
- Editing the changelog
- Bumping the version
- Merging develop into master
- Make sure Travis is OK
- Make sure the documentation is updated
- Create a release tag on GitHub
- Upload the new version to PyPI
-

[2017-01-13 10:09] #84 closed

[2017-01-13 12:38] gcerretani opened #87 "Case sensitivity error when subscribing to a change event."
When I subscribe to a change event, in the first event received at the subscription time the attr_value.name value has the right case sensitivity, as it was in PyTango 8. Then, the following change events have that field lower cased.

In the PERIODIC_EVENT, that field is always lower cased. It would be nice to get the not lowered name, as in PyTango 8.

Example:

- first event:
[code]

- standard

[2017-01-15 08:05] andygotz opened #88 "pytango hlapi device server does not start"
I have installed the latest version of PyTango (from PyPi) 9.2.0 (well done on doing a great job - the installation worked like a charm!). But then when I tried to run a device server which uses the HLAPI. I tried one generated with the latest version of pogo and the PowerSupplyDS in the Getting Started. Both of them fail with this error:

I can run PyTango device servers which use the low level a

[2017-01-15 09:23] vxgmichel commented on #88
The problem here is that your devices are not compatible with python 3, because the metaclass is not set properly. Simply replace your class definition with one of the following:

- syntax for python 2:

        class PowerSupply(Device):
            __metaclass__ = DeviceMeta
            [...]

- syntax for python 3:

        class PowerSupply(Device, metaclass=DeviceMeta):
            [...]

- s

[2017-01-15 09:52] andygotz commented on #88
Cool it works! Thanks for the explanation.

[2017-01-15 09:52] #88 closed

[2017-01-16 09:31] cmft opened #89 "PyTango raises an unexpected exception"
PyTango raises an unexpected exception if you try to write an attribute when
device is not running.  This behaviour is different between PyTango9 and older
versions.

If you try to read the attribute PyTango raises a DevError exception as it is expected
but if you try to write it raises TypeError: unsupported data_format

I'm using PyTango 9.2.0 (From TAG) installed with package manager from https

[2017-01-16 10:38] jairomoldes commented on #86
Fine with me

[2017-01-16 13:58] AntoineDupre commented on #89
Thank you for the report,

This ErrorType is raised in the Boost layer.

_device_proxy.cpp:_
[code]
Before writing an attribute, we try to get the attribute configuration with```PyDeviceAttribute::reset```

_device_attribute.cpp:_
[code]

The```get_attribute_config```method is inside a```try/catch```section. If the device server is not running, the```ConnectionFailed```exception raised by this met

[2017-01-17 15:47] #67 closed

[2017-01-17 15:51] vxgmichel commented on #86
OK, I'll take care of it once PR #90 is merged and issue #89 is solved.

[2017-01-19 10:30] vxgmichel commented on #88
Related: metaclass definition won't be necessary anymore after PR #90 is merged.

[2017-01-19 10:56] andygotz commented on #88
Great!

[2017-01-23 12:55] LJBD opened #91 "Unsubscribe event in AttributeProxy raises an error"
When trying to unsubscribe an event with an AttributeProxy instance the following error is shown:

[code]

Code to reproduce (very straightforward):

[code]

[2017-01-23 13:19] vxgmichel commented on #91
Thanks for your report! This issue is similar to #64 and is fixed in PR #65.

The fix will become visible with the `9.2.1` release (it's actually fixed in `9.2.1a`).

[2017-01-23 13:19] #91 closed

[2017-01-27 15:36] gcerretani commented on #87
Hi Vincent. You've closed the bug report, but I do not understand if it has been solved or not. Should I report it in another repository?

[2017-01-30 10:08] vxgmichel commented on #87
@gcerretani Sorry, I might have been too hasty discarding it as a pytango issue :sweat_smile:. I'll have a closer look. Can you confirm that this issue does not happen when using a pytango8 client with a tango9 server?

[2017-01-30 10:58] gcerretani commented on #87
No, it does not. However, I've tried just right now that it happens also with a C++ TANGO 9 client.

Following the example in TANGO documentation ([here](http://www.esrf.eu/computing/cs/tango/tango_doc/kernel_doc/ds_prog/node5.html#SECTION00565250000000000000)), i get:

`
DoubleEventCallBack::push_event(): called attribute MAR_TX_SET event change (err=0)
DoubleEventCallBack::push_event(): called a

[2017-01-30 12:00] vxgmichel commented on #87
Yes, I think you just proved that the lowering of the attribute name comes from the C++ layer on the client side. You might want to check if the issue still happens with tango 9.2.5 and report it on [tango-controls/cppTango](https://github.com/tango-controls/cppTango). Thanks again!

[2017-01-30 12:00] #87 closed

[2017-01-30 14:42] #74 closed

[2017-01-30 17:34] #86 closed

[2017-01-31 09:52] picca opened #93 "pytango: ftbfs with GCC-7"
Hello guyes,

juste for info, pytango does not build with gcc 7

here the bug reported via the debian bug tracker.

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=853624

Cheers

[2017-01-31 16:50] vxgmichel commented on #93
Fixed! Will become visible with pytango-9.2.2.

Thanks for the report!

[2017-01-31 16:50] #93 closed, assigned to nobody

[2017-02-03 09:11] jairomoldes commented on #7
I have been working on this but still pending on cppTango. See:

https://github.com/tango-controls/cppTango/pull/342

[2017-02-09 11:12] vxgmichel opened #95 "Git workflow"
During the pytango meeting, we decided to make `develop` the default branch.

Now we have to decide what to do with the `master` branch:
1. Keep it this way
2. Rename it to `stable` (or `tango9`)
3. Remove it and use release branches instead

I personally like option number 2. Other suggestions?

[2017-02-28 09:09] cmft opened #99 "subscribe_event fails between Tango mixing"
Hi,
I saw a strange behaviour between Tango9 and Tango7. If I subscribed with PyTango to an attribute change event using a full Tango9
client (PyTango 9.2.1 and Tango 9.2.5a) and the DS is running on Tango7 (Tango 7.2.6 + patches) (See the code bellow).
The received events seem to be corrupted since the second one. Its Type changes from  tango._tango.CmdArgType.DevShort to
tango._tango.CmdArgType(

[2017-02-28 12:26] cmft commented on #99
We only observed this behaviour with short_scalar attributes.

[2017-02-28 12:39] vxgmichel commented on #99
Thanks for the report!

It looks hard to reproduce though... Do you have a docker image to test this configuration?

Also, it would be interesting to run this test with a tango8 client and a C++ client.

[2017-02-28 12:46] cmft commented on #99
Sorry, we have not  any docker T7 environment.
We are trying to figure if it is reproducible with c++ client.
We did a test with tango8 and 9 client and TangoTest (in Tango 8)  and  it works in both cases.

[2017-02-28 12:54] vxgmichel commented on #99
What about a Tango7 TangoTest with a Tango8 client?

[2017-02-28 12:57] cmft commented on #99
It works.

[code]

[2017-02-28 13:03] vxgmichel commented on #99
OK thanks! By the way, the first event is OK because it's not an actual event: it comes from a `read_attribute` request performed during the subscription.

Let me know if you get the same problem with a tango9 C++ client. If not, I'll run an investigation.

[2017-03-01 08:13] cmft commented on #99
I confirm that the issue is in Tango. I created a new issue in https://github.com/tango-controls/TangoTickets/issues/3

[2017-03-01 13:27] vxgmichel commented on #99
Dodged it!

[2017-03-01 13:27] #99 closed, assigned to nobody

[2017-03-01 14:15] grm84 opened #100 "Problem with string array Device Property"
The following error is observed when a string array device property is specified without a default value:
[code]

[2017-03-01 17:10] #100 closed, assigned to nobody

[2017-03-28 07:17] tiagocoutinho commented on #12
Before you start you should synchronize with @grm84 because he is in charge of this task.

The idea is to implement in PyTango Device the same functionality that was added to C++:

* [`DeviceImpl.add_command()`](http://www.esrf.eu/computing/cs/tango/tango_doc/kernel_doc/cpp_doc/classTango_1_1DeviceImpl.html#a64f3aafd381cd25bb562cdb4074932d9)
* [`DeviceImpl.remove_command()`](http://www.esrf.eu/com

[2017-03-29 21:55] reszelaz commented on #13
I'm interested in this feature. What is the time estimation for having it? Unfortunately I don't have time to help in the development but I could be the _beta_ tester.

[2017-05-05 13:17] ghost opened #105 "PyTango installation"
Hi,

When I want to install PyTango this is what I get:

`Collecting pytango`
`Using cached pytango-9.2.1.tar.gz`
`Collecting fandango`
`Downloading fandango-12.6.1.tar.gz (244kB)`
`100% |████████████████████████████████| 245kB 2.1MB/s`
`Requirement already satisfied (use –upgrade to upgrade): six in /usr/lib/python3/dist-packages (from pytango)`
`Building wheels for collected packages: pytango, f

[2017-05-05 19:56] andygotz commented on #105
Stupid question - have you exported PKG_CONFIG_PATH by doing:

`export PKG_CONFIG_PATH=/home/dusan/tangocs/tango-9.2.5a-gcc-5.4-gstabs+/lib/pkgconfig`

after you have defined and before running pip install pytango. See this site for more info:

https://askubuntu.com/questions/210210/pkg-config-path-environment-variable

Andy

[2017-05-08 10:21] andygotz opened #107 "Installing PyTango on Ubuntu 17.04"
I have tried to use pip install to install the latest version of pytango on my newly upgraded Ubuntu 17.04. Both the Python2 and Python3 version fail with these errors:

1. Python2 - "pip install pytango" fails with this error after compiling everything:

    /usr/bin/ld: cannot find -lboost_python-py35
    collect2: error: ld returned 1 exit status
    error: command 'x86_64-linux-gnu-g++' failed

[2017-05-08 11:01] andygotz commented on #107
I need to use pip install because the debian packages for pytango in Ubuntu 17.04 seem to be broken ...

[2017-05-08 11:09] vxgmichel commented on #107
Hi Andy,

I'm not so familiar with Ubuntu 17, could you run the following commands and paste the output?

    $ pip -V
    $ pip2 -V
    $ pip3 -V
    $ find /usr/lib -name libboost_python*
    $ apt search boost-python

Thanks!

[2017-05-08 11:15] andygotz commented on #107
Hi Vincent,
here is the output:

goetz@pcandy:/etc/init.d$ pip -V
pip 9.0.1 from /usr/local/lib/python3.5/dist-packages (python 3.5)
goetz@pcandy:/etc/init.d$ pip2 -V
pip 9.0.1 from /usr/lib/python2.7/dist-packages (python 2.7)
goetz@pcandy:/etc/init.d$ pip3 -V
pip 9.0.1 from /usr/local/lib/python3.5/dist-packages (python 3.5)
goetz@pcandy:/etc/init.d$ find /usr/lib -name libboost_python*
/usr/lib

[2017-05-08 11:18] vxgmichel commented on #107
Great, now can you run:

    $ apt search boost-python
    $ dpkg -S boost_python

Thanks

[2017-05-08 11:20] andygotz commented on #107
goetz@pcandy:/etc/init.d$ apt search boost-python
Sorting... Done
Full Text Search... Done
libboost-python-dev/zesty 1.62.0.1 amd64
  Boost.Python Library development files (default version)

libboost-python1.55.0/now 1.55.0+dfsg-3ubuntu2 amd64 [residual-config]
  (none)

libboost-python1.61-dev/zesty 1.61.0+dfsg-3build1 amd64
  Boost.Python Library development files

libboost-python1.61.0/zesty 1

[2017-05-08 11:32] vxgmichel commented on #107
Thanks Andy,

First you need to install `libboost-python1.62-dev`:

     $ sudo apt install libboost-python1.62-dev

Then install pytango for python2:

    $ sudo pip2 install pytango

And pytango for python3:

    $ sudo pip3 install pytango

Note that `pip` points to `pip3`. You might want to run the same check for `python` (`python -V`).

[2017-05-08 11:50] andygotz commented on #107
Vincent, thanks for the instructions. I thought i had installed libboost-dev but obviously not libboost-python-dev. After doing as you told I have a new problem. pip2 install pytango fails with the error below. I have checked the disk space and there is enough. Any ideas?

   copying /tmp/pip-build-0BYWXp/pytango/build/sphinx/html/green.html -> /usr/local/share/doc/pytango/html
    copying /tmp/pi

[2017-05-08 11:52] andygotz commented on #107
I also seem to have old versions of PyTango in /usr/local/python2.7:

drwxr-sr-x  4 root staff    4096 nov.  26  2015 PyTango
drwxr-sr-x  2 root staff    4096 mai    8 13:42 pytango-9.2.1.egg-info
-rw-r--r--  1 root staff    1478 août  18  2016 PyTango.py
-rw-r--r--  1 root staff    1402 mai    8 13:42 PyTango.pyc

Maybe I should remove these first?

[2017-05-08 13:42] vxgmichel commented on #107
The error you report is a known issue, that has been fixed right after the pytango-9.2.1 release. However, it shouldn't prevent pytango to be installed correctly. Can you try:

    $ python2 -c "import tango; print(tango.Release.version)"

[2017-05-08 13:58] andygotz commented on #107
You are right - it works! Cool I have pytango up and running again thanks to you!

Thanks for all your help!

Andy

[2017-05-08 14:05] #107 closed, assigned to nobody

[2017-05-08 14:47] vxgmichel commented on #107
Cool! What about the python3 installation?

Maybe the "Getting started" section of the documentation should have been more detailed.

Also, we should probably release 9.2.2 so people don't get too confused with the error you reported.

[2017-05-08 14:52] andygotz commented on #107
Works as well. Displays the same error at the end. Yes I agree it is confusing so a new release will be welcome. At the latest by the Tango meeting in Florence.

[2017-05-08 15:25] vxgmichel commented on #105
@Aratar93 What's your OS? On my linux mint 17 setup, those files are provided by the following packages:

    $ dpkg -S libzmq.pc
    libzmq3-dev:amd64: /usr/lib/x86_64-linux-gnu/pkgconfig/libzmq.pc
    $ dpkg -S omniORB4.pc
    libomniorb4-dev: /usr/lib/pkgconfig/omniORB4.pc
    $ dpkg -S tango.pc
    libtango8-dev:amd64: /usr/lib/x86_64-linux-gnu/pkgconfig/tango.pc

[2017-05-08 20:10] ghost commented on #105
Hi guys,

Sorry for such a late response.

Andy,

What do you mean with define?

I had exported PKG_CONFIG_PATH before I started installation of PyTango with
`echo export PKG_CONFIG_PATH=/home/$host/tangocs/tango-9.2.5a-gcc-5.4-gstabs+/lib/pkgconfig >> ~/.bashrc`
This is what I get from the terminal
`dusan@Dell:~$ echo $PKG_CONFIG_PATH`
`/home/dusan/tangocs/tango-9.2.5a-gcc-5.4-gstabs+/lib/pkgconf

[2017-05-08 20:14] ghost commented on #105
P.S. This is my bash file for installing PyTango. I'm not using any virtual enviroment, can that cause this kind of problem?

sudo apt install libboost1.58-dev libboost-python1.58-dev
sudo -H pip install setuptools
sudo -H pip install python_dateutil pytz cycler pyparsing Sphinx futures gevent numpy
sudo -H pip install pytango fandango

[2017-05-08 20:20] andygotz commented on #105
Concerning PKG_CONFIG_PATH you can check that the directory you added contains the libzmq.pc file. If not then locate where this file is so you can add the directory to PKG_CONFIG_PATH.
You can check if pkg-config is finding zmq by typing "pkg-config --list-all | grep zmq"

I installed pytango today on Ubuntu 17.04 see this issue #107 . Maybe you can get some tips from this.

[2017-05-08 21:21] vxgmichel commented on #105
@Aratar93 Try installing `libzmq3-dev` and `libomniorb4-dev` and check your environment using `env | grep PKG_CONFIG_PATH`.

[2017-05-09 07:25] ghost commented on #105
This is what I get

`rile@Dell:~$ pkg-config --list-all | grep zmq`
`libzmq                         libzmq - 0MQ c++ library`

and

`rile@Dell:~$ env | grep PKG_CONFIG_PATH`
`PKG_CONFIG_PATH=/home/rile/tangocs/tango-9.2.5a-gcc-5.4-gstabs+/lib/pkgconfig`
so this is defined well. I also installed libzmq3-dev and libomniorb4-dev. But still, I'm not able to install pytango.

I read issue #107, and I'v

[2017-05-09 07:29] ghost commented on #105
As for other commands from issue #107 this is what i get:

rile@Dell:~$ pip -V
pip 9.0.1 from /usr/local/lib/python2.7/dist-packages (python 2.7)

rile@Dell:~$ apt search boost-python`
Sorting... Done`
Full Text Search... Done`
libboost-python-dev/xenial 1.58.0.1ubuntu1 amd64
   Boost.Python Library development files (default version)
libboost-python1.58-dev/xenial-updates,now 1.58.0+dfsg-5ubuntu3

[2017-05-09 07:33] andygotz commented on #105
Your error with tango.h is because the libtango-dev package is not installed. Try:

` apt install libtango-dev`

[2017-05-09 07:37] ghost commented on #105
rile@Dell:~$ sudo apt install libtango-dev
[sudo] password for rile:
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package libtango-dev

Is this the correct name of the library?

[2017-05-09 07:39] ghost commented on #105
I have file tango.h in `rile@Dell:~/tangocs/tango-9.2.5a-gcc-5.4-gstabs+/include/tango`

[2017-05-09 07:55] andygotz commented on #105
Strange the name is correct AFAICS.
Anyway you have tango.h from Tango 9.2.5a - this is even better because you need Tango 9 to install PyTango9. The fact that the build is not finding tango.h must be due to the pkg-config not finding tango. What do you get when you type this:

`pkg-config --libs tango| grep tango`

[2017-05-09 08:02] ghost commented on #105
rile@Dell:~$ pkg-config --libs tango| grep tango
-L/home/rile/tangocs/tango-9.2.5a-gcc-5.4-gstabs+/lib -ltango -lomniDynamic4 -lCOS4 -lomniORB4 -lomnithread -llog4tango -lzmq

[2017-05-09 09:15] ghost commented on #105
`libzmq3-dev` and `libomniorb4-dev` helped me, now pytango can't find only **tango.pc**, but I don't know why I can't execute `sudo apt install libtango-dev`, I guess it will solve all my problems .

[2017-05-09 09:37] LJBD commented on #105
@Aratar93 try running `pip install pytango` as root instead of with `sudo` (log onto root user with `su` - provided you know the password, of course).
I think there was an issue that environment variables were not passed to sudo. You can test that with `sudo echo $PKG_CONFIG_PATH` or `sudo pkg-config --libs tango| grep tango`. If you get any other output than without `sudo`, it would seem that my

[2017-05-09 09:45] vxgmichel commented on #105
@LJBD @Aratar93 Or use [-E](https://unix.stackexchange.com/a/202389/217992) to preserve the environment:

    $ sudo -E pip install pytango # Or
    $ sudo PKG_CONFIG_PATH=... pip install pytango

[2017-05-10 12:00] tiagocoutinho commented on #95
I am in favor of 2 renaming master to stable

[2017-05-12 07:37] LJBD commented on #95
+1 on renaming it to stable and using tags for releases.

[2017-05-12 09:41] LJBD opened #110 "PyTango workshop @ SOLARIS - list of tasks"
This week we have a PyTango workshop at SOLARIS with @vxgmichel and @AntoineDupre and, as one of the goals, SOLARIS controls team is going to commit to PyTango. We've set up the following list of tasks for the workshop:
- [x] One PR for documentation
- [x] One PR for tests
- [x] One PR for PEP8-ifying an existing module.

The short presentation with topics mentioned at the workshop can be found [h

[2017-05-12 11:18] LJBD opened #111 "Documentation building reports an error in importing server"
There's a warning if you try to build PyTango documentation with Sphinx 1.4.8, here's the traceback:
[code]
Also, documentation can't be built with Sphinx >= 1.5, here's the error I get for 1.5.4:
[code]

[2017-05-12 14:51] AntoineDupre commented on #111
Thanks for your report!

[2017-05-12 14:51] #111 closed, assigned to nobody

[2017-05-12 16:29] vxgmichel commented on #110
Thanks to everyone for their contributions!

[2017-05-12 16:32] #110 closed, assigned to LJBD, KrystianKedron, wkitka, izadworny, MikeFalowski

[2017-05-12 16:38] LJBD opened #119 "Automatic build of conda package"
Since we have a Tango Controls organisation on Anaconda Cloud, we could set up a Travis job to build the package automatically. I propose for that to be done for every develop push and every stable (previously master) push.
What do you think?

[2017-05-15 07:05] birkenfeld opened #120 "PyTango 8.1.9 tagged but not on PyPI"
Is this release stable and usable? If yes, please consider uploading it to PyPI. Thanks!

[2017-05-15 12:17] ghost commented on #105
Hi, guys

You are right, I have different outputs with and without sudo. Thank you for that!

When I enter **sudo -H pip install pytango** directly in the terminal, it is successfully installed. However, when I run this command from bash file I have problems displayed in my first post. Is it possible that bash file, when it is started, somehow don't see environmental variables while it is running?

[2017-05-15 12:29] ghost commented on #105
P.S.

apt install libtango-dev

In my repository, only thing that I have and is similiar to this is libtango8-dev. But I suppose this is for older versions of Tango. Should I install it, even though I have Tango 9.2.5a?

[2017-05-15 12:41] vxgmichel commented on #105
@Aratar93 You need the mock package to be able to build the documentation (`pip install mock`). However, this should be part of the build requirements, so I'll fix that. Could you confirm that this error prevent the installation from completing properly?

[2017-05-15 12:42] vxgmichel commented on #105
You should use the development files corresponding to your install. So pointing to the tango sources with `PKG_CONFIG_PATH` is the right approach in your case.

[2017-05-16 14:08] vxgmichel commented on #120
It should be as stable and usable as v8.1.8 (more or less).

I don't think anyone is planning to support pytango8 so that's the reason why 8.1.9 has never been released on PyPI. @birkenfeld Do you thing it's worth it?

Also, note that it's possible to run:

    $ pip install git+https://github.com/tango-controls/pytango.git@v8.1.9

For the reference: [v8.1.9](https://github.com/tango-controls/pyta

[2017-05-18 09:31] rile993 commented on #105
Hi all. Situation is next. I added some libraries in the installation script. For python 3.5 I dont have any problems to install PyTango, but when I want to install it for Python 2.5 this is what I get:

`creating /tmp/pip-build-owmVjS/pytango/build/sphinx`
`  creating /tmp/pip-build-owmVjS/pytango/build/sphinx/doctrees`
`  creating /tmp/pip-build-owmVjS/pytango/build/sphinx/html`
`  Running Sphin

[2017-05-18 09:39] rile993 commented on #105
I hope I was clear. You helped me a lot till now, installation for python3.5 works, and there are fewer problems now for python 2.7. I apologize If I am a bit annoying, but this problem really drives me crazy.

[2017-05-18 11:56] vxgmichel commented on #105
Do you mean python 2.7?

[2017-05-18 12:15] rile993 commented on #105
Yes, my mistake, sorry.

[2017-05-18 12:39] vxgmichel commented on #105
I need a bit more information. Could you clone the pytango repo, run `python setup.py build` with your environment variables set correctly and provide me with the full output?

[2017-05-26 12:06] LJBD opened #123 "Segmentation fault in push event with exception"
Hello!

I've been playing with [facadedevice](https://github.com/MaxIV-KitsControls/tango-facadedevice/) recently and I've stumbled across a segmentation fault in pushing events with an exception. I've got Tango 9.2.5a and PyTango 9.2.1.

Here is the output from valgrind:
[code]

The code I run is [on this branch here](https://github.com/synchrotron-solaris/dev-solaris-vacuumparameters/tree/facade

[2017-05-26 15:11] vxgmichel commented on #123
Thanks for the report!

I don't think that happens when pushing an event with an exception though. It's more likely to be related to the data type: https://github.com/tango-controls/cppTango/blob/cppapi_Release_9_2_5/cppapi/server/device.cpp#L4905-L4910

Could try to track the last python call and print its arguments ([here](https://github.com/MaxIV-KitsControls/tango-facadedevice/blob/master/faca

[2017-05-31 08:25] tiagocoutinho commented on #13
Hi @reszelaz,
@grm84 just finished the implementation and I have accepted the MR #104 into develop.
Feel free to test and report any problems.

[2017-05-31 22:41] reszelaz commented on #13
Thanks for the update. I will let you know whenever we have some results of the tests.

[2017-06-12 14:40] vxgmichel opened #126 "Conda packages and glibc incompatibility"
As I was trying to install conda packages on older OS, I realized that they do not work with glibc < 2.14:

    ImportError: /lib64/libc.so.6: version `GLIBC_2.14' not found

I think we should settle on some requirement (e.g. glibc >= 2.12) and use a corresponding docker image to run the build. Since glibc is backward compatible, it should work for higher versions as well.

For the reference, cond

[2017-06-13 12:33] grm84 opened #127 "Incompatibility between Lima and PyTango version 9.2.2"
A segmentation fault is caused during the startup of a Lima device server.
'''
-------> Received a DevFailed exception: DevFailed[
DevError[
    desc = AttributeError: 'NoneType' object has no attribute 'execute'

  origin =   File "/usr/lib64/python2.7/site-packages/pytango-9.2.2.dev0-py2.7-linux-x86_64.egg/tango/device_class.py", line 567, in __DeviceClass__device_factory
    device = self._new_

[2017-06-14 09:54] vxgmichel commented on #127
Fixed, thanks!

[2017-06-14 09:54] #127 closed, assigned to nobody

[2017-06-15 12:08] vxgmichel opened #130 "Unstable jobs in Travis CI"
The travis tests are becoming less and less consistent and the jobs often need to be restarted manually.

I think there are several different issues involved, so let's try to list the symptoms in this thread.

[2017-06-15 14:44] vxgmichel commented on #130
After a bit of investigation, commit 909dc4f should help (at least partially).

[2017-06-15 16:04] vxgmichel commented on #130
Same thing for commit 866a471.

[2017-06-15 17:43] vxgmichel commented on #130
Some jobs were hanging because some TangoTest processes were still running (even though they were supposed to [terminate](https://github.com/tango-controls/pytango/blob/develop/tests/test_client.py#L166)). We're now killing them with SIGKILL (9918038 and 220a482).

[2017-06-15 17:43] vxgmichel commented on #130
Should be better now, let's reopen if necessary.

[2017-06-15 17:43] #130 closed, assigned to nobody

[2017-06-19 10:00] vxgmichel opened #131 "server.run swallows any raised exception"
The current implementation of `server.run` catches any exception raised while trying to run the server. It does log it though, with or without the traceback, depending on the `msg_stream` and `verbose` arguments. In my opinion, a more pythonic approach is to let the user code handle the exception (if necessary).

I think this is somehow related to issue #132 (server side helper for parsing DS argu

[2017-06-19 11:49] LJBD commented on #131
Do we have an issue for the argparse task?

[2017-06-19 12:06] vxgmichel commented on #30
Done, thanks everyone!

[2017-06-19 12:06] #30 closed

[2017-06-19 12:07] vxgmichel commented on #131
@LJBD Not yet, I'll take care of it.

[2017-06-19 12:20] vxgmichel opened #132 "Server side helper for parsing DS arguments"
*shamelessly copied from [1](https://docs.google.com/presentation/d/17rxuDsJv6T6ROFxWsmgmx0A42myRJHNBvaEt_3cMYzM/edit#slide=id.g103bebce5c_0_37) and [2](https://github.com/AntoineDupre/pytango-meeting/blob/gh-pages/minutes.md#server-argparse)*

***

Server side helper for parsing DS arguments

It should support:
 - all standard server arguments (`-?`, `-vN`, `-nodb`, `-dlist`, etc)
 - ORB argument

[2017-06-19 12:22] vxgmichel commented on #131
@LJBD Done!

[2017-06-19 12:37] LJBD opened #133 "Include automatic code quality checks"
I'd like to propose automating code quality checks for PyTango. I have two ideas:

1. Include running [flake8](http://flake8.pycqa.org/en/latest/) in Travis build. Sardana has already implemented this and we can benefit from their experience by looking at:
a) [this PR](https://github.com/sardana-org/sardana/pull/450) that introduced `flake8` to Sardana,
b) [that PR](https://github.com/sardana-org/

[2017-06-19 12:39] LJBD commented on #133
Oh wait, now that I've linked Codacy with my account on GitHub and enabled it for PyTango it can be seen in our PRs already!
Maybe we should transfer ownership to tango-controls?

[2017-06-19 12:49] LJBD commented on #131
Okay, so now I have a possibly dumb question to the proposed implementation:
Why do we need two helpers? I have an idea about what a CLI helper would do, but not so much about the other one - is it supposed to help to run servers programmatically with Python scripts?

[2017-06-19 13:19] vxgmichel commented on #133
That sounds good! :+1: for Codacy

[2017-06-19 13:29] vxgmichel commented on #131
Exactly. Typically, servers usually provide a `run` and `main` function:

[code]

Then you can either do:

[code]

But maybe that doesn't apply so well to pytango, considering backward compatibility and the different ways we have to  run a server...

[2017-06-19 15:40] vxgmichel commented on #133
I just realized that Codacy is using pylint, and pytango is definitely not pylint compliant :sweat_smile:

I'll try to find a pylint configuration file that follows the flake8 rules instead.

[2017-06-19 16:16] vxgmichel commented on #133
I think we could start with something like this:

[code]

[2017-06-20 09:29] AntoineDupre commented on #131
Working on it !

My proposal:
 * Add ```catch_exception=True``` argument to ```run``` and ```run_server``` (from server.py)
[code]

 * Update the ```DeviceTestContext``` with the same ```catch_exception``` argument that forward the exception to the main Thread/Process to let user test code handle it.
Wrap server run method like:
[code]

And raise the exception in the context manager ```__exit__```

[2017-06-20 09:40] LJBD commented on #131
IMHO a CLI helper is a much needed feature since I'd *like* to see the errors that initialisation of my devices produce. A Python helper is more of a nice-to-have thing to me.

EDIT, after seeing @AntoineDupre's suggestion: this would be a nice robust solution of the issue. I like that!

[2017-06-20 10:12] vxgmichel commented on #131
@LJBD Yea, the CLI+python helpers approach is painful to implement for very little reward. @AntoineDupre's proposal is much simpler, so let's stick to that!

[2017-06-20 10:14] vxgmichel commented on #119
Related: #126

[2017-06-20 10:25] Athanaseus commented on #56
Hi @tiagocoutinho any confirmation that this issue comes from C++ tango?

[2017-06-20 14:28] LJBD commented on #133
All right, so since me & Vincent have been granted access to tango-controls organisation at Codacy, we've added PyTango there and I've removed my local copy of the project on Codacy.

My proposition is to agree on a policy that a PR cannot introduce more issues identified by Codacy than it solves. That way we'll enforce correcting old code even if one wants to add new shady stuff.

[2017-06-20 14:46] vxgmichel commented on #133
I also went through a heavy linting of the tango module, and it's now flake8 compliant (ignoring E501, E731, E402). Pylint is more restrictive, so I filtered a bunch of warnings that I thought weren't worth the trouble. There are still a few remaining issues though, if someone wants to have a look:

[code]

[2017-06-27 13:05] LJBD commented on #133
I suppose we can close this issue now?
We have a framwork for testing code quality and we've agreed on a policy to keep the code cleaner.

[2017-06-27 13:22] vxgmichel commented on #133
Yes, thanks!

[2017-06-27 13:22] #133 closed, assigned to nobody

[2017-07-04 08:51] kmadisa opened #138 "Attributes with DevInt data_type not supported"
I was trying to create an attribute during runtime using the _Attr_ class instance:
`attr = Attr(attribute_name, attr_dtype, rw_type)`
It worked for other data types, however it crashed when the _attr_dtype_ is set to  _DevInt_

[code]

[2017-07-04 11:36] LJBD commented on #138
Hello!

AFAIK, there's no `DevInt` type, there are `DevShort`, `DevLong` and `DevLong64` types (according to [this page](tango-controls.readthedocs.io/en/latest/development/device-api/ds-guideline/TangoDesignGuidelines-Revision-7.html#static-attribute-properties) of Tango Controls documentation).

To specify an attribute's type in PyTango we use Python types. [Here](http://pytango.readthedocs.io/e

[2017-07-05 09:54] AntoineDupre commented on #138
Hello,

FYI:

In your example the attribute is not created during runtime.

In PyTango, it is possible to create a dynamic attribute from ```Attr``` object or ```AttrData``` object. In those two cases, there is no python type to tango type conversion, it requires to use directly the tango type:
[code]

Note that it is not possible to use the ```return``` statement in ```r_meth```, ```w_meth``` and

[2017-07-05 10:08] vxgmichel commented on #105
I'm closing it, please re-open if necessary.

[2017-07-05 10:08] #105 closed, assigned to nobody

[2017-07-05 10:11] vxgmichel commented on #95
Done!

[2017-07-05 10:11] #95 closed, assigned to nobody

[2017-07-05 10:12] vxgmichel commented on #120
Closing it, please re-open if necessary.

[2017-07-05 10:12] #120 closed, assigned to nobody

[2017-07-05 11:39] vxgmichel opened #139 "Releasing pytango 9.2.2"
Now that @grm84 PRs have been merged, I think it's time to release pytango-9.2.2, and change the milestone for the pending issues to 9.2.3. Is it OK with everyone?

For the record, the release procedure includes:

- [x] Editing the changelog
- [x] Bumping the version
- [x] Merging develop into stable
- [x] Make sure Travis is OK
- [x] Make sure the documentation is updated
- [x] Create a release t

[2017-07-06 07:00] #13 closed

[2017-07-06 07:00] #7 closed

[2017-07-06 07:00] #9 closed

[2017-07-06 07:01] #12 closed

[2017-07-06 07:02] #11 closed

[2017-07-06 08:45] #131 closed, assigned to nobody

[2017-07-06 08:55] grm84 opened #140 "Stop exporting Tango Dev* types"
Should we actually expose all the Tango::Dev* types (e.g. DevFloat, DevLong, etc)?
It would then force the use of pythonic types.
[code]

[2017-07-06 09:35] vxgmichel commented on #140
One issue with not exposing the tango types is that it might break existing devices.

[2017-07-06 09:36] #138 closed, assigned to nobody

[2017-07-06 09:58] grm84 opened #141 "DServer inheritance"
In ext/server/dserver.cpp should DServer inherit Device_5Impl and not Device_4Impl
`
  class_<Tango::DServer,
        bases<Tango::Device_4Impl>, boost::noncopyable>
        ("DServer", no_init)
`

[2017-07-07 07:06] LJBD commented on #140
Maybe we could add a deprecation warning for that? And make it obsolete in the future?

[2017-07-07 10:02] grm84 opened #142 "Add missing modules to __init__"

[2017-07-07 11:22] vxgmichel commented on #142
Thanks!

[2017-07-07 11:22] #142 closed, assigned to nobody

[2017-07-18 08:19] vxgmichel commented on #139
Pinging...

I'd rather not do it myself since I want more people to know about this procedure, but I'll be happy to help!

[2017-07-18 08:21] vxgmichel commented on #139
Pinging... @LJBD @AntoineDupre @tiagocoutinho @cmft @reszelaz

I'd rather not do it myself since I want more people to know about this procedure, but I'll be happy to help!

[2017-07-18 13:36] LJBD commented on #139
I think that I'll have some time on Thursday so I can do something then.

[2017-07-18 13:40] vxgmichel commented on #139
@LJBD Great! :smile: Let me know if you need help

[2017-07-21 12:50] jkotan opened #144 "ImportError: cannot import name seqStr_2_obj"
Hi,

It looks like 9.2.2 is not backward compatible with 9.2.0, i.e.

     from PyTango import seqStr_2_obj

does not work and e.g. it causes crash of sardana Pool.

Bests,
Jan

[2017-07-25 17:08] AntoineDupre opened #145 "Green mode for Database object"
Hi,

With tango client green modes, only AttributePoxy and DeviceProxy are wrapped by the green decorator to run in an executor.

The tango.Database object is not compatible with green modes, however it might be interesting to be able to write such kind of coroutines:
[code]

Does it make sense to also wrapped the tango.Database with green modes ?

[2017-07-26 03:39] hasrifa2003 opened #146 "Installation error"
installation newest PyTango error :
error: command 'x86_64-linux-gnu-gcc' failed with exit status 1

is there any solution?

[2017-07-26 06:24] LJBD commented on #146
Well, the error information that you've provided doesn't say much.
Please include the whole log of your installation and write us about what platform are you doing this on and what version of Tango you've got.

[2017-07-26 06:42] hasrifa2003 commented on #146
Thanks Lukas.
I use Tango 8.1.2 on Ubuntu 14.04
The installed PyTango is 8.1.1 and I want to upgrade to 9

here is the fully information of installation:

rifai@rifai-Inspiron-3458:~/Documents/Program/pytango$ sudo python setup.py install
[sudo] password for rifai:
running install
running bdist_egg
running egg_info
writing requirements to pytango.egg-info/requires.txt
writing pytango.egg-info/PKG-

[2017-07-26 06:51] LJBD commented on #146
Unfortunately you cannot use PyTango 9 with Tango 8.
The general rule, [as stated in the `README` of PyTango](https://github.com/tango-controls/pytango/blob/develop/README.rst#requirements) is that if you have Tango version `x.y.z`, you can only have PyTango `x.y.w` - the major and minor version numbers have to match.
Please consider upgrading to Tango 9.2.x as well if you want to have the most re

[2017-07-26 07:23] hasrifa2003 commented on #146
Thank you.

[2017-07-26 07:27] LJBD commented on #146
@hasrifa2003 - can we close the issue?

[2017-07-26 07:44] hasrifa2003 commented on #146
OK. Thanks.

[2017-07-26 07:44] #146 closed, assigned to nobody

[2017-07-26 11:28] vxgmichel commented on #144
Oops :sweat_smile:

Here's the list of all the objects from the `utils` module that are not exposed anymore after 01f92b9d6:

@jkotan Do you know if `seqStr_2_obj` is the only one that sardana requires?

[2017-07-26 12:07] jkotan commented on #144
To my knowledge  for `sardana` is only `seqStr_2_obj` but it looks like `taurus` uses  also

    is_numerical_type, is_int_type, is_float_type, is_bool_type, str_2_obj

[2017-07-26 14:58] jkotan opened #147 "simultaneous events corrupt event_data"
Hi,

during my stress tests with sardana  https://github.com/sardana-org/sardana/issues/447
I found that when I emits EventType.CHANGE_EVENT events of DevEncoded attribute:

    import PyTango
    from taurus.core.util.codecs import CodecFactory

    def cb(event_data):
        if event_data.err:
            print "event error"
            return
        w = CodecFactory().decode(event_data.attr_v

[2017-07-27 09:15] vxgmichel commented on #144
Fixed! Thanks for the report!

[2017-07-27 09:15] #144 closed, assigned to nobody

[2017-07-27 09:16] vxgmichel commented on #147
#144 is now fixed on `develop` if you want to give `9.2.2` a try.

[2017-07-27 10:29] jkotan commented on #147
Thanks. During running the same test scripts for the develop branch I have another problem,

    Traceback (most recent call last):
      File "./my5.py", line 23, in <module>
        door.unsubscribe_event(id_)
      File "/home/jkotan/testinst2/lib/python2.7/site-packages/pytango-9.2.2.dev0-py2.7-linux-x86_64.egg/tango/green.py", line 182, in greener
        return executor.run(fn, args, kwargs,

[2017-07-27 10:45] vxgmichel commented on #147
Thank you for the report, I found the problem: 71236c9d

I'm working on a fix now.

[2017-07-27 12:22] vxgmichel commented on #147
@jkotan #149 should fix the intermediate issue you reported, feel free to give `develop` another try.

[2017-07-27 12:54] jkotan commented on #147
I also get the same error with  the `develop` branch.

[2017-07-27 18:28] Kamil2806 opened #150 "problem with compile Boost.Python on windows 10 64bit"
Hi,

When installing Boost.Python, I get "fatal errors" when compiling a sample program. All the steps you will look like are:
1. I install Microsoft Visual C ++ Compiler for python 2.7
2. I pick and install "boost_1_64_0-msvc-14.1-64.exe" from:
https://sourceforge.net/projects/boost/files/boost-binaries/1.64.0/
3. I put environment variable to boost root directory (in my case: C:\local\boost_1_64

[2017-07-28 09:19] vxgmichel commented on #150
Hi @Kamil2806,

As far as I understand, building pytango for windows is very tricky. @NexeyaSGara might be able to help you though. In any case, you can find windows binaries for pytango 9.2.1 on [PyPi](https://pypi.python.org/pypi/PyTango/9.2.1).

[2017-07-28 11:35] jkotan commented on #147
I've added another printouts in

    static void _push_event(PyCallBackPushEvent* self, OriginalT * ev)

in `callback.cpp` for `OriginalT = EventData`

of

    ((ev->attr_value)->get_Encoded_data()).inout()[0].encoded_data

before converting it to python and it looks corrupted as well (in the cases I get the problem).
So maybe it is not a problem with `pytango` but in `cppTango`.

[2017-07-31 13:01] LJBD commented on #150
A quick remark: `No such file or directory` might mean that you don't have proper include paths setup. Have you double-checked that?

[2017-07-31 13:07] Kamil2806 commented on #150
Hi @vxgmichel,

I already installed pytango using PyPi but my only problem is that i can't compile it :( Anyway thank you for help.

[2017-07-31 13:10] Kamil2806 commented on #150
Hi @LJBD,
I checked it even three times but i am sure that the files are there. So I don't know why there is that problem.

[2017-07-31 13:26] vxgmichel commented on #150
@Kamil2806

You won't need to compile anything if you use the [windows installer](https://pypi.python.org/packages/9e/5b/0f953e8b7f5fd040eeb5d433b0c381926e008327d5ccf787498706fdaf60/pytango-9.2.1.win-amd64-py2.7.msi#md5=0c07c025f936b9594498fd77a3686b1a).

[2017-07-31 13:30] NexeyaSGara commented on #150
Did you set PYTHONPATH ?
I think this can be the solution

[2017-07-31 13:33] Kamil2806 commented on #150
@vxgmichel
I thought like you before i tried to run the sample program and i needed "boost-jam" but the installer did not provide this tool.

[2017-07-31 13:36] Kamil2806 commented on #150
@NexeyaSGara
Mean you that i should set path to my python installation to PYTHONPATH ?

[2017-07-31 13:43] NexeyaSGara commented on #150
@Kamil2806 yes

[2017-07-31 13:45] vxgmichel commented on #150
@Kamil2806

I guess you also need the [boost binaries](https://sourceforge.net/projects/boost/files/boost-binaries/) (though I'm no windows expert).

[2017-07-31 14:04] LJBD commented on #139
Sorry, guys, it turned out that my local tasks consumed me to a greater extent that I've forseen. I may have some time this week to start the process, but I'm certain that I won't have time to finish it.

[2017-07-31 14:06] Kamil2806 commented on #150
@NexeyaSGara
I did like you said, but it doesn't work. Maybe i did something wrong. So this is how i did it:
![image](https://user-images.githubusercontent.com/30506397/28781413-41ab3e84-760a-11e7-8bd5-75099d7dee2a.png)

[2017-07-31 14:08] Kamil2806 commented on #150
@vxgmichel
Unfortunately, I already have this package and it don't resolve the problem :/

[2017-07-31 14:11] NexeyaSGara commented on #150
@Kamil2806 seems ok, did you had the same error ?

[2017-07-31 14:13] Kamil2806 commented on #150
@NexeyaSGara
Yes, I checked it once again and this is exactly the same problem.

[2017-07-31 14:19] NexeyaSGara commented on #150
@Kamil2806 ok.

Try to set BOOST_ROOT

[2017-07-31 14:28] Kamil2806 commented on #150
@NexeyaSGara
I set BOOST_ROOT but it doesn,t works too.
![image](https://user-images.githubusercontent.com/30506397/28782402-4a6991da-760d-11e7-8bbc-554ee854103e.png)

[2017-07-31 14:48] vxgmichel commented on #150
@Kamil2806

What sample program? What kind of error do you get?

[2017-07-31 14:49] NexeyaSGara commented on #150
@Kamil2806
if you have the same error, did you close and reopen the terminal to be sure that env variables are updated ?

[2017-07-31 14:55] vxgmichel commented on #139
@LJBD It's fine, there's no hurry :wink: And spreading the release process over several weeks is no problem either. Again, I'll be happy to help anyway.

[2017-07-31 14:56] Kamil2806 commented on #150
@vxgmichel
I use instruction from: http://www.boost.org/doc/libs/1_39_0/libs/python/doc/building.html
and there is said that to checked everything, you can compile this sample program. The error which i Get is the same like I showed on picture on the top this side. I mean the two "fatal error".

[2017-07-31 15:00] Kamil2806 commented on #150
@NexeyaSGara
of course, i close and open command prompt every time when i change something in environment variables.

[2017-07-31 15:02] NexeyaSGara commented on #150
@Kamil2806 really strange, beacause your fatal errors are clearly a missing path problem

[2017-07-31 15:03] vxgmichel commented on #150
@Kamil2806
As far as I understand, no building is required to install pytango on windows. The pytango and boost binaries should be enough to be able to import and use the tango module. @NexeyaSGara Can you confirm?

[2017-07-31 15:05] NexeyaSGara commented on #150
Normally, yes.

@Kamil2806 did you try to just launch a python command line and type "import tango" ?

[2017-07-31 15:22] Kamil2806 commented on #150
@NexeyaSGara  @vxgmichel
Yes, and it's work but if i run some program then i can't compile it.

[2017-07-31 15:38] vxgmichel commented on #150
@Kamil2806 It seems like you your tango/pytango installation is working fine then. Can we close this issue?

[2017-07-31 15:50] Kamil2806 commented on #150
@vxgmichel @NexeyaSGara
Ok, then I still try resolved this problem with program compiling. Anyway thank you for your help.

[2017-08-01 13:00] vxgmichel commented on #150
@Kamil2806
Good luck with that!

[2017-08-01 13:00] #150 closed, assigned to nobody

[2017-08-03 13:41] stanislaw47 opened #151 "Attribute's fget don't accept functools.partial"
Hi, I've been using PyTango for a while and I've found an error. In my device, there's a list. I want my attributes to read values from that list. Since there's a lot of them, I've decided to use `functools.partial` and `fget` parameter to write less code. Example:
[code]

However, when I try to do that, I receive this execption:
[code]
 It looks like `functools.partial` is not a function and thus

[2017-08-04 07:25] vxgmichel commented on #151
Thank you for your report! I also think it's something that should be fixed.

Do you want to work on a PR? I'll be happy to review it.

[2017-08-04 09:05] stanislaw47 commented on #151
Yes, I'd like to. I guess it's just a minor fix, shouldn't take long. I'll probably start new branch next week.

[2017-08-04 09:19] jkotan opened #152 "pytango compilation problems"
Hi,

Trying from the scratch to compile/install `tango-idl` `cppTango` (master) and `pytango` (develop) on `jessie` the commands

    python setup.py build --no-doc

gave me the following error

    x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -fno-strict-aliasing -D_FORTIFY_SOURCE=2 -g -fstack-protector-strong -Wformat -Werror=format-security -fPIC -DPYTANGO_NUMPY_VERSION="1.8.2" -

[2017-08-04 09:40] grm84 commented on #152
__TANGO_DVBA was added  to provide backward compatibility as boolean arrays are not supported fully in the c++ library upto and including 9.2.5.
The definition should be protected by
`#if TANGO_VERSION_NB > 90205`

[2017-08-04 09:43] vxgmichel commented on #152
The current tango version on the `cppTango` master branch is [10.0.1](https://github.com/tango-controls/cppTango/blob/master/CMakeLists.txt#L7-L9).

As a general rule, `libtango` and `pytango` should share the same major and minor version (for a version `X.Y.Z`, `X` and `Y` should match).

[2017-08-04 10:44] jkotan commented on #152
Ah, indeed.Thanks

[2017-08-04 10:49] #152 closed, assigned to nobody

[2017-08-07 12:09] johanfforsberg commented on #140
There might also be cases where you actually want to have a "DevFloat" attribute instead of "DevDouble" which I think is what you get when using "float", e.g. to follow the precision of the original data. I think it makes sense to keep them around, but we could hide them away a bit in the documentation.

[2017-08-07 12:29] johanfforsberg commented on #151
While I agree that this should be fixed anyway, I've solved a similar problem by doing something like this:
[code]

[2017-08-07 19:01] AntoineDupre commented on #151
Hi,

I started to implement a fix in PR #154 using simple closures instead of functools.wraps (not compatible with functools.partial), @stanislaw47 fill free to update this PR, change everything or add the missing features (like fset and isinstance).

[2017-08-08 10:44] stanislaw47 commented on #151
Hi,
@AntoineDupre, I'm happy to work on that PR

[2017-08-09 11:57] jkotan commented on #147
Hi,

it looks like this bug is caused by the fact that `Attribute.set_value(encoded_format, encoded_data)` for DevEncoded copies  only the pointer to the `encoded_data`.

Thus, if `encode_data` is a local variable and will be removed by `gc` the "stored" data for the attribute may be overwritten by something else.  Therefore, it would be good to increase reference counter for `encoded_data` on `se

[2017-08-11 11:46] tiagocoutinho commented on #147
Thanks for the report @jkotan .I agree with you. It is coming from `Attribute.set_value`. The technical problem is that tango (well, actually CORBA) does not tell when it doesn't need the memory.

The lazy solution would be to do a copy and pass it to tango saying it should manage de pointer.

Fortunately I think the problem has already been solved for the SPECTRUM and IMAGE without copying data b

[2017-08-11 11:51] tiagocoutinho commented on #140
Just a detail concerning the number equivalence in pytango, tango and python data types :
`'float' == 'float64' == 'double' == float == DevDouble`
`'float32' == DevFloat`

[2017-08-11 12:00] tiagocoutinho commented on #145
It does!
When the greenification process started in the pre-historic era (aka before git era) I prioritized `DeviceProxy` and `AttributeProxy`. The `Database` was low priority. That is the only reason it is not done.

[2017-08-22 13:24] LJBD commented on #139
The situation unwound in the most astounding of ways: I'm quitting my job at SOLARIS at the end of August. This means that I won't have time to prepare a PyTango release during the next 2 weeks for sure and after that it's rather unlikely.
Sorry for letting you all down.

[2017-08-25 15:00] cmft opened #155 "Emit push_change_event with a custom time stamp"
Dear community,
I'm trying to do tests and I need to send a push_change_event with a custom time stamp.
I tried to do it with a dummy ds, via a command (see the attached code) the command sent the push change event but it did not send the given time stamp.

Is it possible?

[code]

Test:
[code]

Best Carlos

PD: I'm using Tango 9.2.5 and PyTango 9.2.1

[2017-08-28 08:13] stanislaw47 opened #156 "No module named _tango"
Hi, I've been trying to build a Docker image for installing PyTango from sources. Image do build, PyTango do install but when try to `import tango` i get this:
[code]

Frankly, I have virtually no idea what I'm doing wrong. I'd appreciate any help.
Here are mine [Dockerfile](https://www.dropbox.com/s/1f063qfs8oo8sk2/Dockerfile.txt?dl=0), image build [log](https://www.dropbox.com/s/h2ea3q8tcc6vz8d/

[2017-08-28 08:24] andygotz commented on #156
Hi, frankly I am not an expert in Docker or PyTango either so I can only give you some hints. From the install log it looks like PyTango.9.2.2 was installed correctly for python 2.7. Are you sure you are trying to import tango from a python 2.7 shell? Is PyTango installed where it said it would i.e. /usr/lib/python2.7/site-packages.  Make sure the shared library module _tango.blablabla.so is in th

[2017-08-28 11:25] vxgmichel commented on #156
Hi @stanislaw47,

I think the issue here is that you're trying to import `tango` from the root of the pytango repo. Instead of importing tango from your freshly installed package, python tries to import from the local `tango` directory.

You might also want to split the `RUN` step of your dockerfile into several steps so docker can build intermediary images.

Hope that helps,
Cheers

[2017-08-28 11:28] vxgmichel commented on #155
Hi @cmft,

Thank you for your report, I'm investigating this issue.

[2017-08-28 14:21] vxgmichel commented on #155
It turns out that `tango.utils.EventCallBack` uses `event.get_date()` which returns the reception date. IMO this is NOT the expected behavior and I think it should be fixed. In the meantime, you can access the timestamp using:

 - `event.attr_value.time.totime()`
 - `event.attr_value.time.todatetime()`

[2017-08-28 14:23] cmft commented on #155
Thanks @vxgmichel!!

[2017-08-28 18:32] stanislaw47 commented on #156
Hi @vxgmichel
Thank you for your advice, you're totally right! When I opened Python shell in a different directory, `import tango` went smoothly.

[2017-08-28 18:33] #156 closed, assigned to nobody

[2017-08-30 17:46] stanislaw47 commented on #151
I've tried to perform `git push` to branch `issue-151` but it has failed. After little investigation, I believe I don't have write access to this repo/branch. Can you help me with that, @AntoineDupre?

[2017-09-06 08:06] jkotan commented on #147
Hi Tiago,

Thanks for your confirmation. Is there any movement in fixing the bug?

I've just found that this bug may also cause instabilities of limaccd, i.e. in LimaCCDs.py we have DevEncoded attributes like 'last_image'  or 'video_last_image' which are set from local python variables in their read_* methods.
So this bug may be one of reasons of LimaCCD problems.
But contrary to Sardana/Taurus ca

[2017-09-06 14:20] reszelaz opened #159 "Problem when writing spectrum attribute with empty list"
I use PyTango 9.2.0 and tango 9.2.5 (default Debian 9 packages).
I have a problem when I try to write an empty list to a spectrum attribute in a [python device](https://github.com/tango-controls/pytango/files/1281394/PyDsExp.txt) (sorry about the old API...).
[code]
When I do the same test in the TangoTest attribute e.g. float_spectrum I don't see this problem:
[code]
Any suggestion? Am I doing so

[2017-09-07 00:54] mike-a-smith opened #160 "PyTango 9.2.2 branch does not compile in windows"
In device_impl.cpp, push_pipe_event() function definition:

- gettimeofday() function is called which does not exist in windows

[code]

[2017-09-07 12:16] #16 closed

[2017-09-07 12:19] #155 closed, assigned to nobody

[2017-09-07 16:26] vxgmichel commented on #159
Thanks for your report!

I tried to reproduce it and it does not happen with pytango-9.2.2, tango-9.2.2 and the following device:

[code]
Running the server:
[code]
Testing:
[code]

I did notice a problem on the client side though, the result is `Ǹone` when reading the attribute:

[code]

[2017-09-07 16:46] vxgmichel commented on #159
I tried again and it does not happen with pytango-9.2.2, tango-9.2.5a and the device above.

[2017-09-07 19:30] reszelaz commented on #159
Yes, with a device from Sardana, on the client side the result was also `None`. If it is fixed in the latest release I think that this issue can be closed. We can apply a workaround. Thanks!

[2017-09-14 08:22] jkotan opened #162 "Tango Group does not pass source variables into its DeviceProxies"
Hi,

I've just found that in PyTango `set_source(...)` command executed on Tango Group devices does not work, i.e.

    grp = PyTango.Group("motors")
    for i in range(1, 17):
        grp.add("p09/motor/exp.%02i" % i)
    for i in range(1, 17):
        dp = grp.get_device("p09/motor/exp.%02i" % i)
        dp.set_source(PyTango.DevSource.DEV)
        print dp.get_source()
        dp = grp.get_devi

[2017-09-14 10:07] jkotan commented on #162
Hi,

I've just noticed that this bug is fixed in the develop branch.
Before for tests I used python-pytango 9.2.0 debian package.

Bests,
Jan

[2017-09-14 10:07] #162 closed, assigned to nobody

[2017-09-19 10:02] vxgmichel commented on #160
Thanks for your report, it's fixed and will appear in the 9.2.2 release.

[2017-09-19 10:02] #160 closed, assigned to grm84

[2017-09-27 13:22] vxgmichel commented on #139
@jairomoldes @guifrecuni @grm84 Thanks for your help!

[2017-09-27 13:22] #139 closed, assigned to nobody

[2017-10-02 10:02] cmft opened #164 "Attributes return wrong unit"
Attributes where the unit has not been specified return "No unit" instead of `PyTango.constants.UnitNotSpec` (equivalent to empty string) as  Tango documentation said.

[2017-10-24 15:21] PhilLAL opened #166 "pytango binary exe on windows"
Hello,
trying to get pytango with pip install, it seems that one need to install it from binaries available on the page https://pypi.python.org/pypi/PyTango/9.2.1
However, launching the exe, a window appears with PyTango8.
Perhaps is it just the image which needs an update?

[2017-10-24 15:26] PhilLAL opened #167 "error importing Tango on windows"
Hello,
I would like to install a Windows Tango client.
After installing 64bits MSI file on windows 7 Pro SP1 64bits, I launched python.

When importing tango, I got the following error :
̀
[code]
I probably forgot something but I am not very experienced with windows.
Do you have any idea what I forgot?
Thank you

[2017-10-24 18:44] vxgmichel commented on #167
Thanks for the report, @NexeyaSGara any idea?

[2017-10-25 08:42] NexeyaSGara commented on #167
Hi,

I think that it search TANGO_ROOT environment variable.

[2017-10-25 10:01] vxgmichel commented on #167
@NexeyaSGara I thought TANGO_ROOT was only for the build, is that right?

In this case, @PhilLAL installed the binaries, so there should be no configuration required right?

[2017-10-25 11:59] NexeyaSGara commented on #167
In fact, this is needed for finding the tango.dll if it's hasn't got found in classical "program files"

[2017-10-25 13:34] PhilLAL commented on #167
Hi, thank you @NexeyaSGara
To install my dev client, I got "TANGO 9.2.2 libraries for Windows 64 bits and Visual Studio 2010 (VC10)" from http://www.tango-controls.org/downloads/binary/ and I unzipped it, I then installed python(x,y) and pytango from MSI found on https://pypi.python.org/pypi/PyTango/9.2.1
I then set TANGO_ROOT to this directory (C:\Program Files\tango922_win64_vc10\lib\vc10_dll) b

[2017-10-25 13:45] jkotan opened #168 "Random monitor timeout on read_attribute"
Hi,

From time to I get error

    MainThread     INFO     2017-10-25 08:47:45,967 TaurusRootLogger: Using "PyQt4" for Qt
    Traceback (most recent call last):
      File "/usr/lib/python2.7/dist-packages/nxsselector/Selector.py", line 941, in __restore
	self.resetDescriptions()
      File "/usr/lib/python2.7/dist-packages/nxsselector/Selector.py", line 884, in resetDescriptions
	self.storage.sho

[2017-10-25 13:49] NexeyaSGara commented on #167
@PhilLAL
For now, pytango is expecting to find tango  in
%TANGO_ROOT%\arch\lib\vc

So I think you will have to change the directory structure to have the dll in :

c:\Program files\tango_922\win64\lib\vc10_dll

I personnaly used the vc12 installer for tango, any reason to stay on vc10 ?

[2017-10-25 14:00] PhilLAL commented on #167
@NexeyaSGara : I rename the directory but it is still a failure.
I use this vc10 since this is the most recent I found, but I can switch to vc12 if you let me know where to find it. I do not find anything newer than vc_10 on the tango page http://www.tango-controls.org/downloads/binary/

[2017-10-25 14:25] NexeyaSGara commented on #167
ok
Let's try with
https://sourceforge.net/projects/tango-cs/files/TangoSetup-9.2.2_win64.exe/download

I use this setup and the same msi for pytango and it was working (on a training last week)

[2017-10-25 14:40] PhilLAL commented on #167
Ok, just to be sure, do you confirm this is a complete tango installation and not just the libraries?
Here are the steps I followed:
- uninstallation of pytango
- installation of https://sourceforge.net/projects/tango-cs/files/TangoSetup-9.2.2_win64.exe/download
- installation of pytango MSI (http://pypi.python.org/packages/2.7/P/PyTango/PyTango-8.0.2.win32-py2.7.msi)
- changingTANGO_ROOT to "c;\p

[2017-10-25 14:42] NexeyaSGara commented on #167
@PhilLAL
https://pypi.python.org/packages/fe/6e/8780412c9b04ba49177032b792e35c0461c1da49b3e204badf817bba23ec/pytango-9.2.1.Win32-py2.7.msi#md5=668c63b09c058225ad377a2ab75f43ee

this one

[2017-10-25 14:52] PhilLAL commented on #167
copied the wrong path, I used in fac https://pypi.python.org/packages/9e/5b-/0f953e8b7f5fd040eeb5d433b0c381926e008327d5ccf787498706fdaf60/pytango-9.2.1.win-amd64-py2.7.msi#md5=0c07c025f936b9594498fd77a3686b1a (which is AMD64 MSI since our system is a Windows 7 Pro SP1 64bits).
Do you think we should use win32 MSI?

When uninstalling amd64 PyTango and installing win32 PyTango MSI, and than importin

[2017-10-25 15:07] PhilLAL commented on #167
Since it seems version 1.9 is not enough, we installed 1.13 through "python -m pip install --upgrade"
PyTango worked!
Thank you for your help.

I do not know very well Windows but I am a bit  confused to have to install win32 version of PyTango. Does anyone know why we have to do this?

[2017-10-25 15:16] NexeyaSGara commented on #167
I don't think it's mandatory.

I think if you try back with the 64 version it musts works too.

[2017-10-26 08:17] jkotan commented on #168
To be more concrete `DescriptionErrors` is a tango attribute:

    Writable     READ
    Data format  Spectrum
    Data type    DevString
    Max Dim X    10000

of a tango server written in python.
Currently my workaround it a brutal force solution, i.e. a loop with read tries.

[2017-10-26 10:00] vxgmichel commented on #168
Thanks for the report,

The issue you mentioned (#22) has been fixed in pytango 9.2.0, so that's not your problem here.

The thing is, the tango monitor lock timeout (`Not able to acquire serialization monitor`) can have many causes. It could be a deadlock, an overload, or any blocking code. You'll have to try to reproduce it with a minimalistic version of your server and share it with us so we ca

[2017-10-26 15:19] PhilLAL commented on #167
We ran some tests again but 64bits and 32bits do not returns same result.
Here are some screenshots:
- win-amd64 exe
![win-amd64 exe](https://owncloud.lal.in2p3.fr/index.php/s/Gkptyk2pokCYypg/download)
- win-amd64 msi
![win-amd64 msi](https://owncloud.lal.in2p3.fr/index.php/s/UMzPg7JAJK6N2dg/download)
- win32 exe
![win32 exe](https://owncloud.lal.in2p3.fr/index.php/s/nWUDNKft9PbaQLO/download)
- wi

[2017-10-26 16:34] tiagocoutinho opened #170 "Client tango calls execute sys.excepthook in gevent mode"
Using gevent >= 1.1, when a client does a tango call and it fails (ex: `DeviceProxy.read_attribute`),
the exceptions are being printed in the console (default `sys.excepthook`) even if we protect the code within a try..except.

[2017-10-26 16:52] tiagocoutinho opened #172 "Async mode server pushing events segfaults"
- Start the following server D1.py with one device of class D1
- Start c1.py which listens to events and floods the device with read attribute requests

Shortly after the server segfaults

server code:

[code]

... and the client code:

[code]

[2017-10-27 06:57] tiagocoutinho opened #173 "Async mode server: dynamic attribute read/write/is_allowed are not called by worker"
In async mode (gevent, asyncio, ...) the *dynamic attributes* read, write and is_allowed methods are not called through the worker like the *standard attributes*

[2017-10-27 07:02] tiagocoutinho commented on #168
Hi @jkotan,

Are you running your server in any of the async modes (gevent/asyncio/...) ?

[2017-10-27 07:03] tiagocoutinho commented on #172
Might be related with #168

[2017-10-27 09:00] tiagocoutinho opened #174 "Extend DeviceProxy [] syntax to support multiple attribute read/write"
After a very interesting talk with @vxgmichel about numpy array [] syntax it occured to me we also have this in PyTango, only we dont have extended syntax.

I propose to extend the item access `[]` syntax of device proxy to support read and write multiple attributes:

[code]

[2017-12-11 12:11] dmiego opened #177 "Command_inout_asynch empty argout"
I try to execute command_inout_asynch in PyTango client, but every time I've got an event with empty argout (and argout_raw). All other fields of the event are correct, e.g. event.device

Code example:
[code]

Console output:
[code]

The problem replicates both on Windows and Linux, Python 2.7 and 3.4, Pytango 9.2.0 and 9.2.2.

P.S.: Also documentation about all kinds of "command_inout" dissapearr

[2017-12-12 16:09] vxgmichel commented on #177
Thanks for your report,

I've been able to reproduce your issue, and I'm currently investigating it. Interestingly enough, getting the result using `proxy.command_inout_reply` does work.

[code]

I also fixed the docs for `DeviceProxy`, I'll include it in the upcoming PR.

[2017-12-12 16:13] vxgmichel commented on #177
Also note that you can get the command result using:

[code]

[2017-12-14 12:46] vxgmichel commented on #177
Thanks for your report, the issue has been fixed and merged into the develop branch (#178).

It will become visible with pytango 9.2.3. You can use the `event.argout_raw.extract()` trick in the meantime.

[2017-12-14 12:46] #177 closed, assigned to nobody

[2018-02-07 09:20] Avernial opened #183 "simple_server.py example does not work"
simple_server.py example not working in python3.
[code]
The problem is that in python 3 `types.MethodType` accept only two arguments:
[code]

Removing `None` from arguments in function `create_tango_class` solves this problem.

[code]

[2018-02-07 10:19] vxgmichel commented on #183
Thanks for the report! It will be fixed after PR #184 is merged.

[2018-02-16 12:59] reszelaz opened #185 "Keeping references to event callbacks after unsubscribe_event"
Hi PyTango experts!

We have observed that the reference to the callback (either method or function) is being maintained after unsubscribing from the event. We have checked it for configuration and change event.

After executing this code:

[code]

we can see the following output:

[code]

Note that this does not happen with PyTango 7.2.6 but with PyTango 8.1.2 and PyTango 9.2.2.

Could you confir

[2018-02-20 13:34] vxgmichel commented on #185
Hi @reszelaz and thanks for the report!

After some investigation it turns out the device proxy keeps the callback in memory for at least a minute after the call to `unsubscribe_event`. This seems to be related to [sourceforge issue #659](https://sourceforge.net/p/tango-cs/bugs/659/). The reference to the callback is freed during the following `unsubscribe_event`. You can verify this behavior usin

[2018-02-21 15:33] reszelaz commented on #185
Thanks for the investigation! The current behavior seems to be a little "fragile". Do you plan to change it?

Actually we found this when working on two issues in Taurus: https://github.com/taurus-org/taurus/issues/511 and https://github.com/taurus-org/taurus/issues/512. @cmft and @cpascual figured out a _workaround_ that is already integrated in Taurus so there is no big rush with this discussion

[2018-02-21 16:23] vxgmichel commented on #185
It definitely is. There are several ways to tackle this issue:
- get rid of the fix and see if issue #659 keeps happening (it might have been fixed in libtango)
- investigate and see if a proper memory management is doable on the cpp side
- lower the the unsubscribe lifetime (1 second should be more than enough)

[2018-02-21 16:35] reszelaz commented on #185
Great! If you need any help in testing any of this solutions we are willing to help!

[2018-03-18 16:00] hardion opened #186 "DeviceAttribute can't be used in await expression"
The example using asyncio (https://pytango.readthedocs.io/en/latest/green_modes/green.html) is reporting an error when reading the attribute.

object DeviceAttribute can't be used in 'await' expression

My aim is to use AttributeProxy in the python REST implementation in order to manage a cache.
My environment is conda with python 3.5 and PyTango 9.2.2

[2018-03-18 17:08] hardion commented on #186
Find another object that can't be await: object AttributeInfoEx from Device.get_attribute_config.
Should I open a new issue or rename the title to "Extend the asyncio to ..."?

[2018-03-19 16:52] vxgmichel commented on #186
Hi Vincent!

Thanks for the report, 02d17db should fix that.

This should get fixed with PR #187.

[2018-03-26 14:22] vxgmichel commented on #186
Hi @hardion, would you like the review PR #187?

[2018-04-16 13:45] vxgmichel commented on #183
Merged, the fix will become visible with v9.2.3.

[2018-04-16 13:45] #183 closed, assigned to nobody

[2018-04-16 16:15] vxgmichel commented on #186
Merged, will become visible in v9.2.3.

[2018-04-16 16:15] #186 closed, assigned to nobody

[2018-04-19 10:48] cmft opened #188 "How to work with dev_enum attribute"
Dear PyTango experts,
I created a [dummy DS](https://gist.github.com/cmft/0419be729514088b0858d3bebaa70227) with a enum scalar attribute using pogo + manual fixes.

When I use PyTango to read the attribute, I got an `int` value instead an `enumeration`. When I read the attribute using jive. It returns the Enumeration string ('B') instead of Enumeration index (1).

What I doing wrong? It is somethi

[2018-04-19 11:34] vxgmichel commented on #188
Hi @cmft, thanks for the report.

That's the expected behavior right?

You were expecting `db.enum_scalar` to return `'B'`? I think this feature has not been implemented yet.

I don't have time to work on it at the moment, but feel free to submit a PR!

[2018-04-19 11:55] cmft commented on #188
Hi @vxgmichel ,
Thank for the quick answer!

I think so.

O even something more, such as an intEnum e.g. tango_enum.B which `.value == 1` and `.name == 'B'`
But I don't know what should be right write value. According to `jive` should be `'A','B' or 'C'`

What do you think?

[2018-04-19 14:05] vxgmichel commented on #188
But I don't know what should be right write value. According to jive should be 'A','B' or 'C'

I agree, [IntEnum](https://docs.python.org/3/library/enum.html#enum.IntEnum) seems to be the best candidate, since it's implicitly converted to int when needed. Then the write value could be converted using:

    int(MyEnum.__members__.get(value, value))

The following values should then all work: `MyEnu

[2018-04-25 09:49] stanislaw55 opened #189 "PyTango build"
Hi,
I've been trying to build PyTango from sources in debug mode. I've found variable `please_debug` in `setup.py` so I just changed it value to `True` and typed `python setup.py install`. However, it did not succeed, printing errors below. I'm using:
* CentOS 7
* `boost-devel` and `boost-python` in versions 1.53
* `numpy` 1.14.2

I don't know if it's relevant but I'm also using Tango C++ kernel c

[2018-04-26 13:36] vxgmichel commented on #189
Hi @stanislaw55,

I'm sorry but I've never used the debug mode and don't have time to investigate this issue at the moment.

You could try with the conda environment we use in [our CI](https://github.com/tango-controls/pytango/blob/develop/.travis.yml) to see if it gets you any further.

[2018-05-14 14:00] DmitryKuk opened #190 "Segfault when running the restart server command"
## EDIT: duplicate of [sourceforge issue #623](https://sourceforge.net/p/tango-cs/bugs/623/):

***

What I do: open Jive, start server wizard, enter server name and instance name, then start server, add new device as usual. On wizard finish I reply "yes" to "Would you like to reinitialize the server?", and server crashes.
If I start server again, it works perfectly.

Python code:
[code]

Tested on

[2018-05-14 14:27] vxgmichel commented on #190
Thanks for the report!

It is a [known issue](https://sourceforge.net/p/tango-cs/bugs/623/) and it's been there since the beginning of the project. It's related to the boost binding and it could get fixed with the pybind11 migration that might happen later this year. I'll keep this issue open since it did not appear on the github issue tracker before.

Also note that pytango 8 is no longer maintai

[2018-05-29 15:06] vxgmichel opened #191 "Release pytango 9.2.3"
I'm releasing pytango 9.2.3 this week.

- [x] Editing the changelog
- [x] Bumping the version
- [x] Merging develop into stable
- [x] Make sure Travis is OK
- [x] Make sure the documentation is updated
- [x] Create a release tag on GitHub
- [x] Upload the new version to PyPI
- [x] Bumping the version with "-dev" in the develop branch
- [x] Fill the release description on GitHub
- [x] Build conda p

[2018-05-29 16:31] #170 closed, assigned to nobody

[2018-05-30 11:17] #191 closed, assigned to nobody

[2018-06-15 12:50] tiagocoutinho opened #192 "Gevent server on 9.2.3 memory leak"
In PyTango 9.2.3 there is a memory leak in server in gevent mode.
The memory leak happens with every read request or command execution.

It seems to have origin in this commit: c90a409e6d5e3c61eca48f163e719a37db4c99e9

[2018-06-18 10:07] vxgmichel opened #195 "Support python enum as dtype argument"
Now that PR #194 is merged, it would be good to support python enum as `dtype` argument:

[code]

[2018-06-18 15:22] vxgmichel commented on #188
Implemented in PR #194, will be available in v9.2.4. Thanks for the report!

[2018-06-18 15:22] #188 closed, assigned to nobody

[2018-06-19 06:56] JeanLucPons opened #196 "Compilation problem with macro expansion"
Hello,

I'm trying to compile pytango with gcc 6.3.0 on debian9 and it fails during a macro expansion:

[code]
May be I missed something....
Thanks for help.
Jean-Luc PONS

[2018-06-19 09:04] JeanLucPons commented on #196
I manage to make it work by commenting out few lines of `ext/tgutils.h`
I compiled with tango 9.3.1.

[code]

[2018-06-27 10:42] vxgmichel commented on #196
Hi @JeanLucPons, thanks for the report!

@grm84 , you seem to be the author of this code:

https://github.com/tango-controls/pytango/commit/0911cbf1986884a707a45cb194fb25db1d0cbaee#diff-963e048d92def45561ed029398f47ea7R233

Any idea what it is about?

[2018-06-27 12:53] grm84 commented on #196
Hi Vincent,

This piece of code was introduced to add booleanarrays which did not exist prior to Tango release 9.2.5.

It was to try and keep backward compatibility.

I did see Jean-Luc's report but I've not had chance to look at it and I also don't have that modern compiler.

Can I access it with Conda?

Regards, Geoff.

________________________________
From: Vincent Michel <notifications@github.

[2018-06-27 13:02] vxgmichel commented on #196
Yes, we're currently using g++ 7.2.0 to build our packages:

    $ conda install gxx_linux-64

But what makes you think this issue is related to the compiler?

It seems to me that the condition `if TANGO_VERSION_NB > 90205` has never been met before and that the following line is causing the problem.

[2018-07-05 09:45] vxgmichel commented on #195
Done! It will become visible in version 9.2.4.

[2018-07-05 09:45] #195 closed, assigned to nobody

[2018-07-10 15:44] #192 closed, assigned to nobody

[2018-07-12 09:19] vxgmichel opened #200 "What about black?"
Hi all,

I recently heard about this auto-formatter that looks pretty nice:

[![Code style: black](https://img.shields.io/badge/code%20style-black-000000.svg)](https://github.com/ambv/black)

What I like about it:
- It is ["opinionated so we don't have to be"](https://github.com/ambv/black/blob/master/README.md#testimonials).
- It is **not** configurable. It doesn't take previous formatting into a

[2018-07-20 11:32] vxgmichel commented on #196
Fixed in PR #197.

[2018-07-20 11:32] #196 closed, assigned to nobody

[2018-07-21 11:13] picca opened #202 "python 3.7 incompatibilities"
Hello,

while looking after the Debian python 3.7 transition, I got errors dring the pytango build process.
like this error

Indeed async is now a reserved work, so, you need to adapt this code :)

Cheers

Frederic
[code]

[2018-07-21 11:16] picca opened #203 "[python 3.7] ModuleNotFoundError: No module named 'mock'"
Still looking at the Debain python 3.7 transition.

I get this error during the documentation build.

Cheers

Frederic

[code]

[2018-07-23 08:50] stanislaw55 opened #204 "fisallowed and is_<attr name>_allowed"
Hello!

Recently, I've noticed peculiar behaviour of `@attribute`'s `fisallowed` keyword. According to documentation, attribute can have specified function under this keyword. When it returns `True`, read and write to attribute can be performed. When `False`, it is not. By default, this function is called `is_<attr name>_allowed`. Strange enough, I've noticed some misbehaviour.

When I implement m

[2018-07-23 09:22] #204 closed, assigned to nobody

[2018-07-23 12:55] vxgmichel commented on #202
Hi @picca,

Thanks for your report, I'm on it.

[2018-07-23 14:29] vxgmichel commented on #203
The doc requirements are listed in [doc/environment.yml](https://github.com/tango-controls/pytango/blob/develop/doc/environment.yml):

- python=3.5
- numpy
- gevent
- graphviz
- mock
- pillow
- sphinx
- sphinx_rtd_theme

The documentation is built by [readthedocs](http://readthedocs.org/projects/pytango/builds/).

[2018-07-24 15:03] vxgmichel commented on #202
Fixed and validated by the CI!

[2018-07-24 15:03] #202 closed, assigned to nobody

[2018-07-24 15:03] #203 closed, assigned to nobody

[2018-07-24 15:32] picca commented on #202
Is it possible to do a release for this fix ?

[2018-07-26 09:55] vxgmichel commented on #202
@picca sure, how urgent is it?

I was thinking about the tango 9.3 bump (since pytango follows libtango major and minor releases).

I'd like to avoid maintaining two branches simultaneously (9.2 and 9.3) so I was planning to wait for libtango 9.3 to be mature enough, release the last 9.2.X version and move on to 9.3.0. So can you wait for this transition or do you need an intermediate 9.2 release?

[2018-07-26 10:08] picca commented on #202
How long to wait for this transition ?

[2018-07-26 11:30] vxgmichel commented on #202
I guess it'll take few months before libtango 9.3 is ready.

[2018-07-26 11:38] picca commented on #202
In that case the best is to provide a 9.2.4 version with this fix... or to provide a patch on top of 9.2.3 and integrate it in the Debian package.

but it would be better to do a small release for everyone and not only Debian.

[2018-07-26 11:47] vxgmichel commented on #202
Ok, I'll do that then. Probably not before next week though.

[2018-07-26 11:52] picca commented on #202
no problem, this is just that if it takes months it is a problem, because we can not backports anymore all other projects dependening on pytango, since pytango is broken in Debian unstable  and testing.

Thanks a lot

Frederic

[2018-07-30 11:19] vxgmichel opened #206 "Release 9.2.4"
I'm releasing 9.2.4 a bit sooner than expected, for 2 reasons:
- It fixes a [memory leak in gevent green mode](https://github.com/tango-controls/pytango/issues/192) that was introduced in 9.2.3.
- It provides [python 3.7 compatibility](https://github.com/tango-controls/pytango/issues/202).

Task list:

- [x] Editing the changelog
- [x] Bumping the version
- [x] Merging develop into stable
- [x] Ma

[2018-07-30 12:49] ajoubertza commented on #206
Thanks for the new release @vxgmichel

[2018-07-30 12:51] vxgmichel commented on #202
Hi @picca,

[Version 9.2.4 is on PyPI](https://pypi.org/project/PyTango/9.2.4/) if you want to give it a try :)

[2018-07-30 13:39] picca commented on #202
Thanks, I just asked Sandor if he would like to prepare the Debian package.

Cheers

[2018-07-30 14:50] vxgmichel commented on #206
No problem! By the way anyone can make a release at any time, so feel free to do so if you need to ;)

[2018-07-30 14:50] #206 closed, assigned to nobody

[2018-08-01 08:03] picca opened #207 "WARNING: Block quote ends without a blank line"
Hello,

just a minor bug :)

/<<PKGBUILDDIR>>/doc/data_types.rst:57: WARNING: Block quote ends without a blank line; unexpected unindent.
looking for now-outdated files... none found

[2018-08-01 08:03] picca commented on #207
another one

/<<PKGBUILDDIR>>/doc/tep/tep-0002.rst:66: WARNING: undefined label: persistence (if the link has no caption the label must precede a section header)

[2018-08-01 08:05] picca opened #208 "RuntimeWarning: greenlet.greenlet size changed"
Hello is tis warning message means something for you ?

reading sources... [100%] utilities

/usr/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: greenlet.greenlet size changed, may indicate binary incompatibility. Expected 144, got 128
  return f(*args, **kwds)
/usr/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: greenlet.greenlet size changed, may indicate binary incompatib

[2018-08-01 10:54] vxgmichel commented on #208
Hi @picca,

I think it's related to [gevent/gevent#1260](https://github.com/gevent/gevent/issues/1260). Downgrading to greenlet 0.4.13 should fix it.

[2018-08-01 11:30] vxgmichel commented on #207
Thanks for the report!

I haven't been able to reproduce the second warning though, anything special about your setup?

[2018-08-01 11:38] picca commented on #207
here the build log

https://buildd.debian.org/status/fetch.php?pkg=pytango&arch=amd64&ver=9.2.4-2&stamp=1533071833&raw=0

[2018-08-01 11:53] vxgmichel commented on #207
Somehow, this warning is due to the absence of network connection. I'm not sure there is anything to fix here.

[2018-08-01 11:54] picca commented on #207
What is strange is that I do not have this message for python3.6 and python2.7

[2018-08-01 11:57] vxgmichel commented on #207
Weird. Anyway, I don't get anymore warnings building the docs. Can we close this isssue?

[2018-08-01 11:57] #207 closed, assigned to nobody

[2018-08-01 12:21] #208 closed, assigned to nobody

[2018-08-02 14:50] jkotan opened #210 "Expecting a sequence!"
When I try to call a tango command which takes as an argument a list of strings `dependentComponents(...)`
on debian 9 with python3.5 and pytango from the `develop` branch I get the following error

    Traceback (most recent call last):
      File "/home/jkotan/ndts/nexdatas.configserver/test/XMLConfiguratorTest.py", line 6458, in test_dependentComponents_man
	mdss = el.dependentComponents(css)

[2018-08-02 14:52] jkotan commented on #210
This problem appears only for python3. For python2 it works fine.

[2018-08-03 07:55] vxgmichel commented on #210
Hi @jkotan,

I could not reproduce your issue using the following server code:

[code]
Running the server:
[code]
Running the command:
[code]
So the issue is probably about the return value of the command.

Could you provide the command implementation?

[2018-08-03 08:06] jkotan commented on #210
Hi Vincent,

Many Thanks. Indeed.  I forgot to change `keys()` to a list.

[2018-08-03 08:06] #210 closed, assigned to nobody

[2018-09-05 11:47] jkotan opened #213 "python2 encoded attributes not readable in python3"
Hi,

I've just noticed problems in reading encoded attributes from a python2 server in python3 client. In my tests I use the following server:

[code]

I run it in python2.

In a python2 client everything works smoothly,

[code]

i.e. I get reading results in `(<str=bytes>, <str=bytes>)`

However when I try to do the same in a python3 client I get

[code]

i.e. the first reading result is in `(<st

[2018-09-05 12:19] jkotan commented on #213
Moreover, when I run the above server in python3 and run the client code in python2 it works fine.
But the python3 client with the python3 server fails. So the problem is on the python3 client side.

I use pytango 9.2.2 with debian stretch.

[2018-09-06 09:57] jkotan commented on #213
It looks like the problem is caused by bopy:str constructor at
https://github.com/tango-controls/pytango/blob/7cb7b30fdd6b4e8bc4c2b92326db526e19edc6f4/ext/device_attribute.cpp#L249
which encodes the data array with the default utf8 encoding.

Maybe it would be good to create `bytes` object instead of `str`.

[2018-09-06 12:22] vxgmichel commented on #213
@jkotan Good catch, thanks for the report.

I think you're right. I'll investigate.

[2018-09-06 12:42] grm84 commented on #213
Hi @vxgmichel
FYI The  pybind11 implementation only deals with bytes unless someone specifically asks for strings.

[2018-09-07 11:33] vxgmichel opened #215 "Propagating exception from C is broken in python 3"
Example (`test.py`):

[code]

Note: the problem does not occur if `1/0` is replaced with `raise ZeroDivisionError('bla')`

Using python 2:
[code]
[code]

Using python 3:
[code]
[code]

We also need tests against this kind of regression.

[2018-09-07 11:40] vxgmichel opened #216 "Writing of DevEncoded is flawed in python 3"
Example (`test.py`):
[code]
With python 2:
[code]
[code]
With python 3:
[code]
[code]
I'm very surprised that boost python doesn't know how to convert bytes to `char *`.

The tests need to be updated to take the writing of DevEncoded into account.

[2018-09-07 13:50] vxgmichel commented on #213
Fixed!

[2018-09-07 13:50] #213 closed, assigned to nobody

[2018-09-19 20:37] abdomit opened #217 "Missing methods in Documentation"
It seems that some methods are not present in the official documentation. I don't have an exhaustive list, just an example.

For instance LatestDeviceImpl.poll_command exists and works, but it not in the documentation (https://pytango.readthedocs.io/en/stable/server_api/device.html).

[2018-09-20 10:27] jairomoldes commented on #189
I was able to compile "stable" (9.2.4) and "develop" (9.2.5) with "please_debug = True" on a debian9 machine with no problems.

[2018-09-20 12:22] #189 closed, assigned to nobody

[2018-09-21 18:47] ldoyle opened #218 "Windows binaries download links"
It is currently very hard to find working installers for windows.
http://www.tango-controls.org/ website points to github.com
github.com Readme points to readthedocs
readthedocs.com points to PyPI
pypi.com does not show any binaries anymore

On the Forum, I was pointed to https://ci.appveyor.com/project/NexeyaSGara/pytango
Until august, there were binaries there, however due to Appveyor deleting t

[2018-09-26 16:50] jairomoldes commented on #89
This problem seems to be solved in 9.2.4
A build of pytango 9.2.4 over cpp tango 9.2.5 raises a DevFailed exception as expected.
I propose to close this issue

[2018-09-28 13:18] vxgmichel commented on #217
Thanks for the report!

`LatestDeviceImpl.poll_command` and `LatestDeviceImpl.poll_attribute` docstrings are missing from the `__doc_DeviceImpl` function:

https://github.com/tango-controls/pytango/blob/4b429e731841590783c86abafc41f93436017424/tango/device_server.py#L770

Here's an example of a documented method:

https://github.com/tango-controls/pytango/blob/4b429e731841590783c86abafc41f93436017

[2018-09-28 14:18] vxgmichel commented on #218
Thanks for the report!

In my opinion, the official place to get the windows binaries should be PyPI:
https://pypi.org/project/PyTango#files

However, there is no official window release for versions `>9.2.1` yet:
https://pypi.org/project/PyTango/9.2.1/#files

The builds for @NexeyaSGara are not official yet since PR #176 hasn't been merged. Once this work is done, we'll be able to build and relea

[2018-09-28 15:58] abdomit commented on #217
I tried to see which methods are not in the documentation. So I looked at methods without .\_\_doc\_\_ in PyTango (9.2.4).

init_device is the only one that doesn't have the .\_\_doc\_\_ but is nevertheless in the documentation (I don't fully understand why...).

The missing methods in the documentation seem to be:

tango.Device_5Impl
-
get_attribute_config
get_attribute_config_2
get_attribute_con

[2018-09-28 16:41] piogor commented on #217
Hi, I (@piogor) may take care of this as part of documentation service. Just need to be added to repo as developer.

[2018-10-02 11:50] ldoyle commented on #218
Has there been any work done already in the direction of conda/pip packages?
I'm not an expert, but for me the best solution would seem a pip wheel distribution, if no one has looked into this I could give it a try. (If I understand correctly, this will allow us to go back to the simple "pip install pytango" in most environments.)

Depending on how long you think #176 will take to be completed I s

[2018-10-05 00:41] liujin001 opened #222 "Exception in push_event() on windows"
When i test pytango-9.2.4/examples/interfacechangeEvents/IfchangeClient.py and IfchangeServer.py on Windows 10 + python-3.7.0(with pytango-9.2.4 installed), IfchangeClient.py will throw a exception (throw by `print("Timestamp:      ", ev.reception_date`):
[code]

but with pytango-9.2.4 on CentOS 7, there is no exception.

this bug seemly is python37's bug only on Windows as this say:  https://gith

[2018-10-16 07:24] jkotan opened #223 "Catching classes that do not inherit from BaseException is not allowed python3"
Hi,

It looks like pytango exception does not inherent from BaseException which is not allowed in python3, e.g.

[code]

gives:

[code]
while
[code]
works fine.

It may be related to #215

[2018-10-16 09:08] vxgmichel commented on #223
Hi @jkotan,

Well, it doesn't really make sense to catch a non-exception, since it is not possible to raise a non-exception:
[code]
So my suggestion is to simply use:

[code]

[2018-10-16 09:29] jkotan commented on #223
Thanks. It works.

[2018-10-16 09:29] #223 closed, assigned to nobody

[2018-10-17 11:11] sdebionne opened #224 "AttributeProxy.poll() throws ArgumentError"
With Python 2.7.15 (on Windows)

[code]

[code]

[2018-10-17 11:19] sdebionne commented on #224
My bad, poll take a `period` argument. Maybe the doc could mention the actual parameters rather than `(*args, **kwds)`?

[2018-10-17 11:19] #224 closed, assigned to nobody

[2018-10-25 09:41] sdebionne commented on #216
Just for the records, I am linking a couple of threads discussing the conversion of char* in Boost.Python for Python 3:
https://github.com/boostorg/python/issues/85
https://github.com/boostorg/python/issues/95

and this PR:
https://github.com/boostorg/python/pull/54

[2018-10-26 10:02] vxgmichel commented on #216
Fixed! (#226)

[2018-10-26 10:02] #216 closed, assigned to nobody

[2018-10-26 10:02] vxgmichel commented on #215
Fixed! (PR #225)

[2018-10-26 10:02] #215 closed, assigned to nobody

[2018-10-27 10:01] jyotinpo commented on #10
Hi Tiago,

Tried using the Forwarded Attribute feature in PyTango 9.2.4. However, I am facing issue with it. Details are posted in the Forum post:

http://www.tango-controls.org/community/forum/c/development/python/forwarded-attributes-in-python/

Can you please look into this issue and guide further?

Regards,
Jyotin

[2018-10-29 13:21] jkotan commented on #159
Hi @vxgmichel  and @reszelaz ,

Is this but fixed? I get it by running my tests with py3. I use debian9 with tango-9.2.5a and pytango-9.2.5.dev0

I can easily reproduce for py2 and py3 it with the following server:
[code]

The following test

[code]

gives

    Traceback (most recent call last):
      File "lrun.py", line 5, in <module>
	dl2 = dp.DoorList
      File "/home/jkotan/testinst/lib/pyth

[2018-10-29 13:54] jkotan commented on #159
It looks like the following patch fixes my server

[code]

[2018-10-29 17:58] jkotan opened #228 "Better documentation for exceptions and error access"
Hi,

in my python3 tests in the code

[code]
I get randomly the following error:

[code]
It does not occur for python2. For tests I use debian 9 python `tango-9.2.5a` and the current develop branch of pytango (9.2.5).

Does it mean that the `errors` attribute is dynamic and I have to check its existence. In the documentation it is written that is has always two levels.

[2018-10-30 13:23] vxgmichel commented on #228
Hi @jkotan,

I don't think this code works with python 2 either. Accessing the `DevError` objects is done either using `exception[i]` in python 2 or `exception.args[i]` in python 2 and 3. The documentation does not make that clear though.

Also, if you think errors should be accessed through an `errors` attribute (which would make sense), feel free to create a feature request.

[2018-10-30 13:42] vxgmichel opened #229 "Writing an empty list of string produces a None value"
Following up on issue #159.

Consider the following device:
[code]
running with:
[code]
and the following itango client:
[code]
This line gets printed on the server side:

    Writing None

It should be:

    Writing []

The `None` value is likely to be produced here:

https://github.com/tango-controls/pytango/blob/8f022299bc6aa4d309317f9a8472a71c3e6fee0f/ext/server/wattribute.cpp#L623-L631

Altho

[2018-10-30 13:46] vxgmichel commented on #159
Hi all,

The reason why I couldn't reproduce the issue in the first place is because I used an array of float instead of an array of string. Sorry about that, I created a new dedicated issue for more clarity: #229.

[2018-10-30 13:46] #159 closed, assigned to nobody

[2018-10-30 13:52] jkotan commented on #228
For `excepion[i]` I got the same errors. I have switched to `.errors` because I've seen  it at

https://github.com/tango-controls/pytango/blob/8f022299bc6aa4d309317f9a8472a71c3e6fee0f/tango/utils.py#L1430

Is that also incorrect?

[2018-10-30 13:53] vxgmichel opened #230 "Reading an empty list returns a None value"
Following up on #159, might be related to #229.

Consider the following device:
[code]
Running with:
[code]
and the following itango client:
[code]
The last line should have been:
[code]

I suspect the problem to be on the client side, although it has to be investigated. Help would be greatly appreciated.

[2018-10-30 13:53] vxgmichel commented on #159
I also created the related issue: #230

[2018-10-30 13:56] jkotan commented on #228
But .. Thanks. I will try with args.

[2018-10-30 13:59] vxgmichel commented on #228
Yea I think it is some c++ api legacy. Or maybe `.errors` used to be supported. I'm not entirely sure, this code is quite old. Good catch though.

[2018-10-30 19:35] jkotan commented on #228
Indeed,  `args` works for me. But it would be good to mention it explicitly in the documentation

[2018-10-31 12:55] vxgmichel commented on #10
Hi @jyotinpo,

Could you create a new issue [here](https://github.com/tango-controls/pytango/issues/new)?

Thanks for the report!

[2018-10-31 13:24] jyotinpo opened #231 "Unable to create Forwarded attributes in Python 9.2.4"
Hi @grm84,

I am exploring forwarded attributes feature in PyTango 9.2.4. 

As per [documentation](https://tango-controls.readthedocs.io/en/latest/development/device-api/forwarded-attribute.html), if `__root_attr` attribute property is not specified, the attribute is not created by the Tango kernel and is therefore not visible for the external world. The state of the device to which the forwarded

[2018-10-31 13:28] jyotinpo commented on #10
Hi @vxgmichel,

Thanks for replying.
Created new issue (https://github.com/tango-controls/pytango/issues/231) on GitHub for this problem.

[2018-10-31 13:50] vxgmichel commented on #231
I also noticed that we don't have tests for forwarded attributes. This should be addressed too.

[2018-11-05 08:49] grm84 commented on #231
Hi @jyotinpo

Your server will run if you change the forward attribute definition to:
`    FwdAttr2 = attribute(name="FwdAttr2", label="FwdAttr2", forwarded=True)
`
The attribute name field is required.
Regards, Geoff.

[2018-11-05 09:36] vxgmichel commented on #231
Thanks @grm84,

The related PR should include tests and some extra checks to raise more meaningful exceptions.

[2018-11-09 14:22] spierrejoz opened #233 "error put_property with a dict from a get_property"
Hello,
One python dev tried to do a put_property with as argument a dictionary coming from the get_property method, but it doesn’t work as you can see in the following example.
But if we call a put_property with a dictionary created in the program itself, it works.

[code]
Regards,
Sandra PIERRE-JOSEPH ZEPHIR

[2018-11-12 09:53] jyotinpo commented on #231
Thanks, @grm84 and @vxgmichel !
Adding the attribute name field **resolved** the issue. This means that Pogo generator should be modified to generate the attribute name field automatically during code generation. Shall I raise a GitHub issue requesting this change?

**One observation:**
Let's say that during my device initialization, the root attribute device is not started due to which my forward

[2018-11-15 21:34] jkotan opened #234 "Can't get class pipe properties for class"
Adding pipe
[code]
to device and run it in the test framework:
[code]
gives
[code]
The problem  disappear when the pipe test is commented.

Probably, it is related to https://github.com/tango-controls/cppTango/issues/300 .

Is there any workaround to test servers with pipes without creating standard DB?

Are tango servers with pipes tested in pytango?
(I haven't seen any test related to it in `pyt

[2018-11-20 10:54] PhilLAL opened #235 "pytango depedencies"
Hi,
in README.rst is listed dependencies, but [libtango](http://www.tango-controls.org/downloads/source/) url is wrong.

[2018-11-22 13:08] laurent-claustre commented on #235
Hi Phil,
Vincent Michel told me you will be at ESRF tomorrow?
We can meet if you want.  I would like to propose you to test installing Conda packages on your system.
Regards,

Laurent

[2018-11-26 14:25] ajoubertza opened #238 "Release 9.2.5"
I'm going to be releasing v9.2.5 after a request from @vxgmichel, for ESRF.  I'm doing it instead of him as a chance for me to learn.  It includes some fixes/improvements for gevent, Python 3, documentation, and DevEnum handling.

Task list:
- [x] Read steps in the how-to-contribute docs for making a release
- [x] Edit the changelog
- [x] Bump the version
- [x] Merge develop into stable
- [x] Make

[2018-11-28 12:50] ajoubertza commented on #238
Uploaded new release to PyPI.
The readthedocs builds for develop (latest) and stable branches have been done, but the v9.2.5 tag doesn't show up yet, so those haven't been built.

[2018-11-28 13:04] ajoubertza commented on #238
Can some from ESRF please build the Conda packages for this release?

[2018-11-28 14:01] vxgmichel commented on #238
I'm on it!

[2018-11-28 15:04] vxgmichel commented on #238
Done! https://anaconda.org/tango-controls/pytango/files?version=9.2.5

[2018-11-28 15:37] ajoubertza commented on #238
Release is done.

[2018-11-28 15:37] #238 closed, assigned to nobody

[2018-11-28 15:42] vxgmichel commented on #238
Great work, thanks a lot! :smiley:

[2018-11-28 15:52] vxgmichel opened #241 "Some tests fail sporadically"
Some tests fail sporadically.

Let's list those occurences so we have a better understanding of what's going on:

- `test_read_attribute[Gevent-long_image_ro]` - [Job #381.3](https://travis-ci.org/tango-controls/pytango/jobs/460831980)
[code]

[2018-11-29 15:58] ajoubertza commented on #241
Another failure.  [Job #382.2](https://travis-ci.org/tango-controls/pytango/jobs/461322998) (Python 3.5)

[code]

[2018-11-30 15:58] mrosanes opened #243 "Symbol % is not accepted in debug_stream logging"
[ReportDS.txt](https://github.com/tango-controls/pytango/files/2634013/ReportDS.txt)

Symbol % is not accepted in PyTango self.debug_stream and self.error_stream for logging.
Currently we have designed a DS in order to logging errors with PyTango logger and be able to see the errors with the logviewer.
We have found out that % symbol is not accepted in the log messages, however in python is accept

[2018-11-30 16:41] vxgmichel commented on #243
Those strings are formatted using the percent syntax, so you have to [escape the percent sign](https://stackoverflow.com/questions/10678229/how-can-i-selectively-escape-percent-in-python-strings):
[code]
Alternatively you can use the python3 print function:
[code]

[2018-12-03 14:41] mrosanes commented on #243
Thanks Vincent Michel, after replacing '%' by '%%' it works correctly.

[2018-12-03 16:06] #243 closed, assigned to nobody

[2018-12-05 09:44] jkotan opened #244 "[python 2.7] ImportError: No module named mock"
When I try to build documentation on python2.7 I get the following error:
[code]
The following patch
[code]

fixes the issue and it is compatible with py2.7 and py > 3.3 (i.e. #203 )

[2018-12-05 13:27] vxgmichel commented on #244
Hi @jkotan,

Python >= 3.5 is [a requirement](https://github.com/tango-controls/pytango/blob/ef4b465b71106beaec38c90db2dadee1fa3701dd/doc/mock_tango_extension.py#L22-L23) for building the documentation. I guess we should add an extra check for that:

[code]

[2018-12-06 17:48] alainbuteau commented on #233
Raynald
I assign the ticket to you as I do not clearly know who will do the jobs

[2018-12-07 14:07] bourtemb commented on #233
Dear @alainbuteau ,
I will unassign this ticket since I am sure I won't do this job and it could be confusing because some people might think I am actually taking care of it...
I let the PyTango team manage their issues the way they are used to.
When looking at the other PyTango issues, I can see none of them is actually assigned so I guess this is done on purpose.
If you want to raise the priorit

[2018-12-07 14:52] vxgmichel commented on #233
@alainbuteau @spierrejoz

This issue has been [fixed](https://github.com/tango-controls/pytango/pull/27/commits/ed0bf9096674b4d3f8601db7b7323c8381cf641b) in version [9.2.0](https://github.com/tango-controls/pytango/commit/62e0b32e2ee63d78c1e6147898ae6f6dad499f73).

Also, pytango 8 is not maintained anymore. Please upgrade to pytango [9.2.5](https://github.com/tango-controls/pytango/releases/tag/v9

[2018-12-07 14:52] #233 closed, assigned to nobody

[2018-12-14 09:05] tiagocoutinho opened #246 "Event tests fail on machines without a permanent IP address"
Some distributions like Debian create an extra entry in `/etc/hosts` on systems without a permanent IP address as a workaround for some software (e.g., GNOME). The `/etc/hosts` looks like this:
[code]
This is really improper because system hostnames and domain names are two very different things; but there you have it.

Currently, pytango tests retrieve this <host_name> and try to use it when buil

[2018-12-14 09:44] vxgmichel commented on #246
Hi @tiagocoutinho !

See #245 for a discussion about the failing tests.

[2018-12-14 13:39] tiagocoutinho opened #248 "Exception in init_device() blocks server"
If an exception is thrown in `init_device()` the server is blocked.
A Ctrl-C to stop it generates a segmentation fault.

Used:
* python 2.7
* pytango 9.2.6
* tango C++ 9.2.5 & 9.3.2

[2018-12-14 19:16] tiagocoutinho commented on #248
Seems to come from the C++ level.
I posted an issue [#506](https://github.com/tango-controls/cppTango/issues/506) there.

[2019-01-25 12:35] mguijarr opened #251 "Python 2 vs Python 3: DevString with bytes"
Hi all,

I noticed an intriguing behavior of PyTango running within a Python 3 environment.

### Scenario

An old, existing C++ server to control a RS232 serial line. The server has a `DevSerReadString`
method to read chars from the serial line ; Tango output data type is `DevString`.
The equipment connected to the serial line sends binary data.

### Problem

When calling the command from a Python

[2019-01-28 10:11] jyotinpo commented on #107
Hi @vxgmichel, @andygotz,

Today I upgraded/installed PyTango 9.2.5 on Ubuntu 16.04 with for Python2/Python3 respectively. I got the same error (AttributeError: get_outputs) which @andygotz reported. I assumed that it shall be resolved in PyTango 9.2.5 but it is still appearing. However, the import is working fine with the updated PyTango version (9.2.5) and hence, I am ignoring the error.

Kind r

[2019-01-29 13:49] AntoineDupre commented on #251
Hi Matias,

Tanks for the report, I feel that you have raised some inconsistencies issues in PyTango
I run some extra test and here is my report:

## Test report

### Command arg_out
I run your example with Python3 Server and a Python3 client and it's working well.
[code]

Python2 server with python2 client is working fine.
Python3 server with pyhon3 client is working fine
As you pointed it, the i

[2019-01-30 09:49] mguijarr commented on #251
@AntoineDupre Thanks a lot for the detailed explanation and for the time you took writing all this !

I agree with your conclusion.

At the moment this is not a blocking issue for us, since we can use direct connection to the serial
line I was talking about -- but it is certainly something to fix in PyTango so let's see if someone takes
the issue.

[2019-01-30 20:12] ajoubertza commented on #251
@AntoineDupre Great investigation and report back - thanks!  I started looked at it, but got a bit lost in all the boost/C++ wrapper magic.  I agree with you conclusion too.  The most urgent change is raising an error if the decoding fails.

It would be nice to have automated tests that validate the interaction between different Python versions like this - at least 2.7 and 3.7, but that seems tric

[2019-01-31 10:18] mguijarr commented on #251
@ajoubertza , @AntoineDupre
About boost and C++: are you aware of a pybind11 binding for PyTango ? It is written/currently being written by @grm84 but I have no news about it, I don't know the state. For the future...

[2019-01-31 11:23] grm84 commented on #251
@mguijarr, @ajoubertza , @AntoineDupre
Sorry, There's been little progress on pybind11, since the last Tango meeting, due to other work commitments. I hope this will be completed in the future.

[2019-01-31 16:47] tiagocoutinho commented on #251
Hi all,
Sorry to join in so late.

First, I don't see how *DevSerReadString* could work for binary data. I think you should use *DevSerReadChar*. If you use *DevSerReadString* to get binary data, if PyTango was working as it should, you risk having exceptions randomly depending if the characters you receive from the serial line fit or not the range 0-127.

Now, some facts first to see if I get thi

[2019-01-31 17:27] vxgmichel commented on #251
There is no such thing as an invalid latin-1 bytestring :)
[code]
However, most unicode code points are not included in latin-1:
[code]

Sounds good otherwise!

[2019-02-01 06:04] andygotz commented on #251
Hi,
thanks to all (Anton, Tiago, Vincent) who have commented on this issue. I am not sure there is a problem following Tiago's comments. I propose we take a look at this issue during the kernel meeting next week.

I fully agree with Tiago that any client trying to read binary data from the serial device server MUST use the DevSeReadrChar command. Using strings will cause the first null character t

[2019-02-01 10:11] mguijarr commented on #251
It's the all-star game @AntoineDupre @ajoubertza @tiagocoutinho @vxgmichel @andygotz :smile:

So, I checked more carefully the calls that we make today to the serial device server I was talking
about first:

* `DevSerReadLine()`
* `DevSerReadNChar()`
* `DevSerReadRaw()`

According to the documentation [here](http://www.esrf.eu/computing/cs/tango/tango_doc/ds_doc/tango-ds/Communication/SerialLine/)

[2019-02-01 14:42] tiagocoutinho commented on #251
You are right of course @vxgmichel! Always mess latin-1 with UTF-7 (don't ask me why :-).

@mguijarr, I agree there is a bug in PyTango. Both you and the complete @AntoineDupre analysis make absolute sense.
I made a mistake saying you probably run into trouble with *DevSerReadString*. Even if the binary data has '\0' in the middle it should work since the corba string is like a C++ string. It cont

[2019-02-04 16:17] hardion commented on #244
I can make a quick PR to limit python version.

[2019-02-05 16:09] sergirubio opened #253 "READ_WRITE attributes appear as WT_UNKNOWN in PyTango"
When you look for TangoTest device on Jive; attributes appear as READ_WRITE

But, when asking the AttrWriteType from PyTango, they appear as WT_UNKNOWN

[2019-02-05 16:19] sergirubio commented on #253
In [1]: import tango

In [2]: dp = tango.DeviceProxy('sys/tg_test/1')

In [3]: ac = dp.get_attribute_config('boolean_scalar')

In [4]: ac.writable
Out[4]: tango._tango.AttrWriteType.WT_UNKNOWN

In [5]:

[2019-02-06 14:21] tiagocoutinho opened #255 "Prepare 9.3.0"
This is to inform the community that 9.3.0 is being prepared

- [x] Read steps in the how-to-contribute docs for making a release
- [x] Edit the changelog
- [x] Bump the version
- [x] Update `.travis.yml` with a conda package using a final cppTango 9.3.x release
- [x] Merge develop into stable
- [x] Make sure Travis is OK on stable branch
- [x] Make sure the documentation is updated (readthedocs)

[2019-02-11 08:04] dmiego opened #256 "Question about dynamic commands"
Hello.

I have a device with many modules in it and the command that reads data from them looks like:
`"r{}{}\r\n".format(str(module_number).zfill(2), var_name)`, where var_name can be ISet, VSet, IMon or VMon.

I don't know which modules will be used next time, so I try to make the DS flexible and do module scanning in init_device() method and get list of present modules.

So my question is:
can

[2019-02-12 13:19] dmiego commented on #256
Also I can't enable polling for dynamically created command, even without requirements, listed in previous comment.

[code]

![image](https://user-images.githubusercontent.com/13482645/52637630-d0ac1000-2ee0-11e9-8617-81457da89375.png)

[2019-02-12 17:03] tiagocoutinho commented on #253
Hi @sergirubio,

is it fixed? can it be closed?

[2019-02-12 17:04] tiagocoutinho commented on #248
Seems to come from libtango C++ on some linux versions.

I will close it here

[2019-02-12 17:05] #248 closed, assigned to nobody

[2019-02-12 17:07] #235 closed, assigned to nobody

[2019-02-12 19:00] ajoubertza commented on #253
Fixed in #254

[2019-02-12 19:00] #253 closed, assigned to nobody

[2019-02-13 15:44] jkotan opened #259 "TRANSIENT_CallTimedout and unidentifiable C++ exception with multiprocessing"
Hi,

I would like to ask if PyTango pretends to work with `Process`'es from multiprocessing?

If I write a simple stress test with `Process`
[code]
with the following test server:
[code]
I get a lot of errors of type:
[code]
Moreover if I comment
[code]
in the above test script I get other random errors
[code]
Futhermore, if I comment both
[code]
the script runs without any error.
I've performed m

[2019-02-13 16:35] andygotz commented on #259
Hi Jan,

this sounds like a very interesting use case viz. multiprocessing with PyTango.  It seems like there is some shared state with the main thread if you create the DeviceProxy in the main thread. But I couldn't say if this is in the Python or C++ part. We will have to get an expert to confirm this.

The good news is that the script runs when you delegate the DeviceProxy to the worker process

[2019-02-13 18:22] jkotan commented on #259
Hi Andy,

Yes, when I put all my `DeviceProxy/Database` objects to separate `Process`'es I do not get any error.

Cheers,
Jan

[2019-02-13 19:41] ajoubertza commented on #256
Hi @Diego91RA

That's an interesting problem.  I'm not sure if you can do it with PyTango directly, but you can do it by using some Python tricks to dynamically create the class at runtime.  We do this in [tango-simlib](https://github.com/ska-sa/tango-simlib) which creates a device server using the attributes and commands defined in a config file.  For each command and attribute "actions" can be d

[2019-02-14 13:55] jkotan commented on #259
Indeed, it comes from c++.

[2019-02-14 18:04] tiagocoutinho commented on #259
@jkotan,
The python *multiprocessing.Process* does a simple `fork()` behind the scenes.
This means your child process will inherit the context from your parent process.
And this includes open file descriptors, the TANGO and the CORBA state.

I don't think TANGO/CORBA are prepared to handle forking (maybe the libtango C++ experts can expand on this)

Therefore, be careful when using *multiprocessin

[2019-02-16 03:18] ajoubertza commented on #259
I'm closing this issue - it has been explained and nothing to be done in PyTango.

[2019-02-16 03:18] #259 closed, assigned to nobody

[2019-02-18 18:30] jkotan commented on #259
Hi @ajoubertza, in order to cure the problem one can add `ApiUtil.cleanup()`, see #260.

[2019-02-19 08:59] dmiego commented on #256
Hi @ajoubertza.
Thanks for examples, it helped me figuring out how it works. So I tried to edit PyTango code and here are the changes that I made. (actually I've edited source in `site-packages` folder, but it doesn't matter)
https://github.com/Diego91RA/pytango/commit/6daa18af9ef262a5d6fb74db862159d8c92814f0
I don't know if it fits Tango style or safety rules, but it works :)

And here is the exa

[2019-02-20 13:09] bourtemb commented on #256
Thanks for the bug report @Diego91RA .
I created https://github.com/tango-controls/cppTango/issues/538 to keep track of this bug.
In the mean time, you could try adding the command with device_level set to False:
[code]
Of course this will not help you if you have instances of your device server exporting several devices and if you require different dynamic commands for the different devices from

[2019-02-21 14:13] jairomoldes commented on #89
Problem seems solved.

[2019-02-21 14:13] #89 closed

[2019-02-22 10:40] tiagocoutinho commented on #256
Seems to come from C++. Is it ok to close it here?

[2019-02-22 10:44] dmiego commented on #256
Hi Tiago.
Polling works fine with "False" for `device_level`, so my problem solved.
I think the issue can be closed.

[2019-02-22 10:44] #256 closed, assigned to nobody

[2019-02-22 13:00] tiagocoutinho commented on #244
That would be great @hardion!

[2019-02-22 19:56] tiagocoutinho commented on #251
I have assigned the bug to me.

Here are my findings so far:

server side | py2 | py3
--------------|------|------
cmd() -> DevString: return bytes | OK | OK
cmd() -> DevString: return unicode | ERR | ERR
cmd(DevString) | OK | ERR
read DevString: return bytes | OK | OK
read DevString: return unicode | OK | OK
write DevString | OK | ERR

client side | py2 | py3
--------------|------|------
cmd() ->

[2019-02-23 16:35] #246 closed, assigned to tiagocoutinho

[2019-02-24 19:39] jkotan commented on #168
cannot reproduce anymore

[2019-02-24 19:39] #168 closed, assigned to nobody

[2019-02-27 15:27] jkotan opened #264 "push_change_event with EncodedAttribute"
Hello,

is it possible to push `change_event` with attribute created by `EncodedAttribute`?
It would be nice to have possibility like:

[code]
but the with the above code I get
[code]

Moveover it looks like it is not supported decoding this attribute received in CallBack method because
DeviceAttribute argument of decoding methods must have been obtained from a call which doesn't extract the conte

[2019-03-13 10:31] #251 closed, assigned to tiagocoutinho

[2019-03-13 14:41] ajoubertza commented on #255
@tiagocoutinho I don't see a final version of cppTango 9.3.x on [conda](https://anaconda.org/tango-controls/tango/files), but it is ticked off the list?

[2019-03-13 15:03] tiagocoutinho commented on #255
We can ask the C++ team but I think 9.3.2alpha.1 is as good as we are going to have.
Future lib C++ 9.3.x must be ABI and API compatible so it should be ok for us.

[2019-03-13 15:19] bourtemb commented on #255
Hi,

9.3.2alpha1 distrib is using cppTango 9.3.2.
You can refer to this [CHANGELOG file ](https://github.com/tango-controls/cppTango/blob/e84256df28f750fcaa26d41c7eceac9a5da968eb/CHANGELOG.md ) from tango-controls/cppTango#519 PR which will be merged just before the release, if you want to see the differences between cppTango 9.3.2 and cppTango 9.3.3.

[2019-03-13 18:45] ajoubertza commented on #255
The major and minor version numbers for PyTango are supposed to follow the cppTango version.  At least that's what the [docs](https://github.com/tango-controls/pytango/blob/develop/doc/how-to-contribute.rst) say.  If we release PyTango 9.3.0, but there is no official 9.3.x release of cppTango that might be confusing for users.  Up to now cppTango only has "pre-release" versions at 9.3.x.

Do you t

[2019-03-14 08:59] bourtemb commented on #255
I think we could already do a new cppTango 9.3.3 pre-release (just need to merge the CHANGELOG Pull Request).
We will install it in our control system at the ESRF and other institutes could test it too.
If there is no major bug found in the following weeks, we could flag it as stable release at that time.

[2019-03-14 09:09] tiagocoutinho commented on #255
Thanks for clarifying @bourtemb!
Tango 9.3.2alpha comes inside with libtango 9.3.2. Since PyTango depends on libtango and not the entire tango package,I think we can go ahead and build a PyTango 9.3.0.

This makes me wonder @bourtemb : tango c++ conda package is kind of a hybrid: it contains libtango and docs but not the java tools. Should the tango c++ conda package version follow the tango packa

[2019-03-14 09:12] bourtemb commented on #255
According to your description, this Tango C++ conda package is linked to the C++ libtango version.
So I think it would make sense for it to follow the cppTango version.

[2019-03-14 18:58] ajoubertza commented on #255
OK, then lets go ahead with this 9.3.0 release.

[2019-03-15 12:12] reszelaz opened #266 "How to use database ds with sqlite3?"
Hi PyTango experts!

I was trying to use the Tango database with sqlite3 both with python2 and python3.

I try to launch the database ds with the following command:

[code]
For python2 I must patch this to overcome this error:
[code]

Then the server hangs on "Initializing database...":
[code]

I added these prints which points to some problem with `concurrent.future.ThreadPoolExecutor`. When I do

[2019-03-19 20:13] ajoubertza commented on #266
Hi @reszelaz

I haven't used this database server before, so might not be much help.  I also don't know of the quality or usefulness of this Python-based database server.  It doesn't seem to be actively maintained.

Before I could run your commands above, I also had to pip install `futures` and `gevent`.  After that, I got the same symptoms you do.

One step forward is to get a copy of a database,

[2019-03-20 11:07] dnaudet opened #268 "python 3, pytango 9.3 : client.Object, UnicodeDecodeError"
Hi PyTango,

we've run into some problem when using PyTango's client.Object and Server with python 3 (pytango 9.3 installed from the tango conda repo).

For instance, when I try the dynamic_server and dynamic_client examples (found on this git), attributes work fine, but as soon as I try to call a function, here's what I get:
- it works fine when both client and server are running with python 2
-

[2019-03-21 14:04] tiagocoutinho commented on #268
Hi @dnaudet,
This looks like a side effect of a critical bug fix on the latest PyTango 9.3.
Thanks for the report. I will check ASAP.

[2019-03-21 15:30] reszelaz commented on #266
Thanks @ajoubertza for the hint!

I think it should be pretty usable. At least in the bliss project they run this code in an [embedded mode](https://gitlab.esrf.fr/bliss/bliss/blob/master/bliss/tango/servers/databaseds.py).

I think the problem could come from the use of `concurrent.futures.ThreadPoolExecutor`. I saw that the databaseds is run with `green_mode=GreenMode.Gevent`. I totally don't kn

[2019-03-25 09:17] dnaudet commented on #268
thanks @tiagocoutinho! BTW, I think the problem was already there a few months ago, so it's not just a regression from 9.3, if that's what you meant.
Cheers.

[2019-03-26 18:40] ajoubertza commented on #255
@tiagocoutinho Thanks for the work so far. When will you complete the final steps?  I notice the following
- on readthedocs "latest" still points to 9.2.5 instead of 9.3.0
- there are lots of files that still refer to the next release as 9.2.6 or 9.2.7 instead 9.3.0 or 9.3.1 - see all the changes that were made in PR #240.  Those files should be updated to reduce confusion.

[2019-03-28 07:27] tiagocoutinho commented on #255
Good catch. I just triggered the build. It should be ok now

you are right. I missed the README and 3 files in the doc. This is not critical but I agree it can lead to confusion. Since I deployed already on Pypi there is nothing I can do for 9.3.0.

I propose we start using something like [bumpversion](https://github.com/peritus/bumpversion) to automatize a this process. It is quite boring and err

[2019-03-28 07:36] ajoubertza commented on #255
Yes, bumpversion could work - good to automate things.  Please still make a PR to update the versions.  I understand 9.3.0 is already released and will stay as is.

[2019-04-03 08:04] cmft opened #269 "Set required six version in setup file"
PyTango uses at least `six.ensure_binary` method  that is not able in all six version (since it was added in 1.12.0). The necessary six version should be specified e.g. in the setup file.

[code]

[2019-04-04 05:59] ajoubertza commented on #269
Thanks @cmft - I will update the setup file.

[2019-04-04 13:06] cmft opened #271 "AttributeError: 'DeviceAttribute' object has no attribute 'value' for zero length arrays"
With PyTango 9.3.0 some `deviceattribute` do not have `value` and `w_value` attributes.
this does not happened at least in v9.2.0.

You can reproduce the error:
[code]
With PyTango 9.2.0 you got `None`

[2019-04-05 19:17] ajoubertza commented on #269
Fixed in #270.

[2019-04-05 19:17] #269 closed, assigned to nobody

[2019-04-08 09:36] sergirubio commented on #271
For me it is a bug; even if attributes have no value, the returned struct should be consistent

[2019-04-08 12:27] claudio-scafuri opened #272 "pytango-9.3.0 / python 2.7: six.ensure_binary non available with six 1.11.0"

[2019-04-08 12:30] claudio-scafuri commented on #272
on ubuntu 18.04 with six 1.11.0 method six.ensure_binary() is not available.
(availablerom 1.12.0 and later?)

[2019-04-08 12:30] claudio-scafuri commented on #272
correcet : pytango-9.3.0 !!

[2019-04-08 19:00] ajoubertza commented on #272
@claudio-scafuri Thanks for the report.  You are correct.  This was raised in issue #269 and fixed in PR #270.  You will have to install a newer version of six.

[2019-04-08 19:00] #272 closed, assigned to nobody

[2019-04-08 20:04] ajoubertza commented on #271
@cmft I cannot reproduce this.  I tried with PyTango 9.3.0 on libtango 9.2.5 (under Python 2.7), and again with libtango 9.3.2alpha1 (under Python 3.6.8).  In this case I was testing on a Docker container, based on Ubuntu Trusty.

[code]

PyTango recompiled from source inside a conda environment, similar to the PyTango unit tests:
[code]

[2019-04-09 09:12] cmft commented on #271
Hi @AntoineDupre ,
It happens with any attribute that has not been initialized any time.
The expected values (base on Tango 9.2.5, PyTango 9.2.0 test and python2.7):
[code]
Reading from Jive you should get:
[code]
If you had initialized the attribute, the only way to reproduce the error is setting its dim to `0` e.g.  for  sys/tg_test/1/short_spectrum write value `[]`  from jive (I do not why).

W

[2019-04-09 09:24] cmft commented on #271
I got the same error using the tango python3 version

[2019-04-09 20:43] ajoubertza commented on #271
@cmft OK, I see.  So the problem is for spectrum and image type attributes that have a dimension of zero.

Sorry, my docker image isn't public, but I can reproduce that result if I first write an empty array to the attribute.  Interestingly, if I combine PyTango 9.3.0 code with Tango 9.2.5, it works ok - this suggests a change in libtango is causing this.  See example below:

Failure:
[code]

Work

[2019-04-10 07:30] cmft commented on #271
Hi @ajoubertza ,
I saw the problem also testing sardana with not spectrum values. It is more difficult to testing for you; since you need to create a Pool and MS; and provisioning elements e.g. running sar_demo macro from spock; but you will see the problem

[2019-04-10 08:50] cmft commented on #271
Sorry to introduce noise, the affected attributes are arrays

[2019-04-10 14:51] jairomoldes commented on #271
A change introduce in cpp tango 9.3.3 is causing pytango to fail to detecting that the attribute is empty.
The DeviceAttribute.is_empty() function has been changed and now it returns a different value. This was introduced in cpp tango:
https://github.com/tango-controls/cppTango/pull/393

This pull request solves the problem:
https://github.com/tango-controls/pytango/pull/273

[2019-04-11 12:04] #271 closed, assigned to nobody

[2019-04-24 07:11] mliszcz opened #275 "Required numpy >= 1.1 version is not enough?"
Hi!

Looks like you cannot use pipes with spectrum data elements with numpy < 1.16, e.g.:
[code]

At client side I'm getting:
[code]

At server side the control reaches `bopy::call_method<void>(dev, "read_BenchmarkPipe", pipe)`:
https://github.com/tango-controls/pytango/blob/9cf78c517c9cdc1081ff6d080a9646a740cc1d36/ext/server/pipe.cpp#L70
The control never returns from this function. I decided not

[2019-05-03 12:45] mguijarr opened #276 "Windows Conda package"
Hi,

There is no Conda package for Windows on tango-controls Conda channel.

Would be great to have one.

Thanks in advance !

[2019-05-03 12:57] andygotz commented on #276
Which version are you looking for? I thought there was a Conda package for 9.2.5.
For 9.3.3 (the latest version) I let the PyTango experts answer you. AFAIK this is either aavailable (somewhere) or only needs a small effort.

[2019-05-03 13:06] ajoubertza commented on #276
There are Conda packages for 9.2.5 and 9.3.0, but these are only for Linux.  I've no idea if it would be easy to make for Windows.  We don't have cppTango Conda packages for Windows either, which may be required...
Agree that it would be useful though.  There's still a long-open issue (#176) for making Windows builds of PyTango (outside of Conda).

https://anaconda.org/tango-controls/pytango/files

[2019-05-03 13:30] andygotz commented on #276
@NexeyaSGara and @izadworny can you two comment on this as PyTango Windows experts?

[2019-05-03 13:37] tiagocoutinho commented on #276
Hi,
So far there as never been a PyTango for Windows conda package.
I have made a preliminary PyTango 9.3.1dev0 for windows available on [pypi](https://pypi.org/project/pytango/9.3.1.dev0/#files) (it is missing python 2.7 64bits because of VS9 availability). Don't know if it helps.

I also agree it could be useful. You are not the first to ask :-). I can have a try and how it goes.
I keep you info

[2019-05-04 06:24] ajoubertza commented on #276
@tiagocoutinho What is in the exe files you uploaded to pypi - are they like wheels inside an exe?  How exactly did you make them?  Could they be installed in a Conda environment on Windows?

[2019-05-04 06:24] ajoubertza commented on #255
Release has been out for some time now, so closing this.

[2019-05-04 06:24] #255 closed, assigned to tiagocoutinho

[2019-05-04 08:25] tiagocoutinho commented on #276
There is no wheel. After installation you end up with a `tango` directory inside `site-packages` which contains exactly the same as a linux installation. The only difference is that instead of having a `_tango.so` you have `_tango.pxd`

I haven't tried. My guess is, since it is not a wheel, pip does not support it.

I can have a look and see how hard it is to make a wheel. If I succeed there might

[2019-05-04 11:32] ajoubertza commented on #275
Hi @mliszcz.  Thanks for the detailed report

I think it is a packaging or build environment issue.  I tried building PyTango 9.3.0 in an environment like you described, and I can do `import tango` with getting the `ImportError`.  Another clue to environment problems is that `_multiarray_umath` didn't exist in numpy until 1.16.0.  It isn't referenced in the PyTango code either, so seems like you h

[2019-05-04 14:25] mliszcz commented on #275
Thanks @ajoubertza!

You were right. I have numpy version mismatch:

[code]

multiarray_umath reference is embedded in tango module:

[code]

I think we can close the ticket, as there is no issue on PyTango side (just wrong configuration on my machine).

BTW here's one possible reproduction inside an empty docker container:

[code]

[2019-05-04 14:25] #275 closed, assigned to nobody

[2019-05-04 17:35] tiagocoutinho commented on #276
I have uploaded wheels to Pypi.

On windows, `pip install --pre pytango` should now install PyTango correctly (inside or outside a conda environment).

Conda packages will require a little more love :-)

When #277 is accepted we can think of an official 9.3.1

[2019-05-06 08:14] sdebionne commented on #276
I made a [pytango package for Windows](https://anaconda.org/esrf-bcu/pytango) some time ago (available on our `esrf-bcu` channel). It's basically a repackaging of the binaries in the`.msi` files generated by the pipeline but that worked fine so far. The recipe is as simple as this:

[code]

Recompiling might not be actually necessary to build the conda package.

[2019-05-06 12:12] tiagocoutinho commented on #276
Thanks for the hint @sdebionne. I think since we have a wheel it should be even simpler.

[2019-05-06 12:48] vxgmichel commented on #276
@sdebionne @tiagocoutinho
Hi guys! Aren't the pytango wheel binaries statically linked? A windows conda package for pytango should link dynamically to the other installed packages (tango, zeromq, omniorb, etc.). Avoiding the building of pytango within the conda build environment doesn't seem very doable to me :)

[2019-05-09 08:47] sdebionne commented on #276
@vxgmichel Hi Vincent! Is this a requirement for "symmetry" with the linux package or a guideline for Conda packaging? AFAIK, the Windows C++ tango package is also statically linked so this would need to be modified as well.

Does anyone know the rationale for statically linking on Windows in the first place?

[2019-05-10 07:27] tiagocoutinho commented on #276
To install pytango outside a conda environment, pytango needs to be statically linked because:
* boost provides no dll for different visual studio compilers, 32/64bits and python versions
* tango c++ is very picky about the omniorb and zeromq versions so it provides its own versions of DLLs for omniorb and zeromq
* tango c++ installation uses arbitrary installation directory so the C++ DLLs are no

[2019-05-10 10:02] vxgmichel commented on #276
Hi @tiagocoutinho :)

Is it really that bad? I had the intuition that conda-build would help with most of the issues you described. There are probably windows recipes for boost python projects on conda-forge, maybe getting inspiration from them would help?

I can see of few points:
- It's confusing to have a different linking policy on linux and windows (for conda packages)
- It's nice to be able

[2019-05-11 09:07] tiagocoutinho commented on #276
Hi @vxgmichel ,

This is the typical thing which starts as a simple task and ends up eating a lot of your time :-).
Conda & cmake it might make things a little easier.

I agree with all your points.
I also agree that if someone has availability and interest it would be a nice thing to have.
For me, the one condition would be that both conda and non-conda packages on windows come from the same kind

[2019-05-11 09:21] tiagocoutinho commented on #266
Motivated by this issue and the fact that, together with @vxgmichel, we informally agreed a long time ago that pytango database should be a separate project from tango, we (me and @jairomoldes) have created a [pytango-db](https://github.com/ALBA-Synchrotron/pytango-db) repository.

Your issue should already be **solved** in this project.

If the @tango-controls/pytango-developers agree:
* mark thi

[2019-05-11 09:21] #266 closed, assigned to nobody

[2019-05-12 07:49] andygotz commented on #276
+1 for naming the static version pytango-static

@tiagocoutinho thanks for working on this!

[2019-05-13 09:53] sdebionne commented on #276
That might be a good use case for [Conda Features](https://docs.conda.io/projects/conda-build/en/latest/concepts/features.html)?

[2019-05-21 06:54] tiagocoutinho commented on #276
Indeed. So we should:
* create a `pytango` package, with a feature `pytango-static`
* A metapackage called `pytango-static` that tracks the `pytango-static` feature

Does everyone agree?

The windows build seems to be working fine so a new package could come out soon.

[2019-05-21 11:55] sdebionne commented on #276
@tiagocoutinho I have never used this Features feature before but AFAIU the feature and metapackage could be just `static` and be reused for the `tango` package is needed, no?

[2019-05-27 08:53] laurent-claustre commented on #268
Hi with the latest package in preparation, could we have this issue fixed as well?
Thanks for your help.

[2019-05-27 12:06] aureocarneiro commented on #244
Hey @hardion can I do the PR or you are working on that ?

[2019-06-07 14:41] nfalcoz opened #279 "Get device status"
Dear All,
we use the method described in : https://tango-controls.readthedocs.io/en/latest/tutorials-and-howtos/how-tos/how-to-pytango.html to check the status of our device servers.
For that we used the following  code :
[code]
for some devices we got the message :
[code]
but the device is stopped.
does it mean the device is badly stopped ?

and also for some cases :
[code]
what does mean the '?'

[2019-06-18 08:45] bourtemb commented on #279
Yes. It looks like the device server didn't get the time to unregister before stopping.

I guess it means that the device server has never been stopped until now. So it is running and it is the first time it is running.

You can try to execute the ping command on its admin device?

[2019-06-18 09:58] mguijarr opened #280 "DevEncoded/bytearray commands flawed in Python 3"
(using PyTango 9.3.0, Python 3.7.3)

In a test Tango server, I have the following command:

    @command(dtype_in=bytearray)
    def DevSerWriteChar(self, chars):
        self.buf += chars

When calling it from a PyTango client like this:

I get the following exception:

[code]

As far as I have seen, `bytearray` is converted to `DevEncoded` - but it seems something is missing to handle it properl

[2019-06-19 07:24] ajoubertza commented on #279
@nfalcoz There are also some useful tools for querying and modifying a TANGO system programmatically provided by the fandango project ([readthedocs](https://tango-controls.readthedocs.io/en/latest/tutorials-and-howtos/how-tos/how-to-fandango.html), [github](https://github.com/tango-controls/fandango)).

[2019-06-20 08:54] hayg25 commented on #279
Dear @bourtemb,
so for you, the "standard" method to access the list of running devices is the one described in this issue or you would recommend another method?
For example, one could try loop over the DS using a try/except but this takes time ...
Concerning the ping command, you mean using tango_admin ?
I tried for example tango_admin :
[code]
for example I tried :
[code]
no output ...

thanks f

[2019-06-20 19:08] ajoubertza commented on #280
I tried this out and get the same error as you, @mguijarr.  I see a few problems:
- When using `DevEncoded`, we need a tuple with two elements.  First is the custom "encoding type" string, and then the actual data of interest.  In your example, you are only using a single parameter instead of tuple.
- Even with a tuple, the `bytearray` still doesn't work (same "No registered converter" error).  Ho

[2019-06-20 19:33] ajoubertza commented on #279
Hi @hayg25

I'm not sure if there is a "standard" way to do this, but here are some more options:
- A scriptable option is via Fandango's Astor-like controls:  https://tango-controls.readthedocs.io/en/latest/tutorials-and-howtos/how-tos/how-to-fandango.html#start-stop-all-device-servers-in-a-machine-like-astor-stop-all
- If you prefer a graphical tool, see Astor ([github](https://github.com/tango-

[2019-06-23 13:47] mguijarr commented on #280
@ajoubertza thanks for having tried my code and thanks for your help.

Still, I do not understand if I am doing something wrong or if there is a bug in PyTango ?

I am asking because I can change the code to make the proper calls with tuples and with bytes however the documentation does not invite to do so...

[2019-06-24 10:24] sdebionne commented on #276
Thanks for the Windows package for v9.3.1dev1. Is there any chance to get one for python 3.6 and 3.7 as well? I could not find the source of the recipe in the repo, is it in a external repo? Is there any plan to release pre-compiled wheels on PyPi as well?

[2019-06-24 12:16] ajoubertza commented on #280
@mguijarr I think you are doing something wrong - DevEncoded types don't work the way you are using them.  It also seem that the documentation is not clear for about using `bytearray` for commands and attributes.

Please propose an update to the documentation.

[2019-06-24 13:24] mguijarr commented on #280
@ajoubertza Now I find it even more weird: did you check `type(chars[1])` ? It is... `<class 'str'>` !

So, even using `DevEncoded` the proper way, it gets transformed to a string somewhere.

Edit: this is true for the server. On the client, second item of the tuple is of type 'bytes' as expected.

This is driving me crazy :face_with_thermometer:

[2019-06-25 19:54] ajoubertza commented on #280
@mguijarr Yes, I see the type is `str`, which is strange.  `bytes` would be better.

In issue #216, a similar issue was raised, although that was with attributes.  After that fix, I can see that when writing to an attribute, the type on the server side is `bytes`.  That is inconsistent with the command.  The command also doesn't work with arbitrary bytes.

Note:  under Python 2.7, the code below d

[2019-06-25 20:35] mguijarr commented on #280
Thanks @ajoubertza - tell me if you need some help from my side. I cannot devote much time to this, though ; as a background task I try to improve integration tests for BLISS our new beamline experiments control system at ESRF, through the use of simulation devices or communication channels (like serial lines).

[2019-06-25 20:58] ajoubertza commented on #280
@sdebionne Could you maybe help with this, please?  Similar to the issue you fixed with the attributes (PR #226).  I don't know much about the C++ wrapper.  See the PR linked above - I've just added some tests that show the problem.  You could continue in that branch.

[2019-06-26 14:47] sdebionne commented on #280
@ajoubertza Sure, I'll try to find some time to look into this. Thanks for the tests, it will make it easier to reproduce and fix.

[2019-07-01 07:09] ajoubertza commented on #276
The pre-release on PyPI already includes wheels for Python 3.6 and 3.7:
https://pypi.org/project/pytango/9.3.1.dev1/#files - is that not what you are looking for?

AppVeyor + cmake is used to generate the wheels.  https://github.com/tango-controls/pytango/blob/develop/appveyor.yml.  The repo's readme has a badge linking to the latest AppVeyor builds:  https://ci.appveyor.com/project/tiagocoutinho/

[2019-07-01 07:35] sdebionne commented on #276
Sorry, I was talking about conda. The `tango-controls` channel has only support for win/py27. I did not check Tiago's channel before and there is indeed everything I need there, awesome!

[2019-07-01 13:00] dmiego opened #282 "Wrong data type conversion - 'int' to DevLong or DevLong64"
Hello.

When I create a class using Pogo and specify the type of an attribute as "DevLong", Pogo generates dtype='int'. It's OK, according to the table of equivalences in the documentation.
But when I was testing the DS from "Test Device" in Jive, I've noticed that 'int' converts to the DevLong64.

So I've created test server to test if any other types are not converting right.
- int -> DevLong64

[2019-07-03 20:42] ajoubertza commented on #282
Hi @Diego91RA.  Yes, you have noticed something interesting.  Thanks for the nice screenshots.

From what I can see in the git history:
- PyTango < v8.1.8 was interpreting `dtype='int'` and `dtype=int` as `DevLong`.
- PyTango [v8.1.8 to  < v9.2.0](https://github.com/tango-controls/pytango/commit/e44430434a44a2db3deb661f30ac8fc8e6c5679c) there was inconsistency - `dtype='int'` was `DevLong`, but `d

[2019-07-04 06:40] dmiego commented on #282
Hi @ajoubertza.

For me there is no big difference between 1 and 2 option.
I just wanted you to know that something works not the way it was documented.

Actually Pogo lacks many PythonHL features, which are mentioned in the issues in Pogo repo. From new style import of pytango module to polling and things like wrong type conversion.
These bugs are not so dramatic for experienced users (they can w

[2019-07-09 15:18] andygotz commented on #282
This could be a good time to complete the Pogo PythonHL templates to support all features of PythonHL. Who could make a list of the missing features?

[2019-07-11 09:45] AleksanderStanikPV opened #283 "PyTango 8.1.8+ Windows package needed"
We are struggling with memory leaks in PyTango 8.1.6 when using commands with an array attribute. We tried to install  from pip (PyTango 8.1.8, 8.1.9) in which it seems that problem has been fixed. But we have a problem with pip install:
pip install git+https://github.com/tango-controls/pytango.git@v8.1.8
...
error: option --single-version-externally-managed not recognized
...

Maybe someone has l

[2019-07-11 09:55] andygotz commented on #283
Hi @AleksanderStanikPV, some additonal info:  as you know we have CI for the LTS version of Tango 9 for Windows. This depends on using cmake for compiling Windows. I am not sure how much work it is to make cmake work for Tango 8 on Windows. If you (or someone else) does not manage then the only option is to recompile Tango 8.1.8 and PyTango manually using Visual Studio.

The experts can correct me

[2019-07-11 18:46] ajoubertza commented on #283
I'm not an expert on Windows builds, but looking at the cmake and appveyor files we are using for Windows V9 builds, it won't be that easy.  A few issues:
- getting the correct Windows builds of the cppTango and Boost libraries.
- small changes to the PyTango cpp code may be required to get compilation working (we needed this for V9).

Can anyone remember where the 8.1.6 Windows builds on PyPI cam

[2019-07-12 12:09] kobietaodkodu commented on #120
I think that it will be worth opening [PyTango 8.1.8+ Windows package needed #283](https://github.com/tango-controls/pytango/issues/283)

[2019-07-16 12:48] aureocarneiro opened #284 "New HotFix release of PyTango for Sardana 2.7.1, 2.7.2 and 2.8.0"
Hey,

The new Sardana versions (2.7.1, 2.7.2 and 2.8.0) are not compatible with the latest PyTango (9.3.0).
This is the issue. #271
This is the PR already merged on develop branch #273

So I want a small hotfix release for we can follow the upstream versions at MAX IV.

Thank you,

/Aureo

[2019-07-16 13:50] tiagocoutinho opened #285 "Server on Py3 seg faults on wrong command/attribute result"
On python 3, a pytango server segfaults in the following scenarios.

* command is supposed to return a string/string[] and returns something else
* attribute is supposed to return a string/string[]/string[][] and returns something else

On python 2, a TypeError is raised

Tested with PyTango 9.3.1dev1 on linux mint 19 64bits with Tango c++ 9.3.3

The following examples all fail:
[code]

[2019-07-16 13:55] tiagocoutinho opened #286 "Cleanup compilation warnings"
A lot of compilation warnings occur when compiling pytango on linux.

99% of these warnings are coming from boost-python or 0MQ C++.

It would be nice to clean these until pytango replaces boost and 0MQ C++ fixes the warnings

[2019-07-16 13:58] tiagocoutinho opened #287 "Prepare 9.3.1"
This is to inform the community that 9.3.1 is being prepared

- [x] Read steps in the how-to-contribute docs for making a release
- [x] Pull request to update changelog and bump version
- [ ] Update `.travis.yml` with a conda package using a final cppTango 9.3.x release?
- [x] Merge PR (this is the last PR for the release)
- [x] Merge develop into stable
- [x] Make sure Travis and Appveyor are OK

[2019-07-16 14:00] tiagocoutinho commented on #287
Hi @tango-controls/pytango-developers,

I was thinking it would be nice to have a 9.3.1.

For ALBA, it would be important to include #285 and #286.

Does anyone have something more they would like to see in the release?
Thanks in advance for the help

[2019-07-17 09:55] ajoubertza commented on #282
@andygotz SKA should be looking at Pogo PythonHL templates "soonish" (not before September, 2019).

Since no one has any strong opinions on the options I've proposed.  I'm going with option 1:

For now, just doing changes in PyTango.

[2019-07-17 09:55] ajoubertza commented on #287
@tiagocoutinho A new release sounds good.  That would also help with the request in #287.

I would have liked #281 to be included, but not sure if @sdebionne has made any progress on it?  If not, does it look like something you could fix, @tiagocoutinho?

I will also make a documentation update following #282.

[2019-07-17 10:34] tiagocoutinho commented on #287
Cool!

Sure, I can have a look at it. I synchronize with @sdebionne to make sure we are not duplicating work.

[2019-07-17 11:32] sdebionne commented on #287
I did have a quick look at #281 but could not find anything obvious. I'll try got give it another go next Friday. My guess was that a converter from `PyByteArray` to `char *` was missing but that did not fix the issue.

[2019-07-17 16:43] #286 closed, assigned to tiagocoutinho

[2019-07-17 17:32] ajoubertza commented on #284
@aureocarneiro In case you didn't see the other new issues, the new release is in progress: #287

[2019-07-17 17:32] #284 closed, assigned to nobody

[2019-07-19 07:07] laurent-claustre commented on #276
Hi,
Is there some progress to get a conda package for windows and python 3?
Thanks for your help.

[2019-07-19 14:46] picca opened #291 "error: ‘False’ was not declared in this scope"
Hello, I know that this is quite old, but I would like to share this error during a build on Debian unstable.

Cheers

Fred

[code]

[2019-07-19 15:10] ajoubertza commented on #291
@picca This has been fixed.  Available since v9.3.0.
See PR #262.

Can I close this issue?

[2019-07-19 15:15] picca commented on #291
Yes, I was just asking because I just trig one of my CI pipeline.

I am waiting for tango 9.3.X before requesting an upload of pytango 9.3.3

Cheers

Fred

[2019-07-19 16:05] reszelaz opened #292 "DS crashes when unsubscribing from events in __del__"
Hi PyTango experts,

I would like to report an issue that we found in Sardana project after migrating it to Python 3.

First of all sorry for the complexity of the exaples (one uses pure PyTango and another one Taurus) to reproduce it, but I was not able to reduce them more. Also sorry if the problem is finally not in PyTango but in Tango. But I do not have knowledge on how to reproduce it with Ta

[2019-07-19 16:15] sdebionne commented on #280
A quick update on this! @tiagocoutinho I have identified the issue:

in `command.cpp:225` we have:

[code]

I believe the conversion of `encoded_data` to string is incorrect here (in Python 3).

[2019-07-19 16:22] sdebionne commented on #280
And the fix is:

[code]

[2019-07-19 16:23] andygotz commented on #280
Thanks a lot!

[2019-07-19 16:43] andygotz commented on #291
I know @bourtemb is working on completing the 9.3.x release. He is close to completion.

We had a question for @picca : when would the new release of pytango 9.3.3 be included in the debian packaging e.g. would it be available for Debian 10 as a replacement for 9.2.5?

[2019-07-19 17:31] picca commented on #291
Yes it possible, we call this a backport.
So once we have a tango 9.3.3 in testing, it will be possible to prepare a backport for Debian 10 which is already released ;).
I think that pytango should be also backported in order to have a coherent stack.
We also need to check that taurus from buster is compatible with pytango 9.3.3.

So, I would say, it is important to prepare a fully working stack i

[2019-07-19 20:50] jkotan commented on #292
Hi Zibi,

Have you tried to call content of the `__del__` method (unsubscribe events) explicitly from the thread before `__del__` is called? Do you get the same error?
 It is not defined when  gc calls `__del__` so it is better not to place there any serious code.

[2019-07-20 14:03] ajoubertza commented on #291
OK.  Closing this.
(Note: next pytango release will be 9.3.1).

[2019-07-20 14:03] #291 closed, assigned to nobody

[2019-07-20 14:17] ajoubertza commented on #280
Thanks @sdebionne.  Looking at that fix, I notice a similar function in `to_py.h`.
https://github.com/tango-controls/pytango/blob/19e4c5daf5916384b030b4fb1e373d72d1c0c0e7/ext/to_py.h#L20-L31

I wonder if we should be using `PyBytes_FromStringAndSize` or `PyMemoryView_FromMemory`?  This fix would be the first usage of `PyMemoryView_FromMemory`.

(And I wonder why we have similar code in two places)

[2019-07-20 18:55] #279 closed, assigned to nobody

[2019-07-20 19:43] ajoubertza commented on #292
I've started looking at this.  Don't know what the cause of the crash is yet, but I don't think `unsubscribe_event` would be executed in Python 2.

The `PyTangoDevice` and `PyTangoAttribute` create a circular reference.  [Prior to Python 3.4](https://docs.python.org/2.7/library/gc.html#gc.garbage), unreachable objects with `__del__` methods that are in a reference cycle are not released (they are

[2019-07-22 08:36] sdebionne commented on #280
I saw the similar code in `to_py.h` but since it already uses `PyBytes_FromStringAndSize` I thought it was OK.

`PyBytes_FromStringAndSize` works as well and the use of `PyMemoryView_FromMemory` is not really motivated so let's stay with `PyBytes_FromStringAndSize`.

Now I am confused because the fix works on my local machine with both `PyBytes_FromStringAndSize` and `PyMemoryView_FromMemory` but

[2019-07-22 13:01] sdebionne commented on #280
I reverted tango to 9.2.5a from 9.3.2 on Linux and it works. On Windows I am using 9.3.3. does anyone have information about a bug fixed in 9.3.3 regarding DevEncoded -that would not be mentionned in the Changelog?

[2019-07-22 16:25] mliszcz commented on #283
Hi @AleksanderStanikPV,

I confirm, below code increases server's VmRSS by ~6MB on each run on 8.1.6. The problem is not visible in 8.1.8:
[code]

pip install git+https://github.com/tango-controls/pytango.git@v8.1.8
...
error: option --single-version-externally-managed not recognized
...

This is because PyTango 8.x is still using distutils which does not support this option. As a workaround, you

[2019-07-22 20:01] ajoubertza commented on #280
Thanks for the change.
I see the all the Python 3 builds failed with:
`UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd4 in position 0: invalid continuation byte`

That is strange.  We shouldn't be trying to decode the bytestring to unicode - it is just some random bytes, not text.

[2019-07-23 05:55] tiagocoutinho commented on #283
Hi @AleksanderStanikPV,

Would you consider using 9.3.1dev1?

It should be API compatible with any pytango servers/clients you have running.
Since PyTango is statically compiled with its own version of Tango C++, you can even have installed the tango 8 windows package and the pytango 9 together in the same machine. They don't interfere.

It is available for windows on pypi.
It is a pre-release so

[2019-07-23 18:55] ajoubertza commented on #280
The same `UnicodeDecodeError` was also raised in the [first test run](https://travis-ci.org/tango-controls/pytango/jobs/550491687), before any of your changes, so doesn't seem like the changes are in effect.

[2019-07-23 21:03] ajoubertza commented on #280
Build issue on Travis has been resolved - see notes in the related PR.

[2019-07-24 07:38] #285 closed, assigned to tiagocoutinho

[2019-07-24 07:59] ajoubertza commented on #280
Fixed in #281.

[2019-07-24 07:59] #280 closed, assigned to nobody

[2019-07-24 08:28] ajoubertza commented on #287
@tiagocoutinho Can we get a conda build of cppTango 9.3.3 and use that for tests?

[2019-07-25 18:51] ajoubertza commented on #287
@tiagocoutinho Are you busy preparing a branch for this version, or should I?

[2019-07-26 07:35] tiagocoutinho commented on #287
@ajoubertza, I can take care of the conda package for cppTango.

It would be great if you could prepare the branch for pytango 9.3.1.

I am also trying to prepare git repos for conda recipes for both cppTango and pyTango.
I have a question (actually a generic question for the tango community):
I would like to put them in gitlab to take advantage of gitlab CI. Is it ok with you or you prefer to put

[2019-07-26 11:02] ajoubertza commented on #287
OK, will do.

I like the code to live in Github, since all the users work on it already have access, and know the system.  Also nice to have a single place to look for tango-related code.   That being said, Gitlab's CI is nice too.  SKA are using both.  The development and "source of truth" is on Github, but they [mirror](https://docs.gitlab.com/ee/workflow/repository_mirroring.html) the repos ont

[2019-07-26 12:42] tiagocoutinho commented on #287
Sounds good to me

There should be no problem. @gjover works 10 meters away from me :-)

[2019-07-27 05:17] #282 closed, assigned to nobody

[2019-07-30 06:37] ajoubertza commented on #287
@tiagocoutinho Are you close to having a cppTango 9.3.3 conda package ready?  I'd like to update the Travis tests to use it.  Similarly, what is happening with the PyTango conda recipe?

Do we need to wait for these before the release, or can I do it today?

[2019-08-06 18:05] ajoubertza commented on #287
@tiagocoutinho Any feedback on my questions from last week (see above)?  If not, I'm going to proceed with this release tomorrow.

[2019-08-07 22:04] ajoubertza commented on #287
I've tried building the release, but the [AppVeyor artefacts](https://ci.appveyor.com/project/ajoubertza/pytango/builds/26544542/job/62hoomw1js37sjfe/artifacts) come out as `9.3.1dev1` instead of `9.3.1`.  I thought I could just rename the wheel files, but their contents also have this incorrect version info.

This build is with the `v9.3.1` annotate tag present.  The log shows the expected versio

[2019-08-08 06:07] ajoubertza commented on #287
Never mind - I made a mistake - forgot to update [tango/release.py](https://github.com/tango-controls/pytango/blob/5ee7748d881827badcd13748bc57f5bd6046d8a2/tango/release.py#L48) file!  (Even the sdist build had the `9.3.1dev1` version)
I'm going to update and move the tag.

[2019-08-08 13:40] ajoubertza commented on #287
@andygotz I've uploaded the v9.3.1 PyTango release to PyPI. Can you please request someone at ESRF to build the Conda package?

[2019-08-09 12:16] tiagocoutinho commented on #287
Hi @ajoubertza,
Sorry for coming in so late.

I have started projects to build conda packages for Tango C++ on linux, PyTango on linux and PyTango on windows:

* https://gitlab.com/tiagocoutinho/tango-conda-recipes
* https://gitlab.com/tiagocoutinho/pytango-conda-recipes
* https://gitlab.com/tiagocoutinho/pytango-windows-conda-recipes

They are just staging areas. We are of course free to restruct

[2019-08-09 17:58] ajoubertza commented on #287
Hi @tiagocoutinho
I was wondering what happened.  Can you arrange with @andygotz that the ESRF pipeline is used to build the Linux conda package in the meantime?  I'd like to announce this release, but we're supposed to wait until the conda package is available.

[2019-08-09 18:00] ajoubertza opened #296 "six 1.12 not available on older Linux distributions"
Since v9.3.1, the requirement for `six >= 1.12` causes a problem with Ubuntu deb packaging on Ubuntu 18.04 - the only available `python-six` package is version 1.11.  This is most likely an issue on Debian 9 and earlier as well.

Example of error on Ubuntu 18.04:
[code]

We only need six 1.12 for the `ensure_binary` function, so a workaround is to patch the source to implement it directly in PyTan

[2019-08-11 17:54] tiagocoutinho commented on #287
@ajoubertza, I have uploaded the conda packages for python 2.7, 3.6 and 3.7

The linux repository I mentioned above is configured with gitlab CI to build conda packages.

The windows repository contains the script to build the conda package + documentation on how to do it. There is no CI for it.

Let me know if there is something missing

[2019-08-12 07:52] ajoubertza commented on #287
Thanks for conda packages @tiagocoutinho.

For the Windows conda packages, the [previous discussion](https://github.com/tango-controls/pytango/issues/276#issuecomment-494263998) about this suggested we use feature like "python-static".  Did that happen yet?

[2019-08-12 08:22] ajoubertza commented on #276
@laurent-claustre and @sdebionne  As of v9.3.1, there are [conda packages](https://anaconda.org/tango-controls/pytango) for Windows (64-bit).  We'd appreciated some feedback - do they work for you?

They are built from the wheels which used cppTango 9.3.3, so, if I understand correctly, having a different version of cppTango installed in conda won't make a difference.

[2019-08-12 14:09] sdebionne commented on #276
Thank you @tiagocoutinho for the conda package for Windows. I did a quick test with Lima and it works for me. In the near future, I am going to remove my hand-made pyTango package for Windows from the esrf-bcu channel to avoid confusion.

You are right, since cppTango is currently linked statically on Windows, a cppTango package can be installed along pyTango without interfering.

[2019-08-12 15:33] ajoubertza commented on #276
Thanks for testing, @sdebionne.

This might also lead to confusion if someone expects PyTango to use the separately installed cppTango package.  Anyway, glad it works.

[2019-08-12 15:34] #276 closed, assigned to nobody

[2019-08-12 15:39] ajoubertza commented on #287
Sorry, I don't know enough about conda to see if something is missing.  Seems like the recipes are working.   Would like them to move to https://gitlab.com/tango-controls (or maybe they should just be added to this repo?).

[2019-08-14 14:54] tiagocoutinho commented on #276
Me too :-) Thanks for testing

[2019-08-16 14:51] laurent-claustre commented on #276
I did test with Lima simulator and basler cameras, it works fine.
Thanks a lot for conda users.

[2019-08-26 09:03] birkenfeld opened #298 "Object memory leak when calling repr(DeviceProxy)"
Calling `repr(device_proxy)` creates a reference cycle that apparently involves non-GC aware objects that should be GC aware.

Reproduce with:
[code]

When you comment out the `repr(proxy)` line, the printed object count stays constant as it should. With the `repr` call, objects are leaked on every loop iteration.

The problem is caused by the result of `dev.info()` being assigned to `dev._dev_inf

[2019-08-26 09:06] birkenfeld opened #299 "Object memory leak when reassigning DeviceProxy methods"
This is a similar situation to #298 but involves other objects.

For our control systems, we wrap the methods `command_inout`, `read_attribute` etc. to translate Tango states and exceptions to the equivalents of the control system. So the ability to do this is critical for us, more so than the `repr` leak...

Reproduction:
[code]

[2019-08-27 06:35] ajoubertza commented on #299
@birkenfeld Thanks for the clear explanation of the issue.  That's an interesting use case.  I'll have a look (although the experts on the C++/Boost part of PyTango would be better placed).

[2019-08-27 06:36] ajoubertza commented on #298
@birkenfeld Interesting problem.  I wonder if the solution to both issues is the same.

[2019-08-28 14:26] sk1p opened #300 "boost-python lib name mismatch on current debian"
I'm trying to install pytango on a Debian unstable machine via pip. In the linking stage, it fails because it can't find `boost_python-py37`:

[code]

The `-dev` package contains the following:

[code]

So it has `libboost_python3-py37.so` and `libboost_python37.so`, but no `libboost_python-py37.so`.

(This is consistent with the Ubuntu package: https://packages.ubuntu.com/disco/amd64/libboost-pyt

[2019-09-05 16:00] reszelaz opened #302 "Tango client hangs when it holds stateless event subscription which constantly fails and meanwhile destroys AttributeProxy"
Hi PyTango Experts!

I would like to report the following strange issue.

I have a PyTango client which subscribes in the stateless mode to an attribute. This subscription however constantly fails due to `API_EventPropertiesNotSet` - event properties (abs_change or rel_change) for this attribute are not set.

Meanwhile, this client reads one attribute using a disposable `AttributeProxy`. I have ob

[2019-09-05 20:35] ajoubertza commented on #299
@grm84 and I had a look at this using the pybind11 branch that is under development by @grm84.  The problem doesn't occur there, which is good.  However, it will still be a while before that work is completed, which doesn't help you.

[2019-09-06 09:38] stanislaw55 opened #303 "Dynamic attribute spectrum max dim"
Hello PyTango developers,
I have a question. Is it possible to create dynamic attribute in Device with Spectrum type and `max_dim_x` specified somehow?

[2019-09-06 12:42] stanislaw55 opened #304 "Configure timeout"
Hello PyTango developers,
I have following question: in one of my devices, connection takes significant amount of time, more than 3000 ms. It is one single operation so it cannot be split into multiple actions.

When I try to execute command, there's timeout error from Tango site. How can I solve my problem? Should I use green mode? Or is there any way to make timeout threshold higher for this one

[2019-09-06 13:24] piogor commented on #304
Hi @stanislaw55, it would be probably good to post this kind of question on [Forum](https://www.tango-controls.org/community/forum/c/development/python/), too.

Have you tried:
- to use `wait` and `timeout` arguments of [command_inout](https://pytango.readthedocs.io/en/stable/client_api/device_proxy.html#tango.DeviceProxy.command_inout)?
- or call [set_timeout_millis(self, timeout)](https://pytang

[2019-09-06 13:32] stanislaw55 commented on #304
Hi @piogor
Thanks for rapid reply!
Solution you proposed seems right. But I have a question about threads: is `tango.server.Device` thread-safe?

[2019-09-06 13:42] piogor commented on #304
For this, I am not an expert.  However, I used to use threads created within a python device, just remembering to have a mutex around data modification calls (like set_state() ), and it works.

[2019-09-06 13:43] stanislaw55 commented on #304
So I will try with threads.
Thanks!

[2019-09-06 13:44] #304 closed, assigned to nobody

[2019-09-06 14:02] jkotan commented on #304
Hi,
In my opinion it is better not to cali `set_state()` from your user thread. The mutex may not help in this case  because it's internal calls are not protected.

[2019-09-10 07:07] stanislaw55 commented on #304
Hi @jkotan
Thank you for your answer. Do you know any method do configure Tango timeout on command?

[2019-09-10 08:14] jkotan commented on #304
I think Piotr has already answered for this question, i.e. set_timeout_millis(self, timeout) or wait and timeout arguments of command_inout or threads.

[2019-09-10 13:25] stanislaw55 opened #305 "Read value for attribute XXX has not been updated"
Hello PyTango community
I am using dynamic attributes in my DS and everything works fine when launching DS instance. However, when I try to read one of my dynamic attributes, following error appears.

`Read value for attribute XXX has not been updated`

I've used examples from documentation to create DS. Have someone the same issue?
PyTango: 9.2.2
Tango: 9.2.5

[2019-09-10 15:22] tiagocoutinho commented on #305
@stanislaw55, could you post the code you did? It would give a better clue on where the problem might be.

Thanks in advance

[2019-09-10 16:10] bourtemb commented on #302
Hi @reszelaz,
The problem you are describing seems to be very similar to https://github.com/tango-controls/cppTango/issues/316 which was reported a while ago.
Except that in your case, the GIL seems to be involved but the other lock involved is the same as in https://github.com/tango-controls/cppTango/issues/316 and this one is there to protect the event callbacks map.
I managed to reproduce your

[2019-09-10 20:44] reszelaz commented on #302
Thanks @bourtemb for looking into this!
Just if it helps in setting the priorities, from the point of view of the Sardana project, the issue #292 is much more urgent. Actually there I found a very suspicious [backtrace](https://github.com/reszelaz/test-tango-py3#test-tango-py3) from `EventConsumerKeepAliveThread` (`DelayEvent` constructor). Maybe there could be something done on the C++ level to a

[2019-09-11 09:02] stanislaw55 commented on #305
Hi @tiagocoutinho
Of course, please see code below

[code]

It is stripped down, minimal example of what I've coded.
Sorry for not attaching code previously.

[2019-09-11 15:53] bourtemb commented on #292
Hi @reszelaz,

Looking at the backtrace in https://github.com/reszelaz/test-tango-py3 README, it looks like there is an exception thrown when trying to acquire a Tango monitor in your case.
(Not able to acquire serialization (dev, class or process) monitor)?
Only zmq::error_t exceptions seem to be caught in this case in DelayEvent constructor.
We could probably try to catch also errors related to

[2019-09-12 07:17] tiagocoutinho commented on #305
I confirm the bug @stanislaw55.

In the old versions of PyTango the way to code a read attribute method was something like this:
[code]

This was not very pythonic so a new interface was designed (the one you use) that looks more to what a python programmer would expect:
[code]

It seems the dynamic attributes have **not** been ported to the new interface. This is missing even in PyTango 9.3.1 and

[2019-09-12 07:29] stanislaw55 commented on #305
Thank you @tiagocoutinho!
Your workaround works just fine.

[2019-09-13 16:17] reszelaz commented on #292
First off all thanks @jkotan, @ajoubertza and @bourtemb for looking into this!
Also sorry for long silence from my side - this was due to holidays and also rush in finishing the migration of Sardana to Py3.

I have done explicit unsubscribes and, from my tests, it looks like the problem disappears. You can see the corresponding code in the [tango-test-py3/explicit_unsub](https://github.com/reszela

[2019-09-14 18:04] #287 closed, assigned to tiagocoutinho

[2019-09-16 12:49] mliszcz opened #306 "Cleanup not performed on SIGINT/SIGTERM if thread is started before call to tango.server.run"
Hi PyTango experts.

If I start a thread before calling `tango.server.run()`, no cleanup is performed when device server process is killed via signal (e.g. SIGINT or SIGTERM). Especially, the device is still marked as exported in the database.

I expect it to shutdown gracefully: call libtango's [`Util::shutdown_ds`](https://github.com/tango-controls/cppTango/blob/9.3.3/cppapi/server/utils_shut.cp

[2019-09-16 14:36] mliszcz commented on #306
Update: it also works if the thread is started from within `post_init_callback`.

[2019-09-20 16:33] AntoineDupre opened #307 "Concurrent event channel subscriptions"
Hi,

I notice that the tango event subscription on the client seems to not be thread safe. Two concurrent subscriptions (on whatever device/attribute) generate after 10 seconds two errors from the heartbeat:
[code]
The following example can trigger this problem:
[code]
It is also failing with Asyncio green mode (delegate subscription to a task instead to a thread)
I did not try with Gevent.
A simp

[2019-10-04 13:16] woutdenolf opened #308 "Change TANGO_HOST in process"
I need to get device proxies from different databases on different host without using the full device uri (I'm not actually creating the proxies myself, so I do not have control over the uri):
[code]
So the default TANGO_HOST is cached somehow. Can I clear this cache or set the default TANGO_HOST explicitely?

[2019-10-04 16:43] woutdenolf opened #309 "Unknown exception while trying to fill database cache"
When connecting to a database, I always get this message on stdout:
[code]
which is caused by handling an unknown exception in [Tango::Util::connect_db](https://github.com/tango-controls/cppTango/blob/f3efe02db1ef1bfd5347901f0e7b5e20aba478da/cppapi/server/utils.cpp#L1254). Is this something to worry about?

Minimal code to produce the message:
[code]
GDB:
[code]
Backtrace:
[code]

[2019-10-06 03:29] ajoubertza commented on #308
Hi @woutdenolf.

I'm not sure if it is possible.  I think the DB connection details may be stored in the `ApiUtil` singleton.  In v9.3.0 we added a method `ApiUtil.cleanup()` to deal with problems using `DeviceProxy` instances with multiprocessing.  See [issue](https://github.com/tango-controls/pytango/issues/259), and [doc](https://pytango.readthedocs.io/en/stable/howto.html#using-clients-with-mu

[2019-10-06 03:42] ajoubertza commented on #309
Is this related to #308?  I don't know why else you would be trying to use `connect_db`.  At least, I don't normally use it for a device server.

[2019-10-06 17:23] tiagocoutinho commented on #308
I agree with @ajoubertza.

When you import PyTango on a python process, it loads the underlying Tango C++ library. This library reads the  environment variable in an independent way from python so as far as I know there is no way from within python to affect that value.

My suggestion is that you supply your users with a method that is able to handle the tango URL as you see fit (see example below

[2019-10-06 17:32] tiagocoutinho commented on #309
@woutdenolf,

Please don't use `tango.Util.connect_db()`.
It is an internal method that should not be exposed.

Probably it would be wise on our side to remove from the PyTango library.

As for your the exception message you see:
Last time I had it was due to the fact that I was running an old version of the Database Server linking with an old tango library and the client used a more recent versio